.block-industries {
  position: relative;
  background: #12233d;
  padding: 0 32px;

  .block--header-title {
    color: #fff;
    text-transform: capitalize;
  }
  .block--header-description {
    color: #fff;
  }

  .block-background .grid {
    max-width: 990px;
    height: 60%;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: content-box;

    .col-1-3 {
      position: relative;
      height: 100%;
      border-left: 1px solid #324056;

      span {
        position: relative;
        display: block;
        color: #fff;
        opacity: 0.07;
        transform-origin: 0 0;
        transform: rotate(-90deg);
        font-weight: 800;
        font-size: 36px;
        top: 100%;
        left: -36px;
      }
    }
  }
}

.industries {
  max-width: 990px;
  margin: 0 auto;

  .industries-big {
    padding: 0 0 80px;
  }

  .industries-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 100px;
  }

  &--big-item-logo {
    position: relative;
    margin: 0 0 38px;

    img {
      position: relative;
      z-index: 10;
    }

    &::before {
      content: '';
      position: absolute;
      left: -4px;
      top: -4px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #d62c2c;
      z-index: 1;
      transition: all 250ms;
    }
  }

  &--big-item {
    padding: 0 20px 0 0;
    cursor: pointer;

    &:hover {
      .industries--big-item-logo::before {
        transform: scale(1.5);
        transform-origin: center;
      }
    }
  }

  &--big-item-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 4px;
  }

  &--big-item-description {
    color: #7d7ca9;
    font-size: 16px;
    font-weight: 600;
  }

  &--small-item-logo {
    margin: 0 0 18px;
  }

  &--small-item-title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 4px;
  }
}

@media (max-width: 1024px) {
  .block-industries {
    .block-background .grid {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .industries--small-item {
    text-align: center;
    margin: 0 0 26px;
  }

  .industries--small-item-title {
    max-width: 120px;
    margin: 0 auto 4px;
  }
}

@media (max-width: 768px) {
  .industries--big-item {
    margin: 0 0 40px;
    text-align: center;
  }

  .industries--big-item-logo {
    margin: 0 0 16px;
  }

  .industries--big-item-logo::before {
    left: 50%;
    transform: none;
  }

  .industries--small {
    display: flex;
  }

  .industries--small-item {
    width: 50%;
    text-align: center;
    margin: 0 0 26px;
  }

  .industries--small-item-title {
    max-width: 120px;
    margin: 0 auto 4px;
  }
}

.see-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  padding: 0 0 50px;

  &--text {
    margin-right: 15px;
  }

  .button {
    background: linear-gradient(12.16deg, #DE3535 3.82%, #E3621D 96.18%);
    color: #fff;
  }
}
