.lets-start {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    line-height: 28px;
    .lets-start-section {
        width: 50%;
        &.lets-start-text {
            font-size: 18px;
            color: #12233D;
            &>* {
                margin: 30px 0;
            }
            .lets-start-text-title {
                font-weight: 600;
            }
            .lets-start__author {
                margin-bottom: 5px;
            }
            .lets-start__author-position {
                font-weight: 600;
                color: #DE3535;
                margin-top: 0;
            }
            .button.lets-start-btn {
                width: 170px;
                color: #fff;
                background: linear-gradient(12.16deg, #DE3535 2.37%, #E3621D 96.81%);
                margin-bottom: 85px;
            }
        }
        &.lets-start-img {
            display: flex;
            background-image: url('/static/images/LetsStartComponentIlona.webp');
            background-position: bottom;
            background-repeat: no-repeat;
            min-height: 438px;
        }
    }

}

.block-lets-start {
    max-width: 860px;
    margin: 0 auto;
}

@media (max-width: 660px) {
    .lets-start {
        padding-top: 20px;
        position: relative;
        justify-content: flex-start;
        .lets-start-text {
            width: 70%;
        }
        .lets-start-img {
            position: absolute;
            right: 0px;
            bottom: 0;
            height: 50%;
            background-size: 100%;
        }
    }
}

@include for-mobile {
    .lets-start {
        .lets-start-text {
            width: 100%;
        }
        .lets-start__author-position {
            max-width: 200px;
        }
        .lets-start-img {
            background-size: 130%;
        }
    }

}
