.tech-stack {
  &--block {
    max-width: 990px;
    margin: 0 auto 20px;
  }

  &--block-title {
    color: #12233d;
    margin: 0 0 35px;
    font-weight: 600;
    font-size: 20px;

    &::after {
      content: '';
      display: block;
      margin: 24px 0 0;
      background: #d62624;
      width: 86px;
      height: 2px;
    }
  }

  &--block-list {
    margin: 25px 0;

    @include clearfix;
  }

  &--block-item {
    display: flex;
    float: left;
    align-items: center;
    width: 96px;
    height: 50px;
    margin: 0 20px 40px 0;
    position: relative;

    img {
      display: block;
      width: 96px;
      height: 50px;
    }

    .toggle-color {
      position: absolute;
      opacity: 0;
      transition: .6s;
    }

    .toggle-color:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
