.tech-stack {
  &--block {
    margin: 100px 0 0;
  }

  &--block-title {
    color: #12233d;
    margin: 0 0 40px;
    font-weight: bold;
    font-size: 24px;

    &::after {
      content: '';
      display: block;
      margin: 36px 0 0;
      background: #d62624;
      width: 86px;
      height: 2px;
    }
  }

  &--block-list {
    margin: 25px 0;
    @include clearfix;
  }

  &--block-item {
    display: flex;
    float: left;
    align-items: center;
    height: 80px;
    margin: 0 50px 0 0;
  }
}
