{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 2,
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "jsx-a11y/anchor-is-valid": 0,
    "prefer-destructuring": 0,
  },
  "plugins": [
    "jsx-a11y",
    "react",
    "async-await"
  ],
  "extends": [
    "plugin:jsx-a11y/recommended",
    "airbnb"
  ]
}
