<template name="_homeHeader">
  <header class="header" id="header" role="banner">
    <div class="container js-scroll-spy">
      <div class="row login-buttons">
        <div class='col-xs-12'>
          <!-- <a href="#" class="join button">Join</a>
          <a href="#" class="sign-in button">Sign in</a> -->
          <a href="#" class="login button">{{>loginButtons align="right"}}</a>
        </div>
      </div>
      <div class="row">
        <h1 class="header--logo col-xs-12">
          <a href="#" class="header--logo-link" title="KeenEthics">
            <span>Keen</span>
            <span class="-color-red">.</span>
            <span>Ethics</span>
          </a>
        </h1>
      </div>
      <div class="header--content row">
        <div class="col-xs-12">
          <h2 class="header--title title -big">
            <span class="-color-red">Ethical</span> development <br> of <span class="-color-red">keen</span> web-apps.
          </h2>
        </div>
      </div>
      <a href="#icon-list" class="header--arrow" title="Down">
        <div class="header--arrow-inner">
          <div class="header--arrow-triangle"></div>
          <div class="header--arrow-square"></div>
        </div>
      </a>
      {{> _listNavigation }}
    </div>
    <div class="stars-underlay"></div>
  </header>
</template>

