<template name="_listSocial">
  <ul class="list-social row">
    <li class="list-social--item">
        <a href="#" class="list-social--link">
          <img src="/images/social/upwork.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="#" class="list-social--link">
          <img src="/images/social/fb.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="#" class="list-social--link">
          <img src="/images/social/g+.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="#" class="list-social--link">
          <img src="/images/social/twitter.svg">
        </a>
    </li>
  </ul>
</template>

