<template name="_listSocial">
  <ul class="list-social row">
    <li class="list-social--item">
        <a href="https://www.upwork.com/o/companies/~0106b5437592391f94/" class="list-social--link">
          <img src="/images/social/upwork.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="https://www.facebook.com/KeenEthics.development" class="list-social--link">
          <img src="/images/social/fb.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="https://plus.google.com/103030720036135400511/about" class="list-social--link">
          <img src="/images/social/g+.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="https://twitter.com/keen_ethics" class="list-social--link">
          <img src="/images/social/twitter.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="https://github.com/keenethics" class="list-social--link">
          <img src="/images/social/git.svg">
        </a>
    </li>
    <li class="list-social--item">
        <a href="https://blog.keenethics.com/" class="list-social--link">
          <img src="/images/social/medium.svg">
        </a>
    </li>
  </ul>
</template>

