<template name="_listMediaServices">
  <ul class="list-media row">
    <li class="list-media--item col-xs-12 col-sm-4">
      <div class="list-media--media">
        <div class="list-media--img">
          <object type="image/svg+xml" data="images/planet.svg" alt="Planet">
            Your browser does not support SVG
          </object>
        </div>
      </div>
      <div class="list-media--headline">
        WHAT
      </div>
      <div class="list-media--subline">
        to start with?
      </div>
    </li>
    <li class="list-media--item col-xs-12 col-sm-4">
      <div class="list-media--media">
        <div class="list-media--img">
          <object type="image/svg+xml" data="images/rocket.svg" alt="Rocket">
            Your browser does not support SVG
          </object>
        </div>
      </div>
      <div class="list-media--headline">
        WHICH
      </div>
      <div class="list-media--subline">
        technology to choose?
      </div>
    </li>
    <li class="list-media--item col-xs-12 col-sm-4">
      <div class="list-media--media">
        <div class="list-media--img">
          <object type="image/svg+xml" data="images/constellation.svg" alt="Constellation">
            Your browser does not support SVG
          </object>
        </div>
      </div>
      <div class="list-media--headline">
        WHERE
      </div>
      <div class="list-media--subline">
        to find right people?
      </div>
    </li>
  </ul>
</template>

