<template name="_listIconsTechnologies">
  <div class="container-fluid">
    <ul class="list-icons row" id="icon-list">
      <li class="list-icons--item">
          <span class="list-icons--span -node"></span>
      </li>
      <li class="list-icons--item">
          <span class="list-icons--span -meteor"></span>
      </li>
      <li class="list-icons--item -angular">
          <span class="list-icons--span -angular"></span>
      </li>
      <li class="list-icons--item -react">
          <span class="list-icons--span -react"></span>
      </li>
      <li class="list-icons--item -mean">
          <span class="list-icons--span -mean"></span>
      </li>
    </ul>
  </div>
</template>

