<template name="_listMediaTeam">
  <ul class="list-media row">
    <li class="list-media--item col-xs-12 col-sm-6 col-md-3">
      <div class="list-media--media">
        <img class="list-media--overlay" src="images/astronaut-helmet.svg" alt="Astonaut Helmet">
        <div class="list-media--img -round" style="background-image: url(images/team/team-member-1.png)">
        </div>
      </div>
      <div class="list-media--headline">
        GREG BROWN
      </div>
      <div class="list-media--subline">
        Front-end
      </div>
      {{> _separator }}
      <div class="list-media--text">
        His shoe-in with Focus Lab came on account of his chummy roommie relationship with none other than Sam Stratton.
      </div>
    </li>
    <li class="list-media--item col-xs-12 col-sm-6 col-md-3">
      <div class="list-media--media">
        <img class="list-media--overlay" src="images/astronaut-helmet.svg" alt="Astonaut Helmet">
        <div class="list-media--img -round" style="background-image: url(images/team/team-member-2.png)">
        </div>
      </div>
      <div class="list-media--headline">
        MARY LI
      </div>
      <div class="list-media--subline">
        Project Manager
      </div>
      {{> _separator }}
      <div class="list-media--text">
        Will grew up camping all around the Great American West. His stint on the East Coast has led him into the Smokey Mountain backcountry.
      </div>
    </li>
    <li class="list-media--item col-xs-12 col-sm-6 col-md-3">
      <div class="list-media--media">
        <img class="list-media--overlay" src="images/astronaut-helmet.svg" alt="Astonaut Helmet">
        <div class="list-media--img -round" style="background-image: url(images/team/team-member-3.png)">
        </div>
      </div>
      <div class="list-media--headline">
        ALEX SAILER
      </div>
      <div class="list-media--subline">
        UI/UX Designer
      </div>
      {{> _separator }}
      <div class="list-media--text">
        During that time he found his true passion and moonlighted for five years as a (mostly) self-taught designer.
      </div>
    </li>
    <li class="list-media--item col-xs-12 col-sm-6 col-md-3">
      <div class="list-media--media">
        <img class="list-media--overlay" src="images/astronaut-helmet.svg" alt="Astonaut Helmet">
        <div class="list-media--img -round" style="background-image: url(images/team/team-member-4.png)">
        </div>
      </div>
      <div class="list-media--headline">
        JOSHUA KROHN
      </div>
      <div class="list-media--subline">
        Back-end
      </div>
      {{> _separator }}
      <div class="list-media--text">
        Joshua Krohn took the scenic route to becoming a designer. He found his true passion and moonlighted for five years as a (mostly) designer.
      </div>
    </li>
  </ul>
</template>

