<template name="_services">
  <div class="container services">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img">
          <svg class="keen-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="210" height="210">
            <style>
              .keen-eye .st0{fill:#EF4324;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-eye .st1{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-eye .st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-eye .st3{fill:#333333;}
            </style>
            <circle class="st0" cx="50.7" cy="43.1" r="14.8"/>
            <path class="st1 keen-eye--hand" d="M110.6,58.7c0,4.5-3.6,8.1-8.1,8.1c-4.5,0-8.1-3.6-8.1-8.1s3.6-8.1,8.1-8.1C107,50.6,110.6,54.3,110.6,58.7z
               M129.1,65.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8C134,67.8,131.8,65.7,129.1,65.7z M125.3,68.5
              l-15.1-6.4"/>
            <path class="st1" d="M42.8,117c0,4.9-4,8.9-8.9,8.9s-8.9-4-8.9-8.9c0-4.9,4-8.9,8.9-8.9S42.8,112.1,42.8,117z M38.2,117
              c0-2.3-1.9-4.2-4.2-4.2c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2C36.3,121.2,38.2,119.3,38.2,117z M65.5,108.1
              c-4.9,0-8.9,4-8.9,8.9c0,4.9,4,8.9,8.9,8.9s8.9-4,8.9-8.9C74.4,112.1,70.4,108.1,65.5,108.1z M69.7,117c0-2.3-1.9-4.2-4.2-4.2
              c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2C67.8,121.2,69.7,119.3,69.7,117z M96.6,108.1c-4.9,0-8.9,4-8.9,8.9
              c0,4.9,4,8.9,8.9,8.9c4.9,0,8.9-4,8.9-8.9C105.5,112.1,101.6,108.1,96.6,108.1z M100.9,117c0-2.3-1.9-4.2-4.2-4.2
              c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2C99,121.2,100.9,119.3,100.9,117z M15.9,98.4V117h4.5v0c0-7.4,6-13.5,13.5-13.5
              s13.5,6,13.5,13.5v0h4.4v0c0-7.4,6-13.5,13.5-13.5s13.5,6,13.5,13.5v0h4.4v0c0-7.4,6-13.5,13.5-13.5s13.5,6,13.5,13.5v0h4.3V98.4
              H15.9z M96.9,89.2H34v9.3h62.9V89.2z M86.8,89.2V76.7H65.2v12.5H86.8z M59.4,89.2v-8H42v8 M50.7,56.9v24.3 M50.7,28.3v-8.2
               M86.8,76.7l9.8-12.3 M50.7,15.5c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2C53,16.5,52,15.5,50.7,15.5z
               M63.2,15.5c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2s2.2-1,2.2-2.2C65.5,16.5,64.5,15.5,63.2,15.5z M38.2,15.5
              c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2C40.4,16.5,39.4,15.5,38.2,15.5z M48.5,17.7h-8 M61,17.7h-8"/>
            <circle class="st2" cx="50.7" cy="38.7" r="6.3"/>
            <circle class="st3" cx="52.5" cy="38.5" r="4.1"/>
          </svg>
        </div>
        <div class="services--text">
          <span class="-color-red"> KEEN EYE </span>
          for your advantage making technical part
          <span class="-color-red">.</span>
        </div>
        <div class="services--path -right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img -right">
          <svg class="keen-stack" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="210" height="210">
            <style>
              .keen-stack .st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-stack .st1{fill:#EF4324;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-stack .st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-stack .st3{fill:#333333;}
            </style><path class="st0" d="M56.6 15.1v8.4"/>
            <line class="st0" x1="56.6" y1="15.1" x2="56.6" y2="23.5"/>
            <circle class="st0" cx="56.6" cy="13.4" r="2.2"/>
            <line class="st0" x1="93.4" y1="15.7" x2="93.4" y2="23.9"/>
            <circle class="st0" cx="93.4" cy="13.4" r="2.2"/>
            <circle class="st0" cx="105.4" cy="13.4" r="2.2"/>
            <line class="st0" x1="103.7" y1="13.4" x2="95.6" y2="13.4"/>
            <circle class="st1" cx="75" cy="31.5" r="8.6"/>
            <circle class="st2" cx="75" cy="29.4" r="4.1"/>
            <circle class="st3" cx="74.9" cy="27.7" r="2.4"/>
            <path class="st0" d="M75,117v-4.7 M75,132.6c2,0,3.6-1.6,3.6-3.6s-1.6-3.6-3.6-3.6s-3.6,1.6-3.6,3.6S73,132.6,75,132.6z M75,136.9
              c4.3,0,7.8-3.5,7.8-7.8s-3.5-7.8-7.8-7.8c-4.3,0-7.8,3.5-7.8,7.8S70.7,136.9,75,136.9z M87,129.1c0-6.6-5.4-12-12-12s-12,5.4-12,12
               M103.4,52.9H46.6v59.4h56.8V52.9z"/>
            <rect x="54.4" y="61" class="st0" width="41.3" height="21.6"/>
            <path class="st0" d="M103.4,45.2c0-15.7-12.7-28.4-28.4-28.4S46.6,29.5,46.6,45.2H103.4z"/>
            <polyline class="st0" points="46.6,59.5 35,59.5 35,92.6 "/>
            <path class="st0" d="M28.8,98.8c0-3.4,2.8-6.2,6.2-6.2s6.2,2.8,6.2,6.2"/>
            <polyline class="st0" points="103.4,59.5 115,59.5 115,92.6 "/>
            <path class="st0" d="M121.2,98.8c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2"/>
            <line class="st0 keen-stack--chest" x1="54.4" y1="67.9" x2="95.6" y2="67.9"/>
            <line class="st0 keen-stack--chest-two" x1="54.4" y1="75.7" x2="95.6" y2="75.7"/>
          </svg>
        </div>
        <div class="services--text -right">
          <div class="services--text-block">
            <span class="-color-red"> KEEN STACK </span>
            of technologies
            <span class="-color-red">:</span>
          </div>
          <ul class="services--list" itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
            {{#each technology in technologies}}
              <li class="services--list-item" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service" >
                <span itemprop="name">{{technology.name}}</span>
              </li>
            {{/each}}
          </ul> 
        </div>
        <div class="services--path -left">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img">
          <svg class="keen-methodology" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="210" height="210">
            <style>
              .keen-methodology .st0{fill:#EF4324;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-methodology .st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-methodology .st2{fill:#333333;}
              .keen-methodology .st3{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
            </style>
            <path class="st0" d="M86.4,34.3c0,5.6-4.5,14.3-10.1,14.3c-5.6,0-10.1-8.7-10.1-14.3s4.5-10.1,10.1-10.1
              C81.8,24.2,86.4,28.7,86.4,34.3z"/>
            <circle class="st1" cx="76.2" cy="31.3" r="4.3"/>
            <circle class="st2" cx="76.1" cy="29.8" r="2.8"/>
            <circle class="st3" cx="76.2" cy="100.4" r="14"/>
            <circle class="st3" cx="76.2" cy="100.4" r="8"/>
            <circle class="st3" cx="76.2" cy="100.4" r="3.2"/>
            <path class="st3" d="M102.1,34.7c0,14.3-11.6,42.9-25.9,42.9S50.3,49,50.3,34.7S61.9,8.8,76.2,8.8S102.1,20.4,102.1,34.7z
               M76.2,77.6v8.8"/>
            <path class="st3" d="M62.2,100.4"/>
            <circle class="st3" cx="70.2" cy="131.6" r="4"/>
            <line class="st3" x1="70.2" y1="113.1" x2="70.2" y2="127.6"/>
            <circle class="st3" cx="82.3" cy="131.6" r="4"/>
            <line class="st3" x1="82.3" y1="113.1" x2="82.3" y2="127.6"/>
            <path class="st3" d="M38.2,95.2c1.4,0,2.6,1.2,2.6,2.6s-1.2,2.6-2.6,2.6c-1.4,0-2.6-1.2-2.6-2.6S36.8,95.2,38.2,95.2z M31.6,76.6
              c0,2.2,1.8,4,4,4s4-1.8,4-4c0-2.2-1.8-4-4-4S31.6,74.4,31.6,76.6z M35.6,97.8V80.5 M38.2,100.4h24"/>
            <path class="st3 keen-methodology--hand-right" d="M116.8,97.6c0,1.4-1.2,2.6-2.6,2.6s-2.6-1.2-2.6-2.6s1.2-2.6,2.6-2.6S116.8,96.2,116.8,97.6z M116.8,72.4
              c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4s4-1.8,4-4C120.9,74.2,119.1,72.4,116.8,72.4z M116.8,80.3v17.3"/>
            <line class="st3" x1="114.3" y1="100.2" x2="90.3" y2="100.2"/>
          </svg>
        </div>
        <div class="services--text">
          <span class="-color-red"> KEEN METHODOLOGY </span>
          you’ll always be able to keep an eye on what’s going on
          <span class="-color-red">.</span>
        </div>
        <div class="services--path -right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img -right">
          <svg class="keen-ethics" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="210" height="210">
            <style>
              .keen-ethics .st0{fill:#EE4324;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-ethics .st1{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-ethics .st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
              .keen-ethics .st3{fill:#231F20;}
            </style>
            <g transform="translate(95,-30) rotate(45)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polyline class="st0" points="69.5,73.2 69.5,64.1 80.5,64.1 80.5,73.2 "/>
              <rect x="66.7" y="73.2" class="st0" width="16.6" height="26.9"/>
              <path class="st1" d="M75,44.4v9.3 M88.2,53.7H61.8v10.4h26.4V53.7z"/>
              <path class="st1" d="M53.9,103.8H10.7c-1.7,0-3-1.3-3-3V67.4c0-1.7,1.3-3,3-3h43.2c1.7,0,3,1.3,3,3v33.4
                C56.9,102.5,55.6,103.8,53.9,103.8z M32.3,103.8V64.4 M21.3,103.8V64.4 M43.3,103.8V64.4 M66.7,84.1h-59 M7.7,93.1h49.2 M7.7,75.1
                h49.2"/>
              <path class="st1" d="M139.3,103.8H96.1c-1.7,0-3-1.3-3-3V67.4c0-1.7,1.3-3,3-3h43.2c1.7,0,3,1.3,3,3v33.4
                C142.3,102.5,141,103.8,139.3,103.8z M117.7,103.8V64.4 M106.7,64.4v39.4 M128.7,103.8V64.4 M142.3,84.1h-59 M93.1,93.1h49.2
                 M93.1,75.1h49.2"/>
              <path class="st1 keen-ethics--part-top" d="M75,23v8.2 M75,18.4c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2
                C77.2,19.4,76.2,18.4,75,18.4z M61.8,31.2c0,7.3,5.9,13.2,13.2,13.2s13.2-5.9,13.2-13.2H61.8z"/>
              <line class="st1" x1="75" y1="109.5" x2="75" y2="100.2"/>
              <path class="st1" d="M65.8,118.6c0-5.1,4.1-9.2,9.2-9.2s9.2,4.1,9.2,9.2H65.8z"/>
              <path class="st1 keen-ethics--part-bottom" d="M84.2,122.5c0,5.1-4.1,9.2-9.2,9.2s-9.2-4.1-9.2-9.2H84.2z"/>
              <circle class="st2" cx="75" cy="84.1" r="3.9"/>
              <circle class="st3" cx="74.9" cy="82.7" r="2.5"/>
            </g>
          </svg>
        </div>
        <div class="services--text -right">
          <span class="-color-red"> KEEN ETHICS - </span>
          We’ll do our best to ensure quality of your product
          <span class="-color-red">.</span>
        </div>
      </div>
    </div>
  </div>
</template>

