<template name="_services">
  <div class="container services">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img">
          <object type="image/svg+xml" data="images/keen-eye.svg" alt="Keen eye">
            Your browser does not support SVG
          </object>
        </div>
        <div class="services--text">
          <span class="-color-red"> KEEN EYE </span>
          for your advantage making technical part
          <span class="-color-red">.</span>
        </div>
        <div class="services--path -right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img -right">
          <object type="image/svg+xml" data="images/keen-stack.svg" alt="Keen stack">
            Your browser does not support SVG
          </object>
        </div>
        <div class="services--text -right">
          <div class="services--text-block">
            <span class="-color-red"> KEEN STACK </span>
            of technologies
            <span class="-color-red">:</span>
          </div>
          <ul class="services--list">
            <li class="services--list-item">node.js </li>
            <li class="services--list-item">meteor.js </li>
            <li class="services--list-item">Angular </li>
            <li class="services--list-item">React </li>
            <li class="services--list-item">MEAN</li>
          </ul>
        </div>
        <div class="services--path -left">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img">
          <object type="image/svg+xml" data="images/keen-methodology.svg" alt="Keen methodology">
            Your browser does not support SVG
          </object>
        </div>
        <div class="services--text">
          <span class="-color-red"> KEEN METHODOLOGY </span>
          you’ll always be able to keep an eye on what’s going on
          <span class="-color-red">.</span>
        </div>
        <div class="services--path -right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 services--item">
        <div class="services--img -right">
          <object type="image/svg+xml" data="images/keen-ethics.svg" alt="Keen ethics">
            Your browser does not support SVG
          </object>
        </div>
        <div class="services--text -right">
          <span class="-color-red"> KEEN ETHICS - </span>
          We’ll do our best to ensure quality of your product
          <span class="-color-red">.</span>
        </div>
      </div>
    </div>
  </div>
</template>

