<template name="_slideTeam">
  <div class="slide slide-team" id="slide-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="title -text-center">
            <span class="-color-black">Our</span>
            <span class="-color-red">keen team.</span>
          </h3>
        </div>
      </div>
      <ul class="list-media row">
        {{#each employee in employees}}
          <li class="list-media--item col-xs-12 col-sm-6 col-md-3">
            <div class="list-media--media">
              <img class="list-media--overlay" src="images/astronaut-helmet.svg" alt="Astonaut Helmet">
              <div class="list-media--img -round" style="background-image: url({{employee.imgPath}})">
              </div>
            </div>
            <div class="list-media--headline">
              {{employee.name}}
            </div>
            <div class="list-media--subline">
              {{employee.title}}
            </div>
            {{> _separator }}
            <div class="list-media--text">
              {{employee.desc}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

