<template name="_slidePortfolio">
  <div class="slide slide-portfolio" id="slide-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="title -text-center">
            <span class="-color-black">Our</span>
            <span class="-color-red">works.</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <ul class="slider-images js-slick-slide">
          {{#each job in jobs }}
            <li class="slider-images--item"  itemscope itemtype="http://schema.org/WebSite">
              <div class="slider-images--inner">
                <div class="slider-images--img" style="background-image: url({{job.imgPath}})">
                </div>
                <div class="slider-images--overlay"></div>
                <div class="slider-images--text-block">
                  <div class="slider-images--headline" itemprop="name headline alternateName">
                    {{job.name}}
                  </div>
                  <div class="slider-images--text" itemprop="about description">
                    {{job.desc}}
                  </div>
                  <a href="{{job.url}}" class="slider-images--link" itemprop="url">
                    <span itemprop="name headline alternateName">{{job.name}}</span>
                    <span class="arrow-additional"></span>
                  </a>
                </div>
              </div>
            </li>
          {{/each}}
          <li class="slider-images--item -secondary">
            <div class="slider-images--inner">
              <a href="#slide-5" class="slider-images--img" style="background-image: url(images/project-default.jpg)">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

