<template name="_sliderImagesPortfolio">
  <div class="row">
    <ul class="slider-images js-slick-slide">
      <li class="slider-images--item">
        <div class="slider-images--inner">
          <div class="slider-images--img" style="background-image: url(images/projects/knotable.png)">
          </div>
          <div class="slider-images--overlay"></div>
          <div class="slider-images--text-block">
            <div class="slider-images--headline">
              Knotable
            </div>
            <div class="slider-images--text">
              A service for collaboration
            </div>
            <a href="http://beta.knotable.com/" class="slider-images--link">
              <span>Knotable</span>
              <span class="arrow-additional"></span>
            </a>
          </div>
        </div>
      </li>
      <li class="slider-images--item">
        <div class="slider-images--inner">
          <div class="slider-images--img" style="background-image: url(images/projects/comic.png)">
          </div>
          <div class="slider-images--overlay"></div>
          <div class="slider-images--text-block">
            <div class="slider-images--headline">
              Comicenglish
            </div>
            <div class="slider-images--text">
              Dervice for learning foreign languages in a gaming form
            </div>
            <a href="http://comicenglish.com/" class="slider-images--link">
              <span>Comicenglish</span>
              <span class="arrow-additional"></span>
            </a>
          </div>
        </div>
      </li>
      <li class="slider-images--item">
        <div class="slider-images--inner">
          <div class="slider-images--img" style="background-image: url(images/projects/pollen.png)">
          </div>
          <div class="slider-images--overlay"></div>
          <div class="slider-images--text-block">
            <div class="slider-images--headline">
              Pollen
            </div>
            <div class="slider-images--text">
              An app for spreading ideas via email campaigns
            </div>
            <a href="http://www.pollenpost.com" class="slider-images--link">
              <span>Pollen</span>
              <span class="arrow-additional"></span>
            </a>
          </div>
        </div>
      </li>
      <li class="slider-images--item">
        <div class="slider-images--inner">
          <div class="slider-images--img" style="background-image: url(images/project-default.jpg)">
          </div>
          <div class="slider-images--overlay"></div>
          <div class="slider-images--text-block">
            <a href="#slide-5" class="slider-images--link">
              <span>Start your project</span>
              <span class="arrow-additional"></span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

