<template name="_slideContacts">
  <div class="slide slide-contacts" id="slide-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class=" slide-contacts--title title -text-center">
            <span>Contact</span>
            <span class="-color-red">us.</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="slide-contacts--info -text-center">
            <a href="mailto:founders@keenethics.com?subject=feedback">
              <span>founders@keenethics.com</span>
              <span class="slide-contacts--arrow arrow"></span>
            </a>
            <a href="https://www.google.com/maps/place/вул.+Литвиненка,+3,+Львів,+Львівська+область,+Україна" target="_blank">
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">3 Lytvynenka Street St.</span>
                <span itemprop="addressLocality">Lviv</span>,
                <span itemprop="addressCountry">Ukraine</span>
              </span>
              <span class="slide-contacts--arrow arrow"></span>
            </a>
            <a href="tel:+380322535535">
              <span>+380 (32) 2 535 535</span>
              <span class="slide-contacts--arrow arrow"></span>
            </a> 
          </div>
        </div>
      </div>
      {{> _listSocial }}
      <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-4">
          {{> _formContacts }}
        </div>
      </div>
    </div>
  </div>
</template>

