// breakpoints of new blog/portfolio design

$mobile-sm: '360px';
$mobile-md: '400px';
$mobile-lg: '480px';

$tablet-sm: '600px';
$tablet-lg: '768px';

$desktop-xs: '994px';
$desktop-sm: '1024px';
$desktop-md: '1280px';
$desktop-lg: '1440px';
$desktop-xl: '1600px';
$desktop-xxl: '1920px';