@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == sm-max {
    @media (max-width: 769px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == md-max {
    @media (max-width: 993px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == lg-max {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, xs, sm, md, lg";
  }
}
