.modal-dialog {
  z-index: 2000;
  opacity: 0.9;
}
.modal-content {
  color: #FEFEFE;
  background: #403A3C;
  font-size: 15px;
  height: 77px;
  border-radius: 0px;
}
.modal-body {
  line-height: 42px;
}
#ok-modal .button {
  z-index: 3000;
}