.contacts-page {
  position: relative;
  background: linear-gradient(135deg, #071e40 0%, #662938 80%);
  z-index: 600;

  .button {
    border-radius: 35px;
    padding: 16px 28px;
    display: inline-block;
    height: 45px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.3);
    cursor: pointer;

    &.button-send {
      width: 100px;

      img {
        width: 26px;
        margin-top: -6px;
      }
    }
    &:hover {
      box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.4);
    }
    &.pending {
      background-image: linear-gradient(90deg, #aaa 0%, #ccc 100%);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: none;
      }
    }
  }

  h1.title {
    position: relative;
    z-index: 600;
    font-size: 26px;
    color: #fff;
    font-weight: 700;

    span {
      display: block;
      color: #b9bce5;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 12px 0 0;
    }
  }
}
.contacts-block {
  position: relative;
  z-index: 600;
  box-sizing: border-box;
}
.contacts-socket {
    width: 1050px;
    margin: 0 auto;
    padding: 0 0 80px;

    .title-page {
        padding: 100px 0 90px;
    }

    @media (max-width: 1200px){
        width: auto;

        .title-page {
            padding-left:60px;
        }
    }
}

.contacts-block {
    border-radius: 10px;
    @include clearfix;
    position: relative;
    height: 500px;
    padding: 55px 40px 0 0;
    position: relative;
    background: #fff url(/static/images/contacts-bg.png) no-repeat 0 0;

    @media (max-width: 1200px){
        border-radius: 0;
        padding: 255px 60px 30px;
        height: auto;
        background: #fff url(/static/images/contacts-bg-mid.png) no-repeat 50% 0;
        background-size: 1200px auto;
        background-position: 0 -100px;
        min-height: calc(100vh - 170px);
    }

    @media (max-width: 650px){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 550px){
        background: #fff url(/static/images/contacts-bg-2.png) no-repeat 50% 0;
    }

    @media (max-width: 375px){
        background: #fff url(/static/images/contacts-bg-3.png) no-repeat 50% 0;
    }
}

.contacts-list {
    position: absolute;
    left: 73px;
    top: 82px;

    li {
        height: 150px;
        white-space: nowrap;

        .ico {
            position: absolute;
            left: 0;
            top: 0;
        }

        a {
            position: relative;
            padding-left: 33px;
            text-decoration: none;
            display: block;
        }

        div {
            color: #de4f4f;
            font-size: 16px;
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: #d0d5ed;
        }
    }

    @media (max-width: 1200px){
        left: 60px;
        right: 60px;
        top: 48px;

        li {
            width: 33.3%;
            height: 85px;
            float: left;
        }
    }

    @media (max-width: 550px){
        left: 30px;
        right: 0;

        li {
            width: 50% !important;
        }
    }

    @media (max-width: 475px){
        top: 24px;

        li {
            width: auto !important;
            float: none;
            height: auto;
            margin-bottom: 23px;
        }
    }
}

.contacts-form {
    position: relative;
    float: right;
    width: 510px;
    height: 100%;

    .input-wrap-ta {
      margin-bottom: 20px;
    }
    .btn-send img {
      width: 25px;
      padding: 13px 0;
    }
    .form-status {
      font-size: 12px;
      padding: 0 0 10px;
    }
    @media (max-width: 1200px){
        width: auto;
        float: none;
    }
}

.contacts-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.btn-send {
    width: 90px;
    height: 57px;

    .btn-inner  {
        height: 57px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -12px 0 0 -13px;
            width: 26px;
            height: 25px;
        }
    }
}

.contacts-mail {
  position: absolute;
  z-index: 1;
  left: 300px;
  top: 50%;
  margin-top: -83px;
  width: 166px;
  height: 166px;
  background: url('/static/images/svg/mail.svg') no-repeat;
  background-size: 100% 100%;

  @media (max-width: 1200px) {
    top: 130px;
    left: 50%;
    margin: 0 0 0 -70px;
  }
  @media (max-width: 550px) {
    display: none;
  }
}

.contacts-stars {

    li {
        position: absolute;
        width: 11px;
        height: 11px;
        background: url(/static/images/svg/con-star.svg) no-repeat;
        background-size: 100% 100%;

        animation: flyStar 10s ease-in-out infinite;

        &:nth-child(1) {
            top: 10%;
            left: 32%;
        }

        &:nth-child(2) {
            top: 50%;
            left: 3%;
            animation-name: flyStar2;
        }

        &:nth-child(3) {
            top: 88%;
            left: 20%;
            animation-name: flyStar2;
        }

        &:nth-child(4) {
            top: 65%;
            left: 30%;
        }

        @media (max-width: 1200px){

            &:nth-child(1) {
                top: 15%;
                left: 15%;
            }

            &:nth-child(2) {
                top: 1%;
                left: 35%;
            }

            &:nth-child(3) {
                top: 20%;
                left:65%;
            }

            &:nth-child(4) {
                display: none;
            }
        }
    }
}

@keyframes flyStar {
    0%, 100% {
        transform: translate(10px, -10px);
    }
    50% {
        transform: translate(0, 0);
    }
}

@keyframes flyStar2 {
    0%, 100% {
        transform: translate(-8px, 13px);
    }
    50% {
        transform: translate(0, 0);
    }
}
.skype_button {
  display: inline;
  p {
    display: inline !important;
  }
  a {
    display: inline;
    padding: 0;
  }
  .skype-button {
    display: none;
  }
  img {
    margin: 3px 0 0 5px !important;
    vertical-align: middle !important;
  }
}
