.contacts-page {
  position: relative;
  background: linear-gradient(135deg, #071e40 0%, #662938 80%);
  z-index: 600;
  min-height: 100vh;

  .button {
    border-radius: 35px;
    padding: 16px 28px;
    display: inline-block;
    height: 45px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.3);
    cursor: pointer;

    &.button-send {
      width: 100px;

      img {
        width: 26px;
        margin-top: -6px;
      }
    }
    &:hover {
      box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.4);
    }
    &.pending {
      background-image: linear-gradient(90deg, #aaa 0%, #ccc 100%);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: none;
      }
    }
  }

  h1.title {
    position: relative;
    z-index: 600;
    font-size: 26px;
    color: #fff;
    font-weight: 700;

    span {
      display: block;
      color: #b9bce5;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 12px 0 0;
    }
  }
}
.contacts-block {
  position: relative;
  z-index: 600;
  box-sizing: border-box;
}
.contacts-socket {
    width: 1050px;
    margin: 0 auto;
    padding: 0 0 80px;

    .title-page {
        padding: 100px 0 90px;
    }

    @media (max-width: 1200px){
        width: auto;

        .title-page {
            padding-left:60px;
        }
    }
}

.estimate-block-background {
    background-color: #282473 !important;
    height: 1110px !important;
    padding: 0px !important;
}

.contacts-block {
    border-radius: 10px;
    @include clearfix;
    position: relative;
    height: 500px;
    padding: 55px 40px 0 0;
    position: relative;
    background: #fff url(/static/images/contacts-bg.png) no-repeat 0 0;

    @media (max-width: 1200px){
        border-radius: 0;
        padding: 255px 60px 30px;
        height: auto;
        background: #fff url(/static/images/contacts-bg-mid.png) no-repeat 50% 0;
        background-size: 1200px auto;
        background-position: 0 -100px;
        min-height: calc(100vh - 170px);
    }

    @media (max-width: 650px){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 550px){
        background: #fff url(/static/images/contacts-bg-2.png) no-repeat 50% 0;
    }

    @media (max-width: 375px){
        background: #fff url(/static/images/contacts-bg-3.png) no-repeat 50% 0;
    }
    .contacts-form-btn {
        position: absolute;
        height: 40px;
        width: 365px;
        padding-left: 15px;
        color: #fff;
        outline: none;
        border-radius: 5px;
        border: 1px solid #4d5b98;
        background-color: #5491f5;
        font-family: Raleway;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.39px;
        text-align: left;
        cursor: pointer;
        z-index: 100;
    }
    .contact-form-btn {
        width: 383px;
        left: 45px;
        top: 39px;
    }
    .estimate-form-btn {
        left: 45px;
        top: 93px;
    }
    .disabled {
        background-color:rgba(84, 145,245, 0.25);
        &:hover {
            background-color:rgba(84, 145,245, 0.75);
        }
    }
}

.contacts-list {
    position: absolute;
    left: 73px;
    top: 170px;

    li {
        height: 130px;
        white-space: nowrap;
        min-width: 200px;

        .ico {
            position: absolute;
            left: 0;
            top: 0;
        }

        a {
            position: relative;
            padding-left: 33px;
            text-decoration: none;
            display: block;
        }

        div {
            color: #de4f4f;
            font-size: 16px;
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: #d0d5ed;
        }
    }

    @media (max-width: 1200px){
        left: 60px;
        right: 60px;
        top: 48px;

        li {
            width: 33.3%;
            height: 85px;
            float: left;
        }
    }

    @media (max-width: 550px){
        left: 30px;
        right: 0;

        li {
            width: 50% !important;
        }
    }

    @media (max-width: 475px){
        top: 24px;

        li {
            width: auto !important;
            float: none;
            height: auto;
            margin-bottom: 23px;
        }
    }
}

.contacts-form {
    position: relative;
    float: right;
    width: 510px;
    height: 100%;


    .input-wrap-2-ta {
        margin-bottom: 20px;
    }
    .btn-send img {
        width: 25px;
        padding: 13px 0;
    }
    .form-status {
        font-size: 12px;
        padding: 0 0 10px;
    }
    @media (max-width: 1200px){
        width: auto;
        float: none;
    }
}

.estimate-form {
    position: relative;
    float: right;
    width: 553px;
    background: #fff;
    padding-top: 40px;
    height: 100%;
    box-sizing: border-box;
    &:after {
        clear: none;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: url(/static/images/2.png)!important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: absolute;
        top: 0;
        left: -238px;
        z-index: 200;
        pointer-events: none;
        }
    .estimate-form-inputs {
        position: absolute;
        left: -92px;
        width: 652px; //652px
        top: 40px;
        z-index: 300;
    }
    .estimate-input-cols {
        padding-left: 40px;
    }
    .question-title {
        color: #12103e;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1.12px;
        margin-bottom: 15px;
        margin-top: 15px;
        .question-number {
            color: #dc5052;
            font-family: Raleway;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 1.6px;
            margin-right: 5px;
        }
        .qn-check {
            vertical-align: top;
        }
        .pm-check {
            vertical-align: top !important;
            margin-top: 4px;
        }
        .question-checkbox-title {
            line-height: 1.3;
            width: 528px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .input-radio-wrap, .input-checkbox-wrap {
        display: inline-block;
    }
    .input-checkbox-wrap {
        width: 204px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    input[type="radio"] {
        display: none;
        & ~ .label-for-radio-btn{
            cursor: pointer;
        }
    }
    .label-for-radio-btn {
        height: 100%;
        display: block;
        padding: 7px;
        margin-bottom: 5px;
        margin-right: 25px;
        text-align: center;
        box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
        position: relative;
        width: 180px;
        height: 37px;
        font-size: 13px;
        border-radius: 10px;
        border: 1px solid #acacac;
        background-color: #f6f6f6;
        .radio-lable-title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
    input[type="radio"]:checked + .label-for-radio-btn {
        border: 1px solid #00539a;
        background-color: #accbff;
        opacity: 0.9;
    }
    input[type="checkbox"] {
        display:none;
    }    
    .label-for-checkbox-btn {
        margin: auto;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        span {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0,0,0);
            &:first-child {
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 3px;
                transform: scale(1);
                vertical-align: middle;
                border: 1px solid #9098A9;
                transition: all .2s ease;
                svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    fill: none;
                    stroke: #00539a;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 16px;
                    stroke-dashoffset: 16px;
                    transition: all .3s ease;
                    transition-delay: .1s;
                    transform: translate3d(0,0,0);
                }
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #00539a;;
                    display: block;
                    transform: scale(0);
                    opacity: 1;
                    border-radius: 50%;
                }
            }
            &:last-child {
                padding-left: 3px;
            }
        }
        &:hover span:first-child { 
            border-color: #00539a;;
        }
    }
    .check:checked + .label-for-checkbox-btn {
        span {
            &:first-child {
                background-color: #b4d0ff;
                border-color: #00539a;;
                animation: wave .4s ease;
                svg {
                    stroke-dashoffset: 0;
                }
                &:before {
                    transform: scale(3.5);
                    opacity: 0;
                    transition: all .6s ease;
                }
            }
        }
    }
    .input-select-wrap {
        .input-select {
            background: transparent;
            width: 540px;
            padding: 5px;
            padding-left: 25px;
            margin-left: 5px;
            font-size: 15px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid;
            height: 34px;
            -webkit-appearance: none;
            border-bottom: 1px solid #acacac;
            outline: none;
            font-family: Raleway;
            font-weight: 400;
            letter-spacing: 0.24px;
            option {
                background-color: #f6f6f6;
                letter-spacing: 0.2px;
                color: #13243c;
                font-family: Raleway;
                font-size: 15px;
                &:hover {
                    background-color: #b4d0ff;
                }
            }
        }
    }
    @keyframes wave {
        50% {
            transform: scale(.9);
        }
    }
    .input-contacts {
        display: inline-block;
        margin-left: 45px;
        input {
            border: 0;
            width: 239px;
            border-bottom: 1px solid #acacac;
            margin-bottom: 15px;
            margin-top: 35px;
            outline: none;
            padding: 5px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #13243c;
                font-family: Raleway;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.24px;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #13243c;
                font-family: Raleway;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.24px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #13243c;
                font-family: Raleway;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.24px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #13243c;
                font-family: Raleway;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.24px;
            }
        }
    }
    .input-email {
        input {
            width: 533px;
            margin-top: 0px;
        }
    }
    .input-textarea {
        margin-bottom: 10px;
        .input-textarea-title {
            color: #13243c;
            font-family: Raleway;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.24px;
            margin-left: 50px;
        }
        textarea {
            margin-top: 7px;
            margin-left: 45px;
            width: 523px;
            padding: 10px;
            height: 90px;
            outline: none;
            border-radius: 3px;
            line-height: 1.3;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
            }
        }
    }
    .form-footer {
        margin-bottom: 20px;
        .touch-screen {
            float: left;
            margin-left: 50px;
            width: 30px;
            margin-right: 10px;
        }
        .form-footer-text {
            width: 591px;
            color: #12103e;
            font-family: Raleway;
            line-height: 1.2;
            font-size: 15px;
            span {
                font-weight: 600;
            }
            a {
                color: #5491f5;
            }
        }
    }
    .estimate-button {
        position: absolute;
        right: 70px;
    }
}

.contacts-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.estimate-title {
    padding-left: 5px;
    text-align: center;
}

.btn-send {
    width: 90px;
    height: 57px;

    .btn-inner  {
        height: 57px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -12px 0 0 -13px;
            width: 26px;
            height: 25px;
        }
    }
}

.contacts-mail {
  position: absolute;
  z-index: 1;
  left: 300px;
  top: 50%;
  margin-top: -83px;
  width: 166px;
  height: 166px;
  background: url('/static/images/svg/mail.svg') no-repeat;
  background-size: 100% 100%;

  @media (max-width: 1200px) {
    top: 130px;
    left: 50%;
    margin: 0 0 0 -70px;
  }
  @media (max-width: 550px) {
    display: none;
  }
}

.contacts-file {
    position: absolute;
    z-index: 400;
    left: 146px;
    top: 44%;
    margin-top: -83px;
    width: 270px;
    height: 280px;
    background: url('/static/images/svg/file.svg') no-repeat;
    background-size: 100% 100%;

    @media (max-width: 1200px) {
        top: 130px;
        left: 50%;
        margin: 0 0 0 -70px;
    }
    @media (max-width: 550px) {
        display: none;
    }
}

.contacts-stars {

    li {
        position: absolute;
        width: 11px;
        height: 11px;
        background: url(/static/images/svg/con-star.svg) no-repeat;
        background-size: 100% 100%;

        animation: flyStar 10s ease-in-out infinite;

        &:nth-child(1) {
            top: 10%;
            left: 32%;
        }

        &:nth-child(2) {
            top: 50%;
            left: 3%;
            animation-name: flyStar2;
        }

        &:nth-child(3) {
            top: 88%;
            left: 20%;
            animation-name: flyStar2;
        }

        &:nth-child(4) {
            top: 65%;
            left: 30%;
        }

        @media (max-width: 1200px){

            &:nth-child(1) {
                top: 15%;
                left: 15%;
            }

            &:nth-child(2) {
                top: 1%;
                left: 35%;
            }

            &:nth-child(3) {
                top: 20%;
                left:65%;
            }

            &:nth-child(4) {
                display: none;
            }
        }
    }
}

@keyframes flyStar {
    0%, 100% {
        transform: translate(10px, -10px);
    }
    50% {
        transform: translate(0, 0);
    }
}

@keyframes flyStar2 {
    0%, 100% {
        transform: translate(-8px, 13px);
    }
    50% {
        transform: translate(0, 0);
    }
}
.skype_button {
  display: inline;
  p {
    display: inline !important;
  }
  a {
    display: inline;
    padding: 0;
  }
  .skype-button {
    display: none;
  }
  img {
    margin: 3px 0 0 5px !important;
    vertical-align: middle !important;
  }
}
