.contacts-page {
    position: relative;
    background: linear-gradient(135deg, #071e40 0%, #662938 80%);
    z-index: 600;
    min-height: 100vh;

    .submit-btn {
        display: flex;
        justify-content: flex-end;
    }
    .button {
        border-radius: 35px;
        padding: 16px 28px;
        display: inline-block;
        height: 45px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background: none;
        border: none;
        outline: none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-image: linear-gradient(90deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
        box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.3);
        cursor: pointer;
        min-width: 150px;
        margin-top: 15px;

        &.button-send {
            width: 100px;

            img {
                width: 26px;
                margin-top: -6px;
            }
        }

        &:hover {
            box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.4);
        }

        &.pending {
            background-image: linear-gradient(90deg, #aaa 0%, #ccc 100%);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

            &:hover {
                box-shadow: none;
            }
        }
    }

    h1.title {
        position: relative;
        z-index: 600;
        font-size: 26px;
        color: #fff;
        font-weight: 700;

        span {
            display: block;
            color: #b9bce5;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            padding: 12px 0 0;
        }
    }
}

.contacts-socket {
    width: 1050px;
    margin: 0 auto;
    padding: 0 0 80px;

    .title-page {
        padding: 100px 0 90px;
    }

    @media (max-width: 1200px){
        width: auto;

        .title-page {
            padding-left:60px;
        }
    }
}

.contact-wrapper {
    @include clearfix;
    position: relative;
    border-radius: 22px;
    z-index: 600;
    box-sizing: border-box;
    background: #fff url(/static/images/contacts-bg.png) no-repeat 0 0;

    .contacts-form-btn {
        position: absolute;
        height: 40px;
        width: 351px;
        padding-left: 15px;
        color: #fff;
        outline: none;
        border-radius: 5px;
        border: 1px solid #4d5b98;
        background-color: #5491f5;
        font-family: Raleway;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.39px;
        text-align: left;
        z-index: 100;

        @media (max-width: 1200px){
            padding-top: 10px;
            padding-bottom: 65px;
            width: 240px;
            text-align: center;
        }

        @media (max-width: 900px){
                padding-left: 5px;
                font-size: 14px;
                width: 220px;
        }

        @media (max-width: 475px) {
                width: 150px;
                padding-top: 10px;
                padding-bottom: 55px;
                font-size: 13px;
                top: 200px;
        }
    }
    .contact-form-btn {
        width: 387px;
        left: 45px;
        top: 39px;

        @media (max-width: 1200px){
                width: 220px;
                left: auto;
                right: 10%;
                top: 163px;
        }

        @media (max-width: 900px){
                left: auto;
                right: 3%;
                top: 187px;
        }

        @media (max-width: 600px){
                right: 0%;
        }
    }
    .estimate-form-btn {
        left: 45px;
        top: 93px;

        @media (max-width: 1200px){
                left: 10%;
                top: 163px;
        }

        @media (max-width: 900px){
                left: 3%;
                top: 187px;
        }

        @media (max-width: 600px){
                left: 0%;
        }

        @media (max-width: 375px) {
            margin-right: -20px;
        }
    }

    .contact-form-btn, .estimate-form-btn {
        @media (max-width: 475px) {
            top: 200px;
        }

        @media (max-width: 384px) {
            width: 50%;
        }
    }

    .disabled {
        background-color:rgba(84, 145,245, 0.25);
        &:hover {
                background-color:rgba(84, 145,245, 0.75);
                cursor: pointer;

        }
    }
}

.estimate-block-background {
    @extend .contact-wrapper;
    height: 1125px;
    padding: 0px;
    background-size: 1134px auto;
}

.contacts-block {
    @extend .contact-wrapper;
    height: 500px;
    padding: 0px 40px 0 0;
    position: relative;

    @media (max-width: 1200px){
        border-radius: 0;
        padding: 255px 60px 30px;
        height: auto;
        background: #fff url(/static/images/contacts-bg-mid.png) no-repeat 50% 0;
        background-size: 1650px auto;
        background-position: 0 -100px;
        border-radius: 22px;
        min-height: calc(100vh - 170px);
    }

    @media (max-width: 650px){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 550px){
        background: #fff url(/static/images/contacts-bg-2.png) no-repeat 50% 0;
        background-size: 1550px auto;
    }

    @media (max-width: 375px){
        background: #fff url(/static/images/contacts-bg-3.png) no-repeat 50% 0;
        background-size: 1550px auto;
    }
}

.contacts-list {
    position: absolute;
    left: 73px;
    top: 170px;

    li {
        height: 130px;
        white-space: nowrap;
        min-width: 200px;

        .ico {
            position: absolute;
            left: 0;
            top: 0;
        }

        a {
            position: relative;
            padding-left: 33px;
            text-decoration: none;
            display: block;
        }

        div {
            color: #de4f4f;
            font-size: 16px;
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: #d0d5ed;
        }
    }

    @media (max-width: 1200px){
        left: 60px;
        right: 60px;
        top: 48px;

        li {
            width: 33.3%;
            height: 85px;
            float: left;
        }
    }

    @media (max-width: 550px){
        left: 30px;
        right: 0;

        li {
            width: 50%;
        }
    }

    @media (max-width: 475px){
        top: 24px;

        li {
            width: auto;
            float: none;
            height: auto;
            margin-bottom: 23px;
        }
    }
}

.contacts-form {
    position: relative;
    float: right;
    width: 510px;
    height: 100%;
    padding-top: 55px;

    .contacts-title, .input-cols, .button-send {
        position: relative;
        z-index: 300;
    }

    &:after {
        clear: none;
        content: "";
        display: block;
        height: 90%;
        width: 100%;
        background: url(/static/images/contact-white-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -173px;
        z-index: 200;
        pointer-events: none;

        @media (max-width: 1200px){
            clear: none;
            content: "";
            display: block;
            height: 100%;
            width: 120%;
            background: url(/static/images/contacts-estimate-white.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -69px;
            left: -61px;
            z-index: 200;
            pointer-events: none;
        }

        @media (max-width: 900px) {
            width: 126%;
            top: -45px;
        }

        @media (max-width: 475px) {
            width: 137%;
            height: 124%;
            top: -24px;
        }
    }

    .input-wrap {
        position: relative;
        z-index: 300;

        input {
            line-height: 42px;
            padding: 30px 8px 14px 8px;
            width: 100%;
            color: #6d669f;
            font-size: 16px;
            background: none;
            border-left: none;
            border-right: none;
            border-top: none;
            outline: none;
            border-bottom: 1px solid #6d669f;
            box-sizing: border-box;
            letter-spacing: .28px;

            &.error {
                color: red;
                border-color: red;
            }
        }

        label {
            color: #757575;
            font-family: Raleway;
            font-weight:normal;
            font-size: 14px;
            letter-spacing: 0.24px;
            position:absolute;
            pointer-events:none;
            left:8px;
            bottom: 8px;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;
        }

        input:focus ~ label, input:valid ~ label {
            bottom: 29px;
            font-size:13px;
            color:#6d669f;
        }

        .bar {
            position:relative;
            display:block;
            width:100%;
        }

        .bar:before,
        .bar:after {
            content:'';
            height:2px;
            width:0;
            bottom:0px;
            position:absolute;
            background:#6d669f;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;
        }

        .bar:before {
            left:50%;
        }

        .bar:after {
            right:50%;
        }

        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width:50%;
        }

        .highlight {
            position:absolute;
            height:70%;
            width:190px;
            bottom:0%;
            left:0;
            pointer-events:none;
            opacity:0.5;
        }

        input:focus ~ .highlight {
            -webkit-animation:inputHighlighter 0.3s ease;
            -moz-animation:inputHighlighter 0.3s ease;
            animation:inputHighlighter 0.3s ease;
        }

        @-webkit-keyframes inputHighlighter {
            from { background:#6d669f; }
            to    { width:0; background:transparent; }
        }

        @-moz-keyframes inputHighlighter {
            from { background:#6d669f; }
            to    { width:0; background:transparent; }
        }

        @keyframes inputHighlighter {
            from { background:#6d669f; }
            to    { width:0; background:transparent; }
        }

        textarea {
            width: 100%;
            height: 100px;
            padding: 5px 8px;
            margin: 16px 0 0;
            font-size: 14px;
            border: 1px solid #6d669f;
            color: #6d669f;
            box-sizing: border-box;
            background: none;
            outline: none;
            border-radius: 3px;
            line-height: 1.3;
            font-size: 15px;
            letter-spacing: 0.28px;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: Raleway;
                font-weight: 400;
                letter-spacing: 0.28px;
                font-size: 13px;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                font-family: Raleway;
                font-weight: 400;
                letter-spacing: 0.28px;
                font-size: 16px;
            }

            &:-ms-input-placeholder { /* IE 10+ */
                font-family: Raleway;
                font-weight: 400;
                letter-spacing: 0.28px;
                font-size: 13px;
            }

            &:-moz-placeholder { /* Firefox 18- */
                font-family: Raleway;
                font-weight: 400;
                letter-spacing: 0.28px;
                font-size: 13px;
            }
        }
    }

    .input-wrap-2-ta {
        margin-bottom: 20px;
    }

    .btn-send img {
        width: 25px;
        padding: 13px 0;
    }

    .form-status {
        font-size: 12px;
        padding: 0 0 10px;
    }

    @media (max-width: 1200px){
        width: auto;
        float: none;
    }
}

.estimate-form {
    position: relative;
    float: right;
    width: 553px;
    background: #fff;
    padding-top: 40px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 22px;

    @media (max-width: 1200px){
        position: relative;
        float: right;
        width: 553px;
        background: #fff;
        top: 250px;
        padding-top: 0px;
        height: 100%;
        box-sizing: border-box;
        border-radius: 22px;
        width: auto;
        float: none;
        display: flex;
        justify-content: center;
    }

    &:after {
        clear: none;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: url(/static/images/estimate-white-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -233px;
        z-index: 200;
        pointer-events: none;

        @media (max-width: 1200px){
            background: none;
        }

        @media (max-width: 1200px){
            clear: none;
            content: "";
            display: block;
            height: 100%;
            width: 109%;
            background: url(/static/images/contacts-estimate-white.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -70px;
            left: -61px;
            z-index: 200;
            pointer-events: none;
        }

        @media (max-width: 900px) {
            width: 114%;
            top: -48px;
        }

        @media (max-width: 475px) {
            width: 120%;
            top: -26px;
        }
    }

    .estimate-form-inputs {
        position: absolute;
        left: -92px;
        width: 652px;
        top: 40px;
        z-index: 300;

        @media (max-width: 1200px){
            max-width: 652px;
            width: auto;
            left: auto;
        }

        @media (max-width: 700px){
            max-width: 652px;
            width: 100%;
            left: auto;
            margin: 10px;
            padding: 10px 10px 20px 10px;
        }
    }

    .estimate-input-cols {
        padding-left: 40px;
    }

    .question-title {
        color: #12103e;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.12px;
        margin-bottom: 15px;
        margin-top: 15px;
        margin-right: 10px;

        display: flex;
        align-items: flex-end;

        @media (max-width: 1200px){
            max-width: 652px;
            width: auto;
            left: auto;
        }

        @media (max-width: 700px){
            width: calc(100% - 10px);
        }

        &.align-flex-start {
            align-items: flex-start;
        }

        .third-point {
            margin-left: 0;
            display: flex;
        }

        .question-number {
            color: #dc5052;
            font-family: Raleway;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 1.6px;
            margin-right: 5px;
        }

        .qn-check {
            vertical-align: top;
            margin-right: 7px;
        }

        .pm-check {
            vertical-align: top;
            margin-top: 4px;
            margin-left: 3px;
            min-width: 18px;

            svg {
                opacity: 0;
            }
        }

        .question-checkbox-title {
            line-height: 1.3;
            width: 528px;
            margin-right: 10px;
            margin-left: 10px;

            @media (max-width: 1200px){
                max-width: 510px;
                width: 100%;
            }

            @media (max-width: 700px){
                display: inline;
                margin-right: 30px;
            }
        }
    }

    .input-radio-wrap, .input-checkbox-wrap {
        display: inline-block;
    }

    .input-checkbox-wrap {
        width: 204px;
        font-size: 14px;
        margin-bottom: 15px;

        .custom-checkbox {
            &.error {
                border-color: red;
            }

            svg {
                opacity: 0;
            }
        }
    }

    input[type="radio"] {
        display: none;
        & ~ .label-for-radio-btn{
            cursor: pointer;
        }
    }

    .label-for-radio-btn {
        height: 100%;
        display: block;
        padding: 7px;
        margin-bottom: 5px;
        margin-right: 25px;
        text-align: center;
        position: relative;
        width: 180px;
        height: 37px;
        font-size: 13px;
        border-radius: 10px;
        border: 1px solid #acacac;
        background-color: #f6f6f6;

        &:hover {
            border-color: #00539a;
        }

        .radio-lable-title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    input[type="radio"]:checked + .label-for-radio-btn {
        border: 1px solid #00539a;
        background-color: #accbff;
        opacity: 0.9;
        cursor: auto;
    }

    input[type="checkbox"] {
        display:none;
    }

    .label-for-checkbox-btn {
        margin: auto;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;

        span {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0,0,0);

            &:first-child {
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 3px;
                transform: scale(1);
                vertical-align: middle;
                border: 1px solid #9098A9;
                transition: all .2s ease;

                svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    fill: none;
                    stroke: #00539a;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 16px;
                    stroke-dashoffset: 16px;
                    transition: all .3s ease;
                    transition-delay: .1s;
                    transform: translate3d(0,0,0);
                }

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #00539a;
                    display: block;
                    transform: scale(0);
                    opacity: 1;
                    border-radius: 50%;
                }
            }

            &:last-child {
                padding-left: 3px;
            }
        }

        &:hover span:first-child {
            border-color: #00539a;;
        }
    }

    .check:checked + .label-for-checkbox-btn {
        .custom-checkbox,
        .pm-check {
            svg {
                opacity: 1;
            }
        }

        span {
            &:first-child {
                background-color: #b4d0ff;
                border-color: #00539a;
                animation: wave .4s ease;

                svg {
                    stroke-dashoffset: 0;
                }

                &:before {
                    transform: scale(3.5);
                    opacity: 0;
                    transition: all .6s ease;
                }
            }
        }
    }

    .input-select-wrap {
        position: relative;

        @media (max-width: 700px){
            margin-right: 45px;
        }

        &::after {
            content: '';
            font: 17px "Consolas", monospace;
            color: #00539a;
            right: 12%;
            top: 15px;
            padding: 0 0 2px;
            position: absolute;
            pointer-events: none;
            text-shadow: 0px 0.5px;
            background-image: url('/static/images/svg/arrow-down.svg');
            background-repeat: no-repeat;
            height: 20px;
            width: 25px;

            @media (max-width: 700px){
                right: 2%;
            }
        }

        .input-select {
            background: transparent;
            width: 540px;
            padding: 5px;
            padding-left: 25px;
            margin-left: 5px;
            font-size: 14px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid;
            height: 34px;
            -webkit-appearance: none;
            border-bottom: 1px solid #acacac;
            outline: none;
            font-family: Raleway;
            font-weight: 400;
            letter-spacing: 0.24px;
            appearance: none;
            cursor: pointer;

            @media (max-width: 700px){
                width: 100%;
                margin-right: 45px;
                padding: 5px 0px;
            }

            option {
                background-color: #f6f6f6;
                letter-spacing: 0.2px;
                color: #13243c;
                font-family: Raleway;
                font-size: 15px;
                margin-left: 25px;
                cursor: pointer;

                &:hover {
                    background-color: #b4d0ff;
                }
            }
        }
    }

    @keyframes wave {
        50% {
            transform: scale(.9);
        }
    }

    .input-contacts {
        position: relative;
        display: inline-block;
        margin-left: 45px;

        @media (max-width: 700px){
            display: block;
            margin-right: 45px;
        }

        input {
            border: 0;
            width: 239px;
            border-bottom: 1px solid #acacac;
            margin-bottom: 18px;
            margin-top: 35px;
            outline: none;
            padding: 5px;
            color: #5591f5;
            font-size: 16px;
            letter-spacing: 0.28px;

            @media (max-width: 700px){
                width: 100%;
                display: block;
                padding: 5px 0px;

            }

            &.error {
                color: red;
                border-color: red;
            }
        }

        label {
            color: #13243c;
            font-family: Raleway;
            font-weight:normal;
            font-size: 14px;
            letter-spacing: 0.24px;
            position:absolute;
            pointer-events:none;
            left:5px;
            bottom: 22px;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;

            @media (max-width: 700px){
                bottom: 8px;
            }
        }

        input:focus ~ label, input:valid ~ label {
            bottom: 45px;
            font-size:13px;
            color:#5591f5;

            @media (max-width: 700px){
                bottom: 36px;
            }
        }

        .bar    {
            position:relative;
            display:block;
            width:100%;
        }

        .bar:before, .bar:after {
            content:'';
            height:2px;
            width:0;
            bottom:18px;
            position:absolute;
            background:#5591f5;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;
        }

        .bar:before {
            left:50%;
        }

        .bar:after {
            right:50%;
        }

        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width:50%;
        }

        .highlight {
            position:absolute;
            height:40%;
            width:100px;
            bottom:25%;
            left:0;
            pointer-events:none;
            opacity:0.5;
        }

        input[type="mail"] ~ {
            .highlight {
                position:absolute;
                height:70%;
                width:190px;
                bottom:40%;
                left:0;
                pointer-events:none;
                opacity:0.5;

                @media (max-width: 700px){
                    width: 100%;
                }
            }

            .bar    {
                position:relative;
                display:block;
                width:100%;
            }
        }

        input:focus ~ .highlight {
            -webkit-animation:inputHighlighter 0.3s ease;
            -moz-animation:inputHighlighter 0.3s ease;
            animation:inputHighlighter 0.3s ease;
        }

        @-webkit-keyframes inputHighlighter {
            from { background:#5591f5; }
            to    { width:0; background:transparent; }
        }

        @-moz-keyframes inputHighlighter {
            from { background:#5591f5; }
            to    { width:0; background:transparent; }
        }

        @keyframes inputHighlighter {
            from { background:#5591f5; }
            to    { width:0; background:transparent; }
        }
    }

    .input-email {
        input {
            width: 533px;
            margin-top: 0px;

            @media (max-width: 700px){
                width: 100%;
                margin-bottom: 18px;
                margin-top: 35px;
            }
        }
    }

    .input-textarea {
        margin-bottom: 10px;

        @media (max-width: 700px){
            position: relative;
            margin-right: 110px;
        }

        .input-textarea-title {
            color: #13243c;
            font-family: Raleway;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.24px;
            margin-left: 50px;
        }

        textarea {
            margin-top: 7px;
            margin-left: 45px;
            width: 523px;
            padding: 10px;
            height: 90px;
            outline: none;
            border-radius: 3px;
            line-height: 1.3;
            color: #5591f5;
            font-size: 15px;
            letter-spacing: 0.28px;
            resize: none;
            border: 1px solid rgb(169, 169, 169);

            @media (max-width: 700px){
                width: 100%;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
                width: 100%;
                color: rgb(169, 169, 169);
            }

            &::-moz-placeholder { /* Firefox 19+ */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
                width: 100%;
                color: rgb(169, 169, 169);
            }

            &:-ms-input-placeholder { /* IE 10+ */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
                width: 100%;
                color: rgb(169, 169, 169);
            }

            &:-moz-placeholder { /* Firefox 18- */
                font-family: Raleway;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.24px;
                width: 100%;
                color: rgb(169, 169, 169);
            }
        }
    }

    .form-footer {
        margin-bottom: 20px;
        margin-right: 10px;

        @media (max-width: 700px){
            margin-right: 85px;
        }

        .touch-screen {
            float: left;
            margin-left: 50px;
            width: 30px;
            margin-right: 10px;
        }

        .form-footer-text {
            width: 591px;
            color: #12103e;
            font-family: Raleway;
            line-height: 1.2;
            font-size: 15px;

            @media (max-width: 700px){
                width: 100%;
                margin-left: 50px;
            }

            span {
                font-weight: 600;
            }

            a {
                color: #5491f5;
            }
        }
    }

    .submit-btn {
        margin-right: 70px;
    }

    .form-status {
        font-size: 12px;
    }
}

.contacts-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.estimate-title {
    padding-left: 5px;
    text-align: center;
}

.btn-send {
    width: 90px;
    height: 57px;

    .btn-inner  {
        height: 57px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -12px 0 0 -13px;
            width: 26px;
            height: 25px;
        }
    }
}

.contact-icon {
	position: absolute;
	z-index: 400;
	margin-top: -83px;
	background-size: 100% 100%;

	@media (max-width: 570px) {
		display: none;
	}
}


.contacts-mail, .contacts-file {
    @extend .contact-icon;
    left: 300px;
    top: 50%;
    width: 166px;
    height: 166px;

    @media (max-width: 1200px) {
        top: 130px;
        left: 49.5%;
        margin: 0 0 0 -70px;
    }
    @media (max-width: 900px) {
        left: 47.8%;
    }

}

.contacts-file {
    background: url('/static/images/svg/file.svg') no-repeat;
    left: 260px;
    top: 230px;

    @media (max-width: 1200px) {
        left: 49.5%;
        top: 130px;
    }
}

.contacts-mail {
    background: url('/static/images/svg/mail.svg') no-repeat;
}

.contacts-stars {
    li {
        position: absolute;
        width: 11px;
        height: 11px;
        background: url(/static/images/svg/con-star.svg) no-repeat;
        background-size: 100% 100%;
        animation: flyStar 10s ease-in-out infinite;

        &:nth-child(1) {
            top: 10%;
            left: 32%;
        }

        &:nth-child(2) {
            top: 50%;
            left: 3%;
            animation-name: flyStar2;
        }

        &:nth-child(3) {
            top: 88%;
            left: 20%;
            animation-name: flyStar2;
        }

        &:nth-child(4) {
            top: 65%;
            left: 30%;
        }

        @media (max-width: 1200px){
            &:nth-child(1) {
                top: 15%;
                left: 15%;
            }

            &:nth-child(2) {
                top: 1%;
                left: 35%;
            }

            &:nth-child(3) {
                top: 20%;
                left:65%;
            }

            &:nth-child(4) {
                display: none;
            }
        }
    }
}

@keyframes flyStar {
    0%, 100% {
        transform: translate(10px, -10px);
    }
    50% {
        transform: translate(0, 0);
    }
}

@keyframes flyStar2 {
    0%, 100% {
        transform: translate(-8px, 13px);
    }
    50% {
        transform: translate(0, 0);
    }
}
.skype_button {
    display: inline;

    p {
        display: inline;
    }

    a {
        display: inline;
        padding: 0;
    }

    .skype-button {
        display: none;
    }

    img {
        margin: 3px 0 0 5px;
        vertical-align: middle;
    }
}

.messege-textarea {
    resize: none;
}
