.circles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  height: 310px;
  margin: -155px 0 0 -155px;
}
.circles .circle {
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
}
.circles .circle:nth-child(1) {
  opacity: 0.03;
  width: 100%;
  height: 100%;
}
.circles .circle:nth-child(2) {
  opacity: 0.04;
  width: 576px;
  height: 576px;
  top: -132px;
  left: -132px;
}
.circles .circle:nth-child(3) {
  opacity: 0.05;
  width: 786px;
  height: 786px;
  top: -238px;
  left: -238px;
}
.circles .circle:nth-child(4) {
  opacity: 0.055;
  width: 970px;
  height: 970px;
  top: -330px;
  left: -330px;
}

.moons {
  position: absolute;
  width: 970px;
  height: 970px;
  top: -330px;
  left: -330px;
}
.moons .moon {
  position: absolute;
  background: url('/static/images/plnt.png') no-repeat;
  background-size: 73px 73px;
}
.moons .moon:nth-child(1) {
  width: 73px;
  height: 73px;
  left: 199px;
  top: 86px;
}
.moons .moon:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 200px;
  top: 706px;
  background-size: 60px 60px;
}
.moons .moon:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 835px;
  top: 260px;
  background-size: 40px 40px;
}
.page-404 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #071e40 0%, #662938 80%);
}
.page-404-socket {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  margin: auto;
  height: 100vh;
}
@media (max-width: 400px) {
  .page-404-socket {
    width: 300px;
  }
  .page-404-socket .image img {
    width: 100%;
  }
}
.page-404-socket section {
  width: 100%;
  display: block;
  text-align: center;
}
.page-404-socket .image {
  text-align: center;
}
.page-404-socket p {
  margin-top: -25px;
  margin-bottom: 35px;
  color: #fff;
}

.btn-e {
  border-radius: 35px;
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 0 34px 0 74px;
  line-height: 62px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.btn-e span {
  display: inline-block;
  position: relative;
}
.btn-e span:before {
  content: "";
  position: absolute;
  display: block;
  left: -45px;
  top: 48%;
  width: 21px;
  height: 2px;
  background-color: #fff;
}
.btn-e span:after {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-left-color: #fff;
  pointer-events: none;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-135deg);
  content: "";
  display: block;
  left: -45px;
  top: 48%;
  margin-top: -5px;
  border-width: 2px;
}
.btn-e:hover span:before, .btn-e:hover span:after {
  animation: moveLeft 3s linear infinite;
}

@keyframes moveLeft {
  0%, 100% {
    left: -45px;
  }
  33% {
    left: -50px;
  }
  66% {
    left: -42px;
  }
}
