.portfolio {
  padding: 0 30px;
  position: relative;
  @media (max-width: 500px) {
    padding: 40px 20px;
  }
}

.portfolio-works__row {
  margin-bottom: 30px;
}
.portfolio-works__category-title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 30px;
  color: #e3504e;
}
.portfolio-works {
  .portfolio__list {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
  }
  .portfolio__item {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    margin: 0;
    transition: transform 0.1s ease-in-out;
    &:before {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: calc(50% - 32px);
    }

    @media (min-width: 1024px) {
      width: calc(100% / 12 * 4 - 32px);
    }
  }
  .portfolio__item-link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  .portfolio__item-figure {
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .portfolio__item-figure-img-wrap {
    height: 0;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden;
  }
  .portfolio__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .portfolio__figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0 0;
    flex-grow: 1;
  }
  .portfolio__item-title {
    margin: 0 0 10px 0 !important;
    color: #2D4352;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    text-align: left;
  }
  .portfolio__item-tags {
    margin: 0 -5px 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
  }

  .tag {
    @extend .tags-text;
    padding: 5.5px 20px;
    display: inline-block;
    font-size: 0.85em;
    border-radius: 2px;
    background-color: #d93a4223;
    color: #d42e2d;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    @include breakpoint(sm-max) {
      margin-bottom: 10px;
    }
    margin-bottom: 12px;
    margin-right: 12px;

    @media (min-width: 1280px) {
      margin-bottom: 17px;
      margin-right: 17px;
    }

    @media (min-width: 575px) and (max-width: 768px) {
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }
}

// .filter.filter--portfolio {
//   flex-direction: row-reverse !important;
//   padding: 0;
//   margin-left: 0;
//   margin-right: 0;
//   align-items: flex-start;
//   max-width: initial;
//   .filter__show-all {
//     margin-bottom: 0;
//     display: flex;
//     justify-content: flex-end;
//     padding: 10px 0;
//   }
//   .filter__btn {
//     min-width: 0;
//     padding: 8px 20px;
//     color: #12233d;
//     font-family: "Raleway";
    
//     &:not(.-red):not(.-show-all) {
//       background-color: #F2F3F5;
//     }

//     &.-red {
//       color: white;
//       &:after {
//         display: none;
//       }
//     }

//     &.-show-all {
//       margin-right: 0;
//       padding-top: 8px;
//       padding-bottom: 8px;
//       color: #d42e2d;
//       border-color: #d42e2d;
//     }
//   }

//   .filter__list {
//     justify-content: flex-start;
//   }

//   @media (min-width: 678px) and (max-width: 991px) {
//     padding: 0 30px;
//   }

//   @include breakpoint(md) {
//     margin-left: 128px;
//     padding-right: 30px;
//   }

//   @media (min-width: 1024px) {
//     margin-left: 100px;
//     padding-right: 45px;
//   }

//   @include breakpoint(lg) {
//     margin-left: 180px;
//   }

//   @media (min-width: 1440px) {
//     margin-left: 204px;
//     padding-right: 20px;
//   }

//   @media (min-width: 1600px) {
//     margin-left: 224px;
//   }

//   @media (min-width: 1920px) {
//     margin-left: 244px;
//   }
// }
