.scroll-top-top {
    position: fixed;
    right: 50px;
    bottom: 40px;
    width: 48px;
    height: 96px;
    z-index: 50;
    @media (max-width: $desktop-xs) {
        display: none;
    }
}

.referral-layout-page .content {
    padding-left: 0;
    .page__referral-program {
        padding: 0;
        .welcome-block {
            margin: 40px 0 0 44px;
            display: flex;
            flex-direction: row;
            .logo img {
                width: 172px;
                height: 40px;
            }
            @media (max-width: $desktop-md) {
                flex-direction: column;
                margin: 40px 30px 0;
            }
            @media (max-width: $tablet-sm) {
                margin: 25px 25px 0;
                .logo {
                    display: flex;
                    justify-content: center;
                }
            }
            &-left {
                flex: 0 0 55%;
                &-content {
                    margin-top: 80px;
                    padding: 0 102px;
                    h1 {
                        font-weight: bold;
                        font-size: 54px;
                        line-height: 64px;

                    }
                    .text {
                        margin: 30px -102px 0;
                        font-size: 18px;
                        line-height: 28px;
                        padding: 24px 102px;
                        position: relative;
                        background: #fafafa;
                        .quotes {
                            position: absolute;
                            width: 70px;
                            height: 48px;
                            &.left {
                                top: -22px;
                                left: 0;
                            }
                            &.right {
                                bottom: -22px;
                                right: 0;
                                transform: rotate(180deg);
                            }
                        }
                    }
                    @media (max-width: $desktop-md) {
                        padding: 0 -90px;
                        .text {
                            margin: 30px -90px 0;
                            padding: 24px 90px;
                        }
                    }
                    @media (max-width: $tablet-sm) {
                        padding: 0;
                        h1 {
                            font-size: 28px;
                            line-height: 33px;
                        }
                        .text {
                            margin: 30px -25px 0;
                            padding: 24px 25px;
                            font-size: 14px;
                            line-height: 24px;
                            .quotes {
                                width: 35px;
                                height: 24px;
                                &.left {
                                    top: -12px;
                                }
                                &.right {
                                    bottom: -12px;
                                }
                            }
                        }
                    }
                }
                .contact-data {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex: 0 0 100%;
                    margin-top: 48px;
                    padding: 0 102px;
                    .seo-name {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 34px;
                        p {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 24px;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .button {
                        width: 180px;
                        padding: 16px 0;
                        text-transform: uppercase;
                        a {
                            font-size: 16px;
                        }
                    }
                    @media (max-width: $desktop-md) {
                        flex: 1 1 auto;
                        padding: 0 0 0 102px;
                        flex-direction: column;
                        a {
                            margin: 64px 0;
                        }
                    }
                    @media (max-width: $tablet-sm) {
                        padding: 0;
                        margin-top: 15px;
                        flex-direction: row;
                        .seo-name {
                            font-size: 16px;
                            line-height: 26px;
                            p {
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                        a {
                            margin: 0;
                        }
                    }
                }
                .horizontal-line {
                    background: #12233D;
                    opacity: 0.2;
                    width: 100%;
                    height: 1px;
                    margin-top: 40px;
                    @media (max-width: $desktop-md) {
                        margin-top: 0px;
                    }
                }
                .contacts {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5px 102px 20px;
                    flex-wrap: wrap;
                    a {
                        display: flex;
                        flex-direction: row;
                        line-height: 24px;
                        margin: 5px;
                        color: #12233D;
                        text-decoration: none;
                        p {
                            background: #12233D;
                            opacity: .5;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-right: 10px;
                            img {
                                width: 50%;
                                height: auto;
                            }
                        }
                        &:hover p {
                            opacity: 1;
                        }
                    }
                    @media (max-width: $desktop-md) {
                        padding: 5px 5px 20px 90px;
                    }
                    @media (max-width: $tablet-sm) {
                        padding: 5px 0 20px;
                        flex-wrap: nowrap;
                        flex-direction: column;
                    }
                }
                .mobile-content-right {
                    display: none;
                    @media (max-width: $tablet-sm) {
                        display: flex;
                        margin-top: 20px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            &-right {
                width: 45%;
                background: url("/static/images/referral-program/max.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right bottom;
            }
            .tablet-content {
                display: flex;
                &-left, &-right {
                    width: 100%;
                }
                &-right {
                    display: none;
                    width: 45%;
                    background: url("/static/images/referral-program/max-768.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right bottom;
                }
                @media (max-width: $desktop-md) {
                    margin-top: 20px;
                    &-left, &-right {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                }
                @media (max-width: $tablet-sm) {
                    &-right {
                        display: none;
                    }
                    &-left{
                        width: 100%;
                    }
                }
            }
        }

        .project-stage {
            background: #12233D;
            text-align: center;
            position: relative;
            h2 {
                padding-top: 80px;
                color: #fff;
                font-weight: bold;
                font-size: 34px;
                line-height: 44px;
            }
            .stages {
                padding: 50px 30px 132px;
                max-width: 804px;
                margin: 0 auto;
                .text-bold {
                    font-weight: bold;
                }
                input {
                    display: none;
                }
                input + label {
                    display: inline-block;
                }
                #exist:checked ~ .tab {
                    .startup-content {
                        opacity: 0;
                        height: 0;
                        overflow: hidden;
                        animation-name: hideText;
                        animation-duration: 300ms;
                        animation-fill-mode: backwards;

                        a {
                            color: #fff;
                            font-weight: bold;
                        }
                        a:hover {
                            opacity: .7;
                        }
                    }
                    .exist-content {
                        margin: 0;
                        animation-delay: 300ms;
                        animation-name: showText;
                        animation-duration: 200ms;
                        animation-fill-mode: backwards;
                    }
                }
                #startup:checked ~ .tab {
                    .exist-content {
                        opacity: 0;
                        height: 0;
                        overflow: hidden;
                        animation-name: hideText;
                        animation-duration: 300ms;
                        animation-fill-mode: backwards;
                    }
                    .startup-content {
                        margin: 0;
                        animation-delay: 300ms;
                        animation-name: showText;
                        animation-duration: 200ms;
                        animation-fill-mode: backwards;
                        a {
                            color: #fff;
                        }
                        a:hover {
                            opacity: .7;
                        }
                    }
                }
                @keyframes hideText {
                    0% {margin: 0;opacity: 1;height: auto;}
                    100%{margin: 0 200px 0 -200px;opacity: 0;height: 0; overflow: hidden;}
                }
                @keyframes showText {
                    0% {opacity: 0;height: 0;}
                    100%{opacity: 1;height: auto;}
                }

                input + label {
                    color: #F9F9FB;
                    font-size: 24px;
                    line-height: 34px;
                    position: relative;
                    cursor: pointer;
                    width: calc(50% - 15px);
                    text-align: left;
                    border-bottom: rgba($color: #D62C2C, $alpha: 0.5) solid 2px;
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    div {
                        width: 61.44px;
                        height: 61.44px;
                        border: rgba($color: #fff, $alpha: 0.4) 1px solid;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 14px;
                        position: relative;
                        img {
                            position: absolute;
                            width: 33px;
                            height: 42px;
                            opacity: 0.5;
                            transition: opacity 0.5s;
                        }
                        span.ellipse {
                            width: 65px;
                            height: 65px;
                            transform: rotate(0deg);
                            transition: transform 0.5s;
                            svg {
                                width: 31.5px;
                                margin-left: -0.6px;
                                height: 64px;
                                opacity: 1;
                                fill: #717B8B;
                            }
                        }
                    }
                    p {
                        opacity: 0.5;
                        transition: opacity 0.5s;
                    }
                }
                label:first-of-type {
                    margin-right: 15px;
                }
                label:last-of-type {
                    margin-left: 15px;
                }
                input:checked + label {
                    font-weight: bold;
                    cursor: default;
                    border-bottom: #D62C2C solid 4px;
                    p, div img {
                        opacity: 1;
                    }
                    .ellipse {
                        transform: rotate(-180deg);
                        svg {
                            fill: #D62C2C;
                        }
                    }
                }
                input ~ .tab {
                    background-color: #293950;
                    padding: 40px;
                    color: #F9F9FB;
                    margin-top: -2px;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: left;
                    min-height: 178px;
                    h3 {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 24px;
                        color: #fff;
                        margin-bottom: 15px;
                    }
                }
            }
            .details-btn-holder {
                display: flex;
                flex-direction: column;
                position: relative;
                div {
                    position: absolute;
                    top: 25px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img {
                        width: 24px;
                        height: 24px;
                        margin: 0 auto 5px;
                    }
                    .button {
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            @media (max-width: $tablet-sm) {
                h2 {
                    font-size: 26px;
                    line-height: 36px;
                    margin: 0 25px;
                    padding-top: 60px;
                }
                .stages {
                    padding: 25px 30px 132px;
                    input + label {
                        font-size: 16px;
                        line-height: 26px;
                        flex-direction: column;
                        width: calc(50% - 5px);
                        p {
                            margin-bottom: 5px;
                        }
                    }
                    input ~ .tab {
                        font-size: 14px;
                        line-height: 24px;
                        padding: 20px;
                        min-height: 140px;
                        h3 {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                    label:first-of-type {
                        margin-right: 5px;
                    }
                    label:last-of-type {
                        margin-left: 5px;
                    }
                }
            }
        }
        #partners {
            overflow: hidden;
            .block--header-title{
                font-weight: bold;
            }
            @media (max-width: $tablet-sm) {
                .block--header-title {
                    font-size: 26px;
                    line-height: 36px;
                }
                .partners--testimonials {
                    background-size: 48px 21px;
                    padding: 50px 0;
                }
                .block--content .partners::after{
                    background-size: 48px 21px;
                    right: 20px;
                }
                .partners--testimonials {
                    .partners--testimonial {
                        font-size: 14px;
                        line-height: 24px;
                        padding: 0 5px;
                    }
                    .partners--testimonials-arrow{
                        width: 11px;
                        height: 21px;
                    }
                }
            }
        }
        .hide {
            display: none;
        }
        .show {
            display: flex;
        }
        .project-stage-details {
            margin: 35px 72px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &.hide {
            @extend .hide;
            }
            &.show {
                @extend .show;
            }
            h3 {
                font-weight: bold;
                font-size: 34px;
                line-height: 44px;
                text-align: center;
            }
            .startup-details,
            .existing-project-details {
                max-width: 1200px;
                display: flex;
                flex-direction: column;
                align-content: center;
                &.hide {
                    @extend .hide;
                }
                &.show {
                    @extend .show;
                }
            }
        .lets-talk {
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 34px;
            line-height: 44px;
            columns: #000;
            margin: 60px auto;
            text-transform: uppercase;
            font-size: 34px;
            a {
                max-width: 172px;
                margin-left: 40px;
            }
        }
            .ux-discovery-deliverables-container {
            margin: 60px 0 0 90px;
                h5 {
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 44px;
                    margin-bottom: 25px;
                    text-align: center;
                    @media (max-width: $tablet-lg) {
                        font-size: 26px;
                    }
                }
            }
            @media (max-width: $desktop-sm) {
                .ux-discovery-deliverables-container {
                    margin: 40px 0 60px 0;
                }
            }
            @media (max-width: $desktop-xs) {
                margin: 40px 30px 20px;
                .lets-talk {
                    margin: 60px auto 0;
                    flex-direction: column;
                    a {
                        display: block;
                        margin: 0 auto;
                        margin-top: 25px;
                    }
                }
            }
            @media (max-width: $tablet-sm) {
                margin: 40px 25px 20px;
                h3 {
                    font-size: 26px;
                    line-height: 36px;
                }
                .lets-talk {
                    margin: 40px auto 0;
                    font-size: 26px;
                    line-height: 36px;
                    text-align: center;
                    a {
                        margin: 25px auto;
                    }
                }
            }
        }
        .lets-discuss-block {
            margin: 80px 0 0;
            text-align: center;
            h3 {
                font-weight: bold;
                font-size: 34px;
                line-height: 44px;
                @media (max-width: $tablet-lg) {
                    padding: 0 15%;
                }
                @media (max-width: $tablet-sm) {
                    padding: 0 30px;
                    font-size: 26px;
                    line-height: 36px;
                }
            }
            h5 {
                font-size: 18px;
                line-height: 28px;
                @media (max-width: $tablet-lg) {
                    padding: 0 15%;
                }
                @media (max-width: $tablet-sm) {
                    padding: 0 30px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            .lets-discuss-content {
                display: flex;
                justify-content: center;
                position: relative;
                min-height: 505px;
                .left-content,
                .right-content {
                    width: 50%;
                    display: flex;
                }
                .left-content {
                    align-items: flex-end;
                    padding-right: 25px;
                    flex-direction: column;
                    &.show-content {
                        display: flex;
                    }
                    &.hide-content {
                        display: none;
                    }
                }
                .right-content {
                    justify-content: flex-start;
                    padding-left: 25px;

                    &.center {
                        padding-left: 0;
                        justify-content: flex-end;
                        width: 784px;
                        transition: width 300ms;

                        &.smal {
                            width: 376px;
                            .data-wrapper .data-container {
                                width: 100%;
                            }
                        }
                        .meeting-content {
                            height: 100%;
                        }
                        @media (max-width: $tablet-lg) {
                            width: 376px;
                        }
                        .step-content{
                            max-width: 784px;
    
                            @media (max-width: $tablet-lg) {
                                max-width: 376px;
                            }
                        }
                        .data-wrapper {
                            display: flex;

                            @media (max-width: $tablet-lg) {
                                flex-direction: column;
                            }
                            .data-container {
                                width: 50%;

                                @media (max-width: $tablet-lg) {
                                    width: 100%;
                                }
                                .idea-container {
                                    max-height: 220px;
                                    overflow-y: auto;
                                }
                            }
                        }
                    }
                }
                .step-content {
                    max-width: 376px;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 25px;
                    .mail-msg {
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: 40px;
                        background-color: #FFF;
                        height: 400px;
                        padding: 25px;

                        h3 {
                            margin-top: 70px;
                            font-size: 24px;
                            line-height: 34px;
                        }

                        .red {
                            color: #D62C2C;
                        }
                    }
                    .title {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 34px;
                        text-align: left;
                        margin: 16px 0 10px;
                    }
                    .react-calendar {
                        border: none;
                        padding: 10px 20px;
                        width: 100%;
                        height: 265px;
                        .react-calendar__month-view__weekdays,
                        .react-calendar__navigation__next2-button,
                        .react-calendar__navigation__prev2-button  {
                            display: none !important;
                        }
                        .react-calendar__viewContainer {
                            margin: 0 35px;
                        }
                        .react-calendar__navigation {
                            border-bottom: 1px solid #F2F3F5;
                            margin-bottom: 5px;
                            .react-calendar__navigation__arrow {
                                width: 32px;
                                height: 32px;
                                background: #F2F3F5;
                                border-radius: 50%;
                                min-width: 32px;
                                font-size: 32px;
                                display: flex;
                                line-height: 24px;
                                justify-content: center;
                                margin-left: 5px;
                            }
                            .react-calendar__navigation__prev-button {
                                order: 2;

                            }
                            .react-calendar__navigation__next-button {
                                order: 3;
                            }
                            .react-calendar__navigation__label {
                                text-align: left;
                                height: 32px;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 28px;
                                color: #12233D;
                                background-color: #fff;
                                font-family: 'Raleway', sans-serif;
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                        .react-calendar__month-view__days {
                            &__day  { font-weight: bold; }
                            .react-calendar__tile {
                                font-family: Raleway;
                                font-size: 16px;
                                line-height: 24px;
                                color: #12233D;
                                padding: 5px 0;
                                abbr {
                                    width: 24px;
                                    height: 24px;
                                    display: flex;
                                    justify-content: center;
                                    border-radius: 50%;
                                    margin: 0 auto;
                                    line-height: 22px;
                                    &:hover {
                                        color: #D62C2C;
                                    }
                                }
                                &:hover {
                                    background-color: transparent;
                                }
                                &.react-calendar__tile--now{
                                    color: #D62C2C;
                                    background-color: transparent;

                                }
                                &.react-calendar__month-view__days__day--weekend,
                                &:disabled {
                                    color: rgba(18, 35, 61, 0.5);
                                    background-color: transparent;
                                    font-weight: normal;
                                }
                                &.react-calendar__tile--active {
                                    background-color: transparent;

                                    abbr {
                                        background: #e04c28;
                                        color: #fff;


                                    }
                                }
                            }
                        }
                    }
                    .country-list {
                        margin: 0 0 16px 0;
                        .country-list__control {
                            border:none;
                            box-shadow: none;
                            border-radius: 0;
                            height: 40px;
                            .country-list__indicators {
                                display: none;
                            }
                            .country-list__value-container {
                                height: 100%;
                                padding: 0;
                                .country-list__placeholder {
                                    margin-left: 8px;
                                }
                                .country-list__single-value {
                                    top: 0;
                                    height: 100%;
                                    transform: none;
                                    display: flex;
                                    justify-content: center;
                                    padding: 0;
                                    width:100%;
                                    margin: 0 8px;
                                    max-width: calc(100% - 16px);
                                    div{
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        img {
                                            width: 24px;
                                            height: 16px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                                div[class$='Input'] {
                                    margin: 0 0 0 8px;
                                    display: flex;
                                    height: 100%;
                                    padding: 0;
                                    width: 100%;
                                    z-index: 100;
                                    .country-list__input{
                                        height: 100%;
                                        width: 100%;
                                        input {
                                            margin-bottom: 0;
                                            font-family: Raleway;
                                            color: #12233D;
                                            font-size: 16px !important;
                                            line-height: 24px !important;
                                            width: 100% !important;
                                            &:focus {
                                                background-color: white !important;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        &.error {
                            border: 1px solid #D62C2C;
                        }
                        .country-list__menu {
                            margin: 4px 0;
                            .country-list__option {
                                padding-top: 5px 10px;
                                div{
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: 24px;
                                        height: 16px;
                                        margin-right: 10px;
                                    }
                                    span {
                                        display: flex;
                                        font-family: Raleway;
                                        color: #12233D;
                                        font-size: 16px;
                                        line-height: 24px;
                                        align-items: center;
                                        text-align: left;

                                    }
                                }
                                &.country-list__option--is-selected{
                                    background-color: #DEEBFF;
                                }
                            }
                        }
                    }
                    .time-list {
                        margin: 0 0 16px 0;

                        &__menu {
                            z-index: 200;
                        }
                        .time-list__control {
                            border:none;
                            box-shadow: none;
                            border-radius: 0;
                            height: 40px;
                            .time-list__indicators {
                                display: none;
                            }
                            .time-list__value-container {
                                background-color: #fff;
                                height: 100%;
                                padding: 0;
                                .time-list__placeholder {
                                    margin-left: 8px;
                                    .loader {
                                        border: 4px solid #f3f3f3;
                                        border-radius: 50%;
                                        border-top: 3px solid #d62624;
                                        width: 20px;
                                        height: 20px;
                                        -webkit-animation: spin 2s linear infinite; /* Safari */
                                        animation: spin 2s linear infinite;
                                    }
                                    /* Safari */
                                    @-webkit-keyframes spin {
                                        0% { -webkit-transform: rotate(0deg); }
                                        100% { -webkit-transform: rotate(360deg); }
                                    }
                                    @keyframes spin {
                                        0% { transform: rotate(0deg); }
                                        100% { transform: rotate(360deg); }
                                    }
                                }
                                .time-list__single-value {
                                    top: 0;
                                    height: 100%;
                                    transform: none;
                                    padding: 0;
                                    width:100%;
                                    margin: 0 8px;
                                    max-width: calc(100% - 16px);
                                    font-family: Raleway;
                                    color: #12233D;
                                    font-size: 16px;
                                    line-height: 24px;
                                    display: flex;
                                    align-items: center;
                                }
                            }

                        }
                        &.error {
                            border: 1px solid #D62C2C;
                        }
                        .time-list__menu {
                            margin: 4px 0;
                            .time-list__option {
                                padding: 5px 10px;
                                font-family: Raleway;
                                color: #12233D;
                                font-size: 16px;
                                line-height: 24px;
                                align-items: center;
                                text-align: left;
                                &.time-list__option--is-selected{
                                    background-color: #DEEBFF;
                                }
                            }
                        }
                    }
                    .meeting-content {
                        display: flex;
                        flex-direction: column;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: bold;
                        text-align: left;
                        background-color: #fff;
                        padding: 16px;
                        height: 416px;
                        .with-content {
                            margin-top: 10px;
                            margin-bottom: 20px;
                            display: flex;
                            img {
                                width: 45px;
                                height: 45px;
                                margin-right: 10px;
                            }
                            div {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 24px;
                                color: rgba(18, 35, 61, 0.5);
                                div:first-child {
                                    color: #12233D;
                                    font-size: 24px;
                                }
                            }
                        }

                        .data {
                            line-height: 28px;
                            font-weight: normal;
                            padding: 2px 0;
                            span {
                                font-size: 18px;
                                font-weight: bold;
                                margin-right: 15px;
                            }
                        }
                    }
                    &.hide {
                        opacity: 0;
                        height: 0;
                        overflow: hidden;
                        animation-name: hideText;
                        animation-duration: 300ms;
                        animation-fill-mode: backwards;
                        height: 0;
                        margin-bottom: 0;
                    }
                    &.show {
                        margin: 0;
                        height: 480px;
                        animation-delay: 300ms;
                        animation-name: showText;
                        animation-duration: 200ms;
                        animation-fill-mode: backwards;
                        margin-bottom: 25px;
                    }
                    input {
                        font-size: 18px;
                        line-height: 24px;
                        height: 40px;
                        margin-bottom: 8px;
                        padding:8px;
                        border: none;
                        font-family: Raleway;
                        font-weight: normal;
                        &:focus {
                            border: none;
                            outline: none;
                        }
                        &::placeholder {
                            color: rgba(18, 35, 61, 0.5);
                        }
                        &.error {
                            border: 1px solid #D62C2C;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &[type=number] {
                            -moz-appearance: textfield;
                        }
                    }
                    .phone-holder {
                        display: flex;
                        background-color: #fff;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 8px;
                        &.error {
                            border: 1px solid #D62C2C;
                        }
                        span {
                            padding: 8px;
                            font-size: 18px;
                            line-height: 24px;
                            height: 40px;
                        }
                        input {
                            margin-bottom: 0;
                            width: 100%;
                        }
                    }
                    textarea {
                        font-family: Raleway;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        height: 211px;
                        padding:8px;
                        border: none;
                        resize: none;
                        &:focus {
                            border: none;
                            outline: none;
                        }

                    }
                }
                @media (max-width: $tablet-lg) {
                    flex-direction: column;
                    align-items: center;
                    .right-content {
                        display: none;
                        &.center {
                            display: flex;
                        }
                    }
                    .left-content {
                        align-items: center;
                        width: 100%;
                        padding-right: 0;
                    }
                }
                @media (max-width: $tablet-lg) {
                    .step-content {
                        max-width: 330px;
                        .title {
                            font-size: 16px;
                            line-height: 26px;
                        }
                        .meeting-content {
                            font-size: 14px;
                            line-height: 24px;
                            .data span {
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
            .next-btn-holder {
                padding-bottom: 40px;
                display: flex;
                width: 263px;
                margin: 20px auto 0;
                a {
                    margin: 0 auto;
                    width: 123px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: uppercase;
                    height: 48px;
                }

                &.hide {
                    display: none;
                }
            }
        }
        .lets-discuss-container {
            background-image: url("/static/images/referral-program/lets-discuss-bg.jpg");
            background-size: calc(50% + 255px) 100%;
            background-repeat: no-repeat;
            padding: 0 82px;
            position: relative;
            .circles-bg {
                width: 205px;
                height: 251px;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
            @media (max-width: $tablet-lg) {
                padding: 0 28px;
            }
            @media (max-width: $tablet-sm) {
                padding: 0;
                background-size: calc(50% + 165px) 100%;
            }
        }
        .checkmark-steps {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto 24px;
            .checkmark {
                width: 24px;
                height: 24px;
                border: 1px solid #C9CBDD;
                box-sizing: border-box;
                border-radius: 50%;
                svg {
                    display: none;
                }
                &.active {
                    border: 0 solid #C9CBDD;
                    background: linear-gradient(41.25deg, #DE3535 2.37%, #E25D20 96.81%);
                    svg {
                        display: inline;
                    }
                }
            }
            .line {
                width: 64px;
                height: 1px;
                background-color: #C9CBDD;
            }
            @media (max-width: $tablet-lg) {
                margin: 24px auto;
            }
        }
    }
}