.page__referral-program {
    padding: 0;
    .welcome-block {
        margin: 40px 0 0 44px;
        display: flex;
        flex-direction: row;
        .logo img {
            width: 172px;
            height: 40px;
        }
        &-left {
            flex: 0 0 55%;
            &-content {
                margin-top: 80px;
                padding: 0 102px;
                h1 {
                    font-weight: bold;
                    font-size: 54px;
                    line-height: 64px;
                }
                .text {
                    margin-top: 30px;
                    font-size: 18px;
                    line-height: 28px;
                    padding: 24px 0;
                    position: relative;
                    .quotes {
                        position: absolute;
                        width: 70px;
                        height: 48px;
                        &.left {
                            top: 0;
                            left: -102px;
                        }
                        &.right {
                            bottom: -22px;
                            right: -102px;
                            transform: rotate(180deg);
                        }
                    } 
                }
                .contact-data {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex: 0 0 100%;
                    margin-top: 48px;
                    .seo-name {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 34px;
                        p {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 24px;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .button {
                        width: 183px;
                        padding: 16px 0;
                        text-transform: uppercase;
                    }
                }
            }
            .horizontal-line {
                background: #12233D;
                opacity: 0.2;
                width: 100%;
                height: 1px;
                margin-top: 40px;
            }
            .contacts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px 102px 20px;
                flex-wrap: wrap;
                a {
                    display: flex;
                    flex-direction: row;
                    line-height: 24px;
                    margin: 5px;
                    color: #12233D;
                    text-decoration: none;
                    p {
                        background: #12233D;
                        opacity: .5;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-right: 10px;
                        img {
                            width: 50%;
                            height: auto;
                        }
                    }
                    &:hover p {
                        opacity: 1;
                    }
                }
            }
        }
        &-right {
            width: 45%;
            background: url("/static/images/referral-program/max.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }

    .project-stage {
        background: #12233D;
        text-align: center;
        position: relative;
        h2 {
            padding-top: 80px;
            color: #fff;
            font-weight: bold;
            font-size: 34px;
            line-height: 44px;
        }
        .stages {
            padding: 50px 10px 132px;
            max-width: 804px;
            margin: 0 auto;
            input { 
                display: none; 
            }
            input + label { 
                display: inline-block;
            }
            #exist:checked ~ .tab {
                .startup-content {
                    opacity: 0;
                    height: 0; 
                    overflow: hidden;
                    animation-name: hideText;
                    animation-duration: 300ms; 
                    animation-fill-mode: backwards;
                }
                .exist-content {
                    margin: 0;
                    animation-delay: 300ms;
                    animation-name: showText;
                    animation-duration: 200ms; 
                    animation-fill-mode: backwards;
                }
            }
            #startup:checked ~ .tab {
                .exist-content {
                    opacity: 0;
                    height: 0; 
                    overflow: hidden;
                    animation-name: hideText;
                    animation-duration: 300ms; 
                    animation-fill-mode: backwards;
                }
                .startup-content {
                    margin: 0;
                    animation-delay: 300ms;
                    animation-name: showText;
                    animation-duration: 200ms; 
                    animation-fill-mode: backwards;
                }
            }
            @keyframes hideText { 
                0% {margin: 0;opacity: 1;height: auto;}
                100%{margin: 0 200px 0 -200px;opacity: 0;height: 0; overflow: hidden;}
            } 
            @keyframes showText { 
                0% {opacity: 0;height: 0;}
                100%{opacity: 1;height: auto;}
            }
         
            input + label {
                color: #F9F9FB;
                font-size: 24px;
                line-height: 34px;
                position: relative;
                cursor: pointer;
                width: calc(50% - 15px);
                text-align: left;
                border-bottom: rgba($color: #D62C2C, $alpha: 0.5) solid 2px;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                div {
                    width: 61.44px;
                    height: 61.44px; 
                    border: rgba($color: #fff, $alpha: 0.4) 1px solid;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 14px;
                    position: relative;
                    img {
                        position: absolute;
                        width: 33px;
                        height: 42px;
                        opacity: 0.5;
                        transition: opacity 0.5s;
                    }
                    span.ellipse {
                        width: 65px;
                        height: 65px;
                        transform: rotate(0deg);
                        transition: transform 0.5s;
                        svg {
                            width: 31.5px;
                            margin-left: -0.6px;
                            height: 64px;
                            opacity: 1;
                            fill: #717B8B;
                        }
                    }
                }
                p {
                    opacity: 0.5;
                    transition: opacity 0.5s;
                }
            }
            label:first-of-type {
                margin-right: 15px;
            }
            label:last-of-type {
                margin-left: 15px;
            }
            input:checked + label {
                font-weight: bold;
                cursor: default;
                border-bottom: #D62C2C solid 4px;
                p, div img {
                    opacity: 1;
                }
                .ellipse {
                    transform: rotate(-180deg);
                    svg {
                        fill: #D62C2C;
                    }
                }
            }
            input ~ .tab {
                background-color: #293950;
                padding: 40px;
                color: #F9F9FB;
                margin-top: -2px;
                font-size: 18px;
                line-height: 28px;
                text-align: left;
                min-height: 178px;
                h3 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    color: #fff;
                    margin-bottom: 15px;
                }
            }
        }
        .details-btn-holder {
            display: flex;
            flex-direction: column;
            position: relative;
            div {
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translate(-50%, 0);
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 24px;
                    height: 24px;
                    margin: 0 auto 5px;
                }
            }
        }
        .scroll-top-top {
            position: absolute;
            right: 50px;
            bottom: 40px;
            width: 48px;
            height: 96px;
        }
    }
    #partners {
        overflow: hidden;
        .block--header-title{
            font-weight: bold;
        }
    }
    .hide {
        display: none;
    }
    .show {
        display: flex;
    }
    .project-stage-details {
        margin: 95px 72px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.hide {
           @extend .hide; 
        }
        &.show {
            @extend .show; 
        }
        h3 {
            font-weight: bold;
            font-size: 34px;
            line-height: 44px;
            text-align: center;
        }
        .startup-details,
        .existing-project-details {
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-content: center;
            &.hide {
                @extend .hide; 
            }
            &.show {
                @extend .show; 
            }
        }
       .lets-talk {
           display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 34px;
            line-height: 44px;
            columns: #000;
            margin: 60px auto;
            a {
                min-width: 172px;
                margin-left: 40px;
            }
       }
       .ux-discovery-deliverables-container {
           margin: 60px 0 0 90px;
        h5 {
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 25px;
        }
       }
    }
    .lets-discuss-block {
        margin: 60px 0;
    }
}