.page__item-wiip {
  width: 50%;
}

.services-ips-wdwo__item {
  width: 33%;
}

.whom-we-offer-indoor-development__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px -10px !important;
  .whom-we-offer-indoor-development__item {
    width: 33%;
    max-width: 400px;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 10px;
    &:before {
        display: none;
    }
    img {
      @media (max-width: 1000px) {
        max-width: 130px;
      }
      @media (max-width: 500px) {
        max-width: 110px;
      }
    }
  }
    .whom-we-offer-indoor-development-figcaption {
      text-align: center;
      margin-top: 10px;
      a {
          color: #444;
      }
    }
}

.services-ips-bauc__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px -10px !important;
  .services-ips-bauc__item {
    width: 33%;
    max-width: 400px;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 10px;
    &:before {
        display: none;
    }
    img {
      max-width: 130px;
      @media (max-width: 1000px) {
        max-width: 110px;
      }
      @media (max-width: 500px) {
        max-width: 95px;
      }
    }
  }
    .services-ips-bauc-figcaption {
      text-align: center;
      margin-top: 10px;
      a {
          color: #444;
      }
    }
}