.whom-we-offer-indoor-development {
  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px -10px !important;

    .whom-we-offer-indoor-development--item {
      width: 33%;
      max-width: 400px;
      margin: 0;
      box-sizing: border-box;
      padding: 25px 10px;
      &:before {
          display: none;
      }
      img {
        @media (max-width: 1000px) {
          max-width: 130px;
        }
        @media (max-width: 500px) {
          max-width: 110px;
        }
      }
      &-figcaption {
        text-align: center;
        margin-top: 10px;
        a {
            color: #444;
        }
      }
    }
  }
}

.services-ips-bauc--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px -10px !important;
  .services-ips-bauc--item {
    width: 33%;
    max-width: 400px;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 10px;
    &:before {
        display: none;
    }
    img {
      max-width: 130px;
      @media (max-width: 1000px) {
        max-width: 110px;
      }
      @media (max-width: 500px) {
        max-width: 95px;
      }
    }
    @media screen and (max-width: $mobile-lg) {
      width: 100%;
    };
  }
    .services-ips-bauc-figcaption {
      text-align: center;
      margin-top: 10px;
      a {
          color: #444;
      }
    }
}

.services-ips--list {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.services-ips--item {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  margin: 0;
  &:before {
    display: none;
  }

  &-wiip {
    @media screen and (max-width: $mobile-lg) {
      width: 100%;
    };
    width: 50%;
  }

  &-wdwo {
    @media screen and (max-width: $mobile-lg) {
      width: 100%;
    };
    width: 33%;
  }
}

.block--content {
  max-width: 750px !important;
}