.team-page {
  position: relative;
  padding: 0 0 80px;
  background: linear-gradient(135deg, #071e40 0%, #662938 80%);

  h1 {
    position: relative;
    z-index: 600;
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    padding: 70px 50px;

    span {
      display: block;
      color: #b9bce5;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 12px 0 0;
    }
  }
}
.team-page-content {
  position: relative;
  z-index: 700;
}
.ship-columns {
  @include clearfix;
}
.frigate_captain .ship-image img {
  width: 90%;
  padding: 0 5%;
}
.corvette_captain .ship-image img {
  width: 80%;
  padding: 0 10%;
}
.capt_lieutenant .ship-image img {
  width: 70%;
  padding: 0 15%;
}
.midshipman .ship-image img {
  width: 60%;
  padding: 0 20%;
}
.astronaut .ship-image img {
  width: 50%;
  padding: 0 25%;
}
.ship-wrapper {
  float: left;
  width: 50%;
  padding: 40px 25px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    width: 100%;
  }

  .ship {
    position: relative;
    height: 100px;
  }
  .ship-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 90%;
      left: 5%;
    }
  }
  .ship-content-wrapper {
    opacity: 0;
    position: absolute;
    top: -40px;
    left: 20%;
    background: #fff;
    border-radius: 12px;
    width: 60%;
    transition: all .1s;
    z-index: 700;

    @include for-tablet {
      width: 90%;
      left: 10%;
    }

    &:hover {
      opacity: 1;
      top: -50px;
    }
  }
  .ship-content {
    padding: 24px 14px 24px 56px;
    color: #2e4371;
  }
  .ship-content-user-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -40px;
    top: 50%;
    margin: -40px 0 0;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    img {
      width: 100%;
    }
  }
  .ship-content-user-name {
    text-transform: uppercase;
    font-size: 16px;

  }
  .ship-content-user-position {
    font-size: 12px;
    margin: 6px 0 12px;
  }
  .ship-content-user-description {
    font-size: 12px;
    color: #222;
    line-height: 1.4;
  }
}
