div.file-upload-container {
  margin-bottom: 10px;

  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    opacity: .8;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: inline-block;
    padding: 12px 18px 10px 18px;
    margin-bottom: 6px;
    cursor: pointer;
  
    span {
      margin-left: 7px;
      opacity: .6;
    }
  
    img {
      float: right;
    }
  }
  span.file-upload-desc {
    margin-left: 15px;
    opacity: .6;
    font-size: 11px;
    font-weight: 500;
  }
}