workflows:
  version: 2
  untagged-build:
    jobs:
      - lint
  tagged-build:
    jobs:
      - build
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/keenethics
    branches:
      only:
        - master
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Fix host authenticity for 107.170.121.178
          command: ssh-keyscan 107.170.121.178 >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - 'MD5:04:13:38:a4:16:d4:ac:10:99:a7:4c:b4:4e:62:96:1b'
      - run:
          name: Install rsync
          command: sudo apt-get update && sudo apt install rsync
      - run: yarn deploy
  lint:
    docker:
      - image: circleci/node:latest
    working_directory: ~/keenethics
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - run: yarn lint
