$keen-stack-animation-dur: 1s;

.keen-stack {
  &--chest {
    animation-name: chest-motion;
    animation-duration: $keen-stack-animation-dur;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 100px 60px;
  }
  &--chest-two {
    animation-name: chest-motion-two;
    animation-duration: $keen-stack-animation-dur;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 100px 60px;
  }
}

@keyframes chest-motion {
    0%   {transform: translate3d(0, -2px, 0);}
    50%  {transform: translate3d(0, 0, 0);}
    100% {transform: translate3d(0, -2px, 0);}
}

@keyframes chest-motion-two {
    0%   {transform: translate3d(0, 2px, 0);}
    50%  {transform: translate3d(0, 0, 0);}
    100% {transform: translate3d(0, 2px, 0);}
}
