$keen-methodology-animation-dur: 5s;

.keen-methodology {
  &--hand-right {
    animation-name: shake-hand-right;
    animation-duration: $keen-methodology-animation-dur;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 114px 98px;
  }
}

@keyframes shake-hand-right {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(45deg);}
    100% {transform: rotate(0deg);}
}
