$planet-animation-dur: 5s;

.planet {
  &--sun-main {
    animation-name: spin-right;
    animation-duration: $planet-animation-dur*8;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50.5px 50.5px;
  }
  &--sun-one {
    animation-name: spin-right;
    animation-duration: $planet-animation-dur*5;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50.5px 50.5px;
  }
  &--sun-two {
    animation-name: spin-right;
    animation-duration: $planet-animation-dur*4;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    transform-origin: 50.5px 50.5px;
  }
}

@keyframes spin-right {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@keyframes spin-left {
    from {transform: rotate(0deg);}
    to   {transform: rotate(-360deg);}
}
