.meet-our-leaders {
  background-color: #12233D;
  color: white;
  overflow: hidden;
  padding-bottom: 20px;
  @media (min-width: $tablet-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .heading {
    @media(min-width: $tablet-lg) {
      flex: 0 0 50%;
      padding-left: 90px;
      padding-top: 160px;
    }
    @media(min-width: $desktop-md) {
      padding-left: 150px;
      flex: 0 0 42%;
      padding-top: 245px;
    }
  }
  .leaders {
    @media(min-width: $tablet-lg) {
      max-width: 50%;
      padding-top: 60px;
    }
    @media(min-width: $desktop-md) {
      max-width: none;
      flex-grow: 1;
    }
  }
  h1 {
    font-size: 26px;
    line-height: 34px;
    margin-top: 60px;
    text-align: center;
    @media(min-width: $tablet-lg) {
      font-size: 28px;
      line-height: 34px;
      text-align: left;
      display: inline;
      font-weight: 600;
    }
    @media(min-width: $desktop-md) {
      font-size: 34px;
      line-height: 34px;
    }
  }
  p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 15px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
     @media(min-width: $tablet-lg) {
      font-size: 16px;
      line-height: 28px;
      text-align: left;
      margin: 0;
      padding-top: 20px;
    }
    @media(min-width: $desktop-md) {
      font-size: 18px;
      line-height: 28px;
      width: 65%;
    }
  }

  .gallery {
    @media(min-width: $desktop-md) {
      padding: 0 15px;
      width: calc(200px * 2 + 100px + 50px * 2);
      margin-top: 35px;
    }

    &.mobile {
      width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      padding: 0 55px;
      margin-bottom: 10px;

      @media (min-width: $desktop-md) {
        display: none;
      }
      
      @media (min-width: $tablet-lg) {
        padding: 0 45px;
        height: 410px;
        margin-bottom: 15px;
      }

      .gallery-inner {
        display: flex;
        flex-flow: row nowrap;
        width: calc(170px * 5  + 30px * 4);
        margin-top: 45px;

        @media (min-width: $tablet-lg) {
          margin-top: 0;
          width: calc(200px * 5 + 40px * 4);
        }
      }
    }

    &.desktop {
      display: none;
      @media (min-width: $desktop-md) {
        display: flex;
      }

      flex-flow: row nowrap;
    }
  }

  figure {
    width: 170px;
    flex: 0 0 170px;
    margin-right: 25px;

    @media(min-width: $tablet-lg) {
      flex: 0 0 200px;
      margin-right: 40px;
    }
    @media(min-width: $desktop-md) {
      flex: 0 0 260px;
      margin-right: 50px;
    }

    &:last-of-type {
      margin-right: 55px;
    }

    .wrapper {
      position: relative;
      &:hover {
        .overlay {
          height: 100%;
        }
      }
    }

    img {
      width: 100%;
      height: 235px;
      object-fit: cover;
      @media (min-width: $tablet-lg) {
        width: 100%;
        height: 315px;
      }
      @media(min-width: $desktop-md) {
        width: 100%;
        height: 410px;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      background-color: #D62c2c;
      transition: height 0.3s ease;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        &:first-of-type {
        margin-bottom: 30px;
      }
      }
    }
    figcaption {
      text-align: center;
      h3 {
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        margin-top: 20px;
      }
      p {
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        padding: 10px 0px;
        @media(min-width: $tablet-lg) {
          text-align: center;
        }
      }

      @media (min-width: $desktop-md) {
        p {
          margin-top: 5px;
        }

        h3 {
          margin-top: 15px;
        }
      }
    }
  }
  .values-toggler {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @media(min-width: $tablet-lg) {
      justify-content: flex-start;
      margin: 15px 0 45px 55px;
    }
    @media(min-width: $desktop-md) {
      padding: 65px 10px;
    }
    li {
      width: 30px;
      height: 2px;
      background-color: #D2D2D2;
      @media(min-width: $tablet-lg) {
        height: 3px;
      }
      @media(min-width: $desktop-md) {
        width: 60px;
      }

      &.active {
        background-color: #D62624;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    &.desktop {
      display: none;

      padding: 0;
      margin: 35px 0 60px 15px;
      width: 575px;
      align-items: center;

      li.arrow {
        position: relative;
        height: 31px;
        width: 50px;
        background-color: transparent;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 15px;
          width: 100%;
          height: 1px;
          background-color: #fff;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          transform: rotate(45deg);
          top: 12px;
        }

        &.left {
          margin-right: auto;
          &:before {
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            left: 0;
          }
        }

        &.right {
          margin-left: auto;
          &:before {
            border-right: 1px solid white;
            border-top: 1px solid white;
            right: 0;
          }
        }
      }
    }

    @media (min-width: $desktop-md) {
      &.mobile {
        display: none;
      }

      &.desktop {
        display: flex;
      }
    }
  }
}


