.our-values {
  padding: 65px 0 5px;
  text-align: center;
  background-color: #F9F9FB;

  @media (min-width: $desktop-lg) {
    padding-top: 95px;
  }

  h2 {
    margin-bottom: 30px;

    @media (min-width: $desktop-md) {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 25px;
    }
  }

  & > p {
    display: none;

    @media (min-width: $tablet-lg) {
      display: block;
      font-size: 14px;
      line-height: 24px;
      color: #12233D;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-md) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 120px;
    }
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 25px;
    white-space: nowrap;
    margin-bottom: 30px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;

    button {
      display: inline-block;
      width: auto;
      padding: 0 15px;
      height: 29px;
      line-height: 29px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:not(.active) {
        background-color: #fff;
      }

      @media (min-width: $tablet-lg) {
        padding: 0;
        width: 180px;
      }
    }

    @media (min-width: $tablet-lg) {
      margin-bottom: 50px;
      justify-content: center;
    }

    @media (min-width: $desktop-md) {
      margin-bottom: 90px;
    }
  }

  .values-slides {
    width: 100%;

    .slide {
      color: #12233D;
      padding: 0 25px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .img-wrap {
        position: relative;
        height: 0;
        padding-bottom: 115%;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }

      .caption {
        background-color: #fff;
        padding: 30px 15px;
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
        text-align: left;
      }

      p {
        font-size: 14px;
        line-height: 26px;
        text-align: left;

        a {
          color: inherit;
        }
      }

      @media (min-width: $tablet-lg) {
        flex-flow: row nowrap;
        padding: 0;

        img {
          margin-right: 20px;
        }

        .caption {
          padding: 30px;
          margin-right: 20px;
        }

        h4 {
          font-size: 22px;
        }

        p {
          line-height: 22px;
        }
      }

      @media (min-width: $desktop-md) {
        height: 440px;
        max-width: none;

        img {
          width: 620px;
        }

        h4 {
          font-size: 24px;
        }

        .caption {
          max-width: 520px;
          padding: 55px 40px;

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }

  .values-toggler {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    li {
      width: 70px;
      height: 30px;
      position: relative;
      
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        width: 100%;
        height: 2px;
        background-color: #D2D2D2;
      }

      &.active:before {
        background-color: #D62624;
      }

      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}

@include for-tablet {
  .our-values .buttons {
    overflow: hidden;
    display: block;

    button {
      float: left;
      display: block;
      width: 48%;
      margin: 0 1% 6px;

      &:not(:last-of-type) {
        margin: 0 1% 6px;
      }
    }
  }
}

@include for-mobile {
  .our-values .buttons {
    button {
      display: block;
      width: 100%;
      margin: 0 0 6px;

      &:not(:last-of-type) {
        margin: 0 0 6px;
      }
    }
  }
}
