.our-team {
  padding: 50px 0 50px;

  h2 {
    @media (min-width: $desktop-sm) {
      font-size: 34px;
      line-height: 40px;
    }
  }

  p {
    padding: 0 25px;
    color: #12233D;
  }

  .subheading {
    margin: 10px auto 0;
    max-width: 550px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: $tablet-lg) {
      margin: 20px auto 0;
      line-height: 24px;
    }

    @media (min-width: $desktop-sm) {
      font-size: 18px;
      line-height: 28px;
      max-width: 760px;
      margin: 25px auto 0;

      br {
        display: none;
      }
    }
  }

  button {
    width: 160px;
    display: block;
    height: 40px;
  }

  & > button {
    margin: 25px auto 35px;
    
    @media (min-width: $tablet-lg) {
      display: none;
    }
  }

  .pictures-wrapper {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pictures {
    height: 185px;
    width: calc(325px * 5 + 25px * 4);

    display: flex;
    flex-flow: row nowrap;

    &-item {
      height: 100%;
      width: 325px;

      &:not(:last-of-type) {
        margin-right: 25px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media (min-width: $tablet-lg) {
      margin-top: 45px;
      height: 220px;
      width: calc(390px * 5 + 15px * 4);

      &-item {
        width: 390px;

        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }

    @media (min-width: $desktop-sm) {
      margin-top: 55px;
      flex-flow: row wrap;
      width: 100%;
      height: auto;
      padding: 0 10%;

      &-item {
        width: calc(33.3% - 10px);
        margin-bottom: 15px;
        margin-right: 0 !important;
        height: 0;
        padding-bottom: 30%;
        position: relative;
        overflow: hidden;

        img {
          height: 100%;
          width: auto;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &:first-of-type,
        &:nth-of-type(2) {
          width: calc(50% - 8px);
        }

        &:first-of-type {
          margin-right: 16px !important;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          margin-right: 15px !important;
        }

        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          padding-bottom: 20%;
        }
      }
    }
  }

  .description {
    font-size: 18px;
    line-height: 28px;
    padding: 0 25px;
    text-align: left;
    margin-top: 35px;

    @media (min-width: $tablet-lg) {
      font-size: 16px;
      line-height: 28px;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      max-width: 90%;
    }

    @media (min-width: $desktop-sm) {
      font-size: 18px;
      margin-top: 10px;
      max-width: none;
      padding: 0 18%;
    }

    button {
      display: none;

      @media (min-width: $tablet-lg) {
        display: block;
        flex: 0 0 160px;
      }
    }
  }
}