.discovery-stage {
  max-width: 1100px;
  margin: 0 auto;

  &-steppers {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &-item {
      display: flex;
      padding-right: 15px;
      border-bottom: 2px solid #12233d;
      opacity: 0.7;
      font-family: Raleway;
      padding-bottom: 5px;
      cursor: pointer;

      &-number {
        background: #12233d;
        opacity: 0.5;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 8px;
        color: #ffffff;
      }
      &-text {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #12233d;
        opacity: 0.7;
      }
    }
  }

  &-slides {
    display: flex;
    &-item {
      display: flex;

      &-img {
        flex: 0 0 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      &-description {
        flex: 0 0 50%;
      }
    }
  }
}
