.photo-list-gallery-container {
    width: 100%;
    margin: 65px 0 0 0;
    display: flex;
    .list,
    .photo-gallery {
        flex: 1 1 50%;
        width: 50%;
        max-width: 478px;
    }
    &.list-gallery {
        .list,
        .photo-gallery {
            margin-left: 90px;
        }
    }
    &.gallery-list {
        flex-direction: row-reverse;
        .list,
        .photo-gallery {
            margin-right: 90px;
        }
    }
    h5 {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 5px;
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
            display: none;
        }
        label {
            font-size: 16px;
            line-height: 26px;
            margin: 12px 0;
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            span {
                font-weight: bold;
            }
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: rgba($color: #000000, $alpha: 0.5);
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: -5px;
            }
        }
        input:checked + label {
            &::before {
                background-color: #D62C2C;
            }
            span {
                color: #D62C2C;
            }
        }
    }
    .photo-gallery {
        display: flex;
        flex-direction: column;
        flex-flow: row nowrap;
        width: 100%;
        margin-top: 40px;
        &.no-top-margin {
            margin-top: 0;
        }
        figure {
            overflow: hidden;
            width: 100%;
            .figure-images {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                transition: transform .3s ease;
                .wrapper {
                    flex: 0 0 100%;
                    position: relative;
                    &:hover {
                        .overlay {
                            height: 100%;
                        }
                    }
                }
            }

            .figcaptions {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                transition: transform .3s ease;
                figcaption {
                    flex: 0 0 100%;
                    text-align: center;
                    min-height: 20px;
                    h3 {
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: bold;
                        margin-top: 7px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 26px;
                        width: 100%;
                    }
                }
            }
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .values-toggler {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 0;
        width: 60%;
        align-content: stretch;
        margin: 15px auto;
        li {
            width: 100%;
            height: 10px;
            position: relative;
            cursor: pointer;
            margin: 0 5px;
            &.active:after {
                background-color: #D62624;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
                background-color: #D2D2D2;
            }
            &.arrow {
                position: relative;
                height: 31px;
                width: 50px;
                background-color: transparent;
                &:after {
                    top: 15px;
                    height: 1px;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    transform: rotate(45deg);
                    top: 12px;
                }
            }
        }
    }
    @media (max-width: $desktop-xs) {
        flex-direction: column;
        align-items: center;
        padding: 0 92px;
        .list,
        .photo-gallery {
            flex: 1 1 100%;
            width: 100%;
            max-width: 100%;
        }
        &.list-gallery {
            .list,
            .photo-gallery {
                margin-left: 0;
            }
        }
        &.gallery-list {
            flex-direction: column;
            .list,
            .photo-gallery {
                margin-right: 0;
            }
        }
    }
    @media (max-width: $tablet-sm) {
        padding: 0;
        margin: 25px 0 0 0;
        h5 {
            font-size: 16px;
            line-height: 26px;
        }
        .list label {
            font-size: 14px;
            line-height: 24px;
        }
        .photo-gallery {
            figure .figcaptions figcaption {
                margin-left: 5px;
                min-height: 0;
                h3 {
                    font-size: 14px;
                    line-height: 24px;
                    text-align: left;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                    text-align: left;
                }
            }
            .values-toggler {
                width: 100%;
            }
        }
    }
}
