.block-industries {
  background: #12233d;

  .block--header-title {
    color: #fff;
  }
  .block--header-description {
    color: #fff;
  }
}

.industries {
  &--big-item {

  }

  &--big-item-logo {

  }

  &--big-item-title {

  }

  &--big-item-description {

  }
}
