.service-page-body-what-is-service {
  flex: 0 0 42%;
  &-wrapp {
    padding-left: calc(15% - 50px);
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }
  &-title {
    font-family: Raleway;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #12233d;
  }
  &-paragraphs {
    &-paragraph {
      font-family: Raleway;
      font-size: 18px;
      line-height: 28px;
      color: #12233d;
      margin-top: 25px;
    }
  }
  &-call-to-action-btn {
    display: flex;
    & button {
      font-family: Raleway;
    }
    & a {
      margin: 0;
    }
  }
}
