.service-page-header {
  position: relative;
  width: 100%;
  height: 100%;
  &-wrapp {
    width: 100%;
    height: 763px;
    background: url("/static/services-header/service-page-web-development-header.png") no-repeat center;
    background-size: cover;
  }

  & > .scroll-info-container {
    top: 57vh;
    @media screen and (max-width: $desktop-sm) {
      display: none;
    }
  }

  & > .circle-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: initial;
    & > .orange-circle {
      position: initial;
      bottom: initial;
      height: initial;
      width: 380px;
      @media screen and (max-width: $desktop-sm) {
        width: 220px;
      }
      & > .border {
        position: initial;
        @media screen and (max-width: $desktop-sm) {
          border-width: 110px;
        }
      }
    }
  }

  &-left-block {
    padding-left: calc(15% - 50px);
    padding-top: 150px;
    @media screen and (max-width: $mobile-lg) {
      padding-left: calc(15% - 39px);
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-title {
        font-weight: bold;
        font-size: 44px;
        line-height: 54px;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 333px;
      }
      &-red-underline {
        width: 174px;
        border: 2px solid #d62624;
        margin-top: 50px;
        margin-bottom: 35px;
      }
      &-description {
        padding-right: 15px;
        max-width: 477px;
        & > p {
          font-style: italic;
          font-size: 18px;
          line-height: 32px;
          color: #ffffff;
        }
      }
      &-call-to-action-btn {
        & > .service-page-header-btn {
          & > a {
            margin: 0;
            & > button {
              border: 1px solid #ffffff;
              background-color: transparent;
              text-transform: initial;
              background-image: none;
              font-family: Raleway;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              width: 257px;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
