.service-page-body-why-keen-ethics {
  padding-bottom: 50px;
  &-wrapp {
    background: #12233d;
    margin-top: 90px;
    @media screen and (max-width: $tablet-lg) {
      margin-top: 43px;
    }
    & > h3 {
      font-family: Raleway;
      padding-top: 70px;
      padding-bottom: 50px;
      font-size: 34px;
      line-height: 44px;
      text-align: center;
      color: #fff;
    }
  }

  &-list {
    display: flex;
    @media screen and (max-width: $tablet-lg) {
      justify-content: space-between;
    }
    &-left,
    &-right {
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      display: flex;
      &-item {
        display: flex;
        margin-bottom: 45px;
        flex-basis: 45%;
        @media screen and (max-width: $tablet-sm) {
          flex-basis: initial;
          flex-direction: column;
          text-align: center;
        }
        &-icon {
          @media screen and (max-width: $tablet-sm) {
            margin-bottom: 10px;
          }
          & > img {
            max-width: 24px;
            max-height: 24px;
          }
        }
        &-descr {
          margin-left: 33px;
          @media screen and (max-width: $tablet-sm) {
            margin-left: 0;
          }
          & > p {
            font-family: Raleway;
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
            & > a {
              color: #ffffff;
            }
            & > b {
              font-family: Raleway;
              font-weight: bold;
              font-size: 18px;
              line-height: 28px;
              color: #ffffff;
              display: inline-block;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
