.button {
  display: inline-block;
  padding: $input-padding $padding;
  border: none;
  color: $white;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: $red;
  transition: $transition;
  &:hover {
    background-color: darken($red, 10%);
  }

  & + &,
  & + input,
  & + textarea {
    margin-top: $margin;
  }

  &.-wide {
    width: 100%;
  }
}
