.title {
  margin-top: 0;
  margin-bottom: $margin*4;
  color: $white;
  font-size: 48px;
  font-weight: 900;
  &.-big {
    font-size: 7.5vw;
    font-weight: 900;
    @media all and (max-width: 767px) {
      font-size: 9vw;
    }
  }
}
