$arrow-size: 5px;

.arrow {
  position: relative;
  display: inline-block;
  height: $border-width;
  width: $arrow-size*2;
  margin: 0 0 3px 0;
  padding: 0;
  background-color: $white;
  vertical-align: middle;
  &:after {
    content: '';
    display: block;
    height: $arrow-size;
    width: $arrow-size;
    position: absolute;
    left: 100%;
    border-width: $border-width $border-width 0 0;
    border-style: solid;
    border-color: $white;
    background-color: transparent;
    transform: translate3d(-$arrow-size, -(floor($arrow-size/2)), 0) rotate(45deg);
  }
}
