.call-to-cation-btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  margin: 40px 0;
  @media (max-width: 500px) {
    margin: 30px 0;
  }
  & > * {
    margin: 10px;
  }
  .call-to-cation-btn {
    padding: 13px 28px;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    background-image: linear-gradient(90deg,#de3535 0%,#e3621d 100%);
    box-shadow: 0 5px 20px 0 rgba(203,55,55,.3);
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    &.-secondary {
      box-shadow: 0 5px 20px 0 rgba(#b9bce5, .3);
      background: #b9bce5;
    }
  }
  .link {
    margin: 0;
  }
}
