.features-icons--list {
  list-style: none;
  margin: 20px 0 !important;
  .features-icons--item {
    margin-bottom: 30px;
    padding: 0;
  &:before {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
  }
  .features-icons--figure {
    display: flex;
    align-items: center;
  }
  .features-icons--img {
    width: 40px;
    padding-right: 20px;
  }
  .features-icons--figcaption {
    width: calc(100% - 40px);
    p {
      margin: 0;
    }
  }
  .features-additional-text {
    margin-top: 25px;
  }
}
