@import "./helpers/responsive-mixin";

.h1-title {
  font-size: 34px;
  font-weight: 700;
}
.h2-subtitle {
  font-size: 24px;
  font-style: italic;
}
.h2-title {
  font-size: 24px;
  font-weight: 600;
}
.p-normal {
  font-size: 18px;
  font-weight: 400;
}
.auxiliary {
  font-size: 15px;
  line-height: 18pt;
  font-weight: 400;
}
.tags-text {
  font-size: 14pt;
  font-weight: 600;
  line-height: 1;
}
.link-text {
  font-size: 14pt;
  font-weight: 400;
}

.blog-page {
  position: relative;
  min-height: 100%;

  &-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: linear-gradient(135deg, #071e40 0%, #662938 80%);
  }
  &-content {
    position: relative;
    z-index: 600;
    padding-bottom: 60px;
  }
  &-title {
    font-size: 45px;
    text-align: center;
    white-space: nowrap;
    padding: 60px 40px 50px;
    color: #fff;
    font-weight: 400;
  }
  &-posts {
    overflow: hidden;
    padding: 15px 25px;
    @supports (display: grid) {
      display: grid;
      grid-gap: 40px 25px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      overflow: visible;
    }
  }

  &-post {
    float: left;
    width: 250px;
    margin: 15px 15px 40px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    @supports (display: grid) {
      margin: 0 auto;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 16px 8px -4px rgba(0, 0, 0, 0.1);
    }
    &-img {
      height: 140px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &-header {
      background: #fff;
      padding: 15px 10px;
      text-align: center;
      box-sizing: border-box;
      flex-grow: 1;

      .date {
        color: #6f6f89;
        margin-bottom: 10px;
        font-size: 12px;
      }
      .title {
        color: #000;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }
}

// Post page
.blog-post-page {
  * {
    font-family: 'Raleway', sans-serif;
  }

  &-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .post-tag {
      @extend .tags-text;
      padding: 5.5px 20px;
      margin-right: 25px;
      display: inline-block;
      font-size: 0.85em;
      border-radius: 2px;
      background-color: #d93a4223;
      color: #d42e2d;
      text-transform: uppercase;
      letter-spacing: 0.56px;
      @include breakpoint(sm-max) {
        margin-bottom: 10px;
      }
    }
    .date {
      color: #84827f;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.56px;
      @include breakpoint(sm-max) {
        margin-bottom: 20px;
        margin-top: 10px;
        display: block;
        width: 100%;
      }

      time:first-child {
        margin-right: 22px;

        @include breakpoint(md-max) {
          margin-left: 0;
        }
      }

      br {
        display: none;

        @include breakpoint(md-max) {
          display: block;
        }
      }
    }
    .socials {
      @include breakpoint(sm-max) {
        margin-bottom: 10px;
      }
      @include breakpoint(xs) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
  &-header {
    padding: 0 20px;

    @include breakpoint(lg) {
      padding: 0 60px;
    }

    @include breakpoint(sm-max) {
      padding: 0 13px;
    }

    a {
      display: inline-block;
      margin: 20px 0 20px;
      text-decoration: none;
      color: #000000;
      font-size: 14px;
      font-weight: 600;

      @include breakpoint(sm-max) {
        margin-left: 67px;
      }
    }

    &-hr {
      width: auto !important;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      height: 0;
      margin: 0 0 20px;

      @include breakpoint(sm-max) {
        margin-left: 67px;
      }
    }
  }
  &-content {
    p {
      @extend .p-normal;
      color: #12233d;
      margin-bottom: 30px;
    }
    h2,
    h3 {
      margin: 0 0 30px 0;
      font-weight: 600;
      text-align: left;
    }
    h2 {
      @extend .h2-title;
    }
    h4 {
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    figure {
      margin-bottom: 30px;

      img {
        max-width: 100%;
      }
      figcaption {
        @extend .auxiliary;
        color: #4c4d51;
        line-height: 1;
        margin-top: 5px;
        text-align: center;
      }
    }
    hr {
      margin-top: 0;
      margin-bottom: 15px;
      width: 167px;
      height: 2px;
      background-color: #d62624;
      border: none;
    }
    hr + p {
      font-family: "Raleway";
      font-size: 22px;
      font-style: italic;
      text-align: center !important;
    }
    ul,
    ol {
      margin: 0 0 30px 0;

      li {
        word-break: break-word;
        @extend .p-normal;
        padding: 0;
        margin-bottom: 4px;
        padding: 0 0 0 24px;
        line-height: 24px;

        p {
          margin: 0;
        }
      }
    }
    ol {
      list-style: decimal;
      padding-left: 39px;

      li {
        padding-left: 8px;

        &::before {
          content: none;
        }
      }
    }
    ul {
      padding-left: 24px;

      li {
        position: relative;
        list-style: none;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 15px;
          display: block;
          width: 5px;
          height: 5px;
          border: 2px solid #f2af3b;
          border-radius: 50%;
        }
      }
    }
    a {
      color: #12233d;
    }

    h1#{&}-title {
      @extend .h1-title;
      color: #000000;
      font-weight: 700;
      margin-bottom: 17px;
    }
    h2#{&}-subtitle {
      @extend .h2-subtitle;
      color: #4c4d51;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 41px;
      font-size: 22px;
    }
    &-description {
      margin-bottom: 25px;
    }
    main {
      & > pre,
      & > code {
        margin: 0 0 30px 0 !important;
      }
      & > i {
        font-size: 18px;
        color: #12233d;
        margin-bottom: 30px;
        line-height: 1.5;
      }
      & > b {
        font-size: 18px;
        color: #12233d;
        margin-bottom: 30px;
        line-height: 1.5;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

blockquote {
  margin-bottom: 30px;
  padding: 10px 10px 10px 85px;
  position: relative;
  p {
    line-height: 1.4 !important;
    color: #12233d;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
  }

  @include breakpoint(sm-max) {
    padding: 10px 10px 10px 49px;
  }

  &:before {
    content: "";
    display: block;
    height: 51px;
    width: 74px;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(/static/images/quotes.png);
    background-position: center;
    background-size: cover;

    @include breakpoint(sm-max) {
      height: 25.5px;
      width: 37px;
    }
  }

  p {
    border-left: 2px solid #343432;
    padding-left: 12px;
    margin-bottom: 12px;
  }
  div.person {
    margin-bottom: 0;

    span.info {
      span.name {
        margin-bottom: 2px;
      }
      span.name,
      span.title {
        color: #12233d;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

div.person {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    box-shadow: 0 0 1px 1px white inset;
  }
  span.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      display: block;
      line-height: 1;
    }
    span.name {
      color: #4c493e;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.64px;
      margin-bottom: 4px;
    }
    span.title {
      color: #84827f;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
}

.person-link {
  text-decoration: none;
}

div.suggestion {
  padding: 27px 35px;
  border-radius: 4px;
  background-color: #f2f3f5;

  h5 {
    font-size: 22px;
    font-weight: 700;
    color: #12233d;
    margin-bottom: 30px;
  }

  p {
    letter-spacing: 0.18px;
    font-weight: 400;
    line-height: 26px;
  }

  .suggester-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn.btn-schedule {
      background-color: #12233d;
      background-image: none;
      box-shadow: none;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .person {
    img {
      border: 4px solid white;
    }
  }
}

div.person {
  margin-bottom: 0;
}

.useful-readings,
.most-suitable-for,
.helpful-tools {
  display: flex;
  padding: 27px 10px 27px 0;
  margin-bottom: 30px;
  background-color: #f3f3f3;

  &-icon-wrapper {
    display: flex;
    align-items: center;
    padding: 0 33px;

    @include breakpoint(sm-max) {
      align-items: flex-start;
      padding: 0 10px 0 10px;
    }

    img {
      max-width: 52px;

      @include breakpoint(sm-max) {
        width: 37px;
      }
    }
  }
  &-content {
    h4 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    & > *:last-child {
      margin-bottom: 0 !important;
    }
    & > ul:last-of-type {
      margin-bottom: 0 !important;

      p {
        line-height: 1;
      }
    }
    ul li::before {
      top: 11.5px;
    }
  }
}

.related-posts {
  padding: 40px 130px;

  @include breakpoint(md-max) {
    padding: 0;
  }
  @include breakpoint(md) {
    padding: 0;
  }
  hr {
    height: 1px;
    background-color: #e1e1e1;
    border: none;
  }
  .blog-page-posts {
    padding: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
  }

  &-header {
    display: flex;
    align-items: center;

    h3 {
      font-size: 24px;
      font-weight: 600;
      text-align: left;
    }

    a {
      display: inline-block;
      margin-left: auto;
      color: #12233d;
      font-size: 14px;
    }
  }
}

.socials {
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  & > div {
    margin-left: 14px;
  }

  svg {
    circle {
      fill: #ebebeb;
    }
    path {
      fill: #2e2e2e;
    }
  }
}

.blog-post-page-footer {
  display: flex;
  flex-direction: column;
}

.subscribe-panel {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  @include breakpoint(md) {
    padding: 0 130px;
  }
  &-container {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  white;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-direction: column;
    padding: 22px;
    &.show {
      display: flex;
    }
  }
  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
  }
  &-rocket {
    height: 132px;
    @media (min-width: $desktop-md) and (min-height: 700px) {
      height: 208px;
    }
    @media (min-width: $desktop-lg) and (min-height: 700px){
      height: 252px;
    }
  }
  &-close {
    position: fixed;
    display: block;
    top: 5%;
    right: 7%;
  }
  &-thanks-button {
    margin-top: 48px;
    color: rgba(45, 67, 82, 0.8);
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  h4 {
    color: #df544d;
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 82px 0 7px;
    span.black {
      color: black;
    }
  }
  p {
    font-family: Raleway;
    font-size: 18px;
    line-height: 28px;
    color: #2D4352;
    font-weight: 400;
    letter-spacing: 0.56px;
    text-align: center;
    margin: 24px 22px 16px 22px;
    @media (min-width: $desktop-md) and (min-height: 580px) {
      margin-top: 48px;
    }
  }
  &-input-group {
    display: flex;
    position: relative;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    input {
      border-radius: 2px;
      border: 1px solid #e1e1e1;
      background-color: #ebebeb;
      flex-grow: 1;
      border-radius: 35px 0 0 35px;
      margin-top: 33px;
      margin-right: -40px;
      z-index: 0;
      outline: none;
      color: #84827f;
      font-weight: 400;
      line-height: 1;
      padding: 10px 40px 10px 28px;
      font-size: 16px;
      width: 400px;
      @media (min-width: $desktop-md) {
        margin-top: 48px;
        width: 500px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        margin: 33px 0px 0px 0px;
        border-radius: 35px;
        padding: 10px 28px;
      }

      &.error {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        color: #d42e2d;
      }

      &.success {
        animation: success 5s ease-out;
        animation-iteration-count: 1;
      }
    }
    button.btn {
      z-index: 0;
      padding: 16px 45px;
      margin-top: 33px;
      @media (min-width: $desktop-md) {
        margin-top: 48px;
      }
      @include breakpoint(mobile) {
        margin: 10px 0 0 0;
        flex-grow: 1;
      }
    }
  }
}

button.btn {
  border-radius: 35px;
  padding: 16px 28px;
  display: inline-block;
  height: 45px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  outline: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #de3535 0%, #e3621d 100%);
  box-shadow: 0 5px 20px 0 rgba(203, 55, 55, 0.3);
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;

  &.sharp-corners {
    border-radius: 2px;
  }
  &.no-shadow {
    box-shadow: none;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.green-text-flash {
  animation: green-text-flash 4s linear;
}

@keyframes success {
  0% {
    border-color: none;
    box-shadow: none;
  }
  30% {
    border-color: #39f82d8c;
    box-shadow: 0 0px 2px 0px #39f82dab;
  }
  100% {
    border-color: none;
    box-shadow: none;
  }
}
@keyframes green-text-flash {
  0% {
    color: #84827f;
  }
  30% {
    color: #39f82d8c;
  }
  100% {
    color: #84827f;
  }
}

i {
  font-style: italic;
}

.subscribe-panel {
  
}