.blog-page {
  position: relative;
  min-height: 100%;
}
.blog-page-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(135deg, #071e40 0%, #662938 80%);
}
.blog-page-content {
  position: relative;
  z-index: 600;
  padding-bottom: 60px;
}
.blog-page-title {
  font-size: 45px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  padding: 60px 40px 50px;
  color: #fff;
  font-weight: 400;
}
.blog-page-posts {
  overflow: hidden;
  padding: 0 25px;
  @supports (display: grid) {
    display: grid;
    grid-gap: 40px 25px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    overflow: visible;
  }
}
.blog-page-post {
  float: left;
  width: 220px;
  margin: 15px 15px 40px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  transition: all .2s;
  @supports (display: grid) {
    margin: 0 auto;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 8px -4px rgba(0, 0, 0, .1);
  }
}
.blog-page-post-img {
  height: 140px;
  overflow: hidden;

  img {
    width: 100%;
  }
}
.blog-page-post-header {
  background: #fff;
  padding: 15px 10px;
  text-align: center;
  box-sizing: border-box;

  .date {
    color: #6f6f89;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .title {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
  }
}
.blog-post-page-description {
  margin: 12px 50px 0;
  color: rgba(255, 255, 255, .6);

  .blog-post-page-user {
    margin: 0 0 6px;
  }
  .blog-post-page-date {
    span {
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }
}

.blog-post-navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  .prev-arrow,
  .next-arrow {
    cursor: pointer;
    padding: 10px;
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .prev-arrow {
    margin-right: 30px;
    margin-left: -30px;
  }
}
