@import "./helpers/responsive-mixin";

.h1-title {
  font-size: 34px;
  font-weight: 700;
}

.h2-subtitle {
  font-size: 24px;
  font-style: italic;
}

.h2-title {
  font-size: 24px;
  font-weight: 600;
}

.p-normal {
  font-size: 18px;
  font-weight: 400;
}

.auxiliary {
  font-size: 15px;
  line-height: 18pt;
  font-weight: 400;
}

.tags-text {
  font-size: 14pt;
  font-weight: 600;
  line-height: 1;
}

.link-text {
  font-size: 14pt;
  font-weight: 400;
}

.blog-page {
  position: relative;
  min-height: 100%;

  * {
    font-family: "Raleway", sans-serif;
  }

  margin: 0 22px;
  @media (min-width: 400px) {
    margin: 0 24px;
  }

  @media (min-width: 575px) {
    margin: 0 28px;
  }

  @media (min-width: 992px) {
    margin: 0 30px;
  }

  @media (min-width: 1200px) {
    margin: 0 36px;
  }

  @media (min-width: 1440px) {
    margin: 0 44px;
  }

  @media (min-width: 1600px) {
    margin: 0 64px;
  }

  @media (min-width: 1920px) {
    margin: 0 164px;
  }

  &-header {
    @media (max-width: 574.98px) {
      padding: 116px 0 48px;
    }

    @media (min-width: 575px) {
      padding: 116px 0 96px;
    }

    @media (min-width: 768px) {
      padding: 116px 0 147px;
    }

    @media (min-width: 992px) {
      padding: 64px 0;
    }

    @media (min-width: 1024px) {
      padding: 96px 0;
    }

    @media (min-width: 1440px) {
      padding: 76px 0 64px;
    }

    @media (min-width: 1600px) {
      padding: 96px 0;
    }

    h1 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;

      font-size: 28px;
      line-height: 40px;
      @media (min-width: 575px) {
        font-size: 32px;
      }

      @media (min-width: 1200px) {
        font-size: 44px;
        line-height: 54px;
      }

      @media (min-width: 992px) {
        margin-left: 128px;
      }

      @media (min-width: 1024px) {
        margin-left: 138px;
      }

      @media (min-width: 1200px) {
        margin-left: 180px;
      }

      @media (min-width: 1440px) {
        margin-left: 204px;
      }

      @media (min-width: 1600px) {
        margin-left: 224px;
      }

      @media (min-width: 1920px) {
        margin-left: 244px;
      }

      svg {
        height: 20px;
        @media (min-width: 575px) {
          height: 23px;
        }

        @media (min-width: 1200px) {
          height: 33px;
        }
      }
    }
  }

  .filter {
    margin-bottom: 8px;
    @media (min-width: 400px) {
      margin-bottom: 16px;
    }

    @media (min-width: 768px) {
      margin-bottom: 25px;
    }

    @media (min-width: 992px) {
      margin-bottom: 8px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 16px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 48px;
    }
  }

  &-content {
    position: relative;
    z-index: 600;

    padding-bottom: 48px;
    @media (min-width: 400px) {
      padding-bottom: 51px;
    }

    @media (min-width: 575px) {
      padding-bottom: 67px;
    }

    @media (min-width: 992px) {
      padding-bottom: 69px;
    }

    @media (min-width: 1920px) {
      padding-bottom: 101px;
    }
  }

  &-title {
    font-size: 45px;
    text-align: center;
    white-space: nowrap;
    padding: 60px 40px 50px;
    color: #fff;
    font-weight: 400;
  }

  // posts container
  &-posts {
    display: flex;
    flex-wrap: wrap;
  }

  // posts tiles
  &-post {
    flex-basis: calc(50% - 12px);
    @media (min-width: 575px) {
      flex-basis: calc(50% - 6px);
    }
    @media (min-width: 575px) {
      flex-basis: calc(50% - 9px);
    }
    @media (min-width: 992px) {
      flex-basis: calc(50% - 12px);
    }
    @media (min-width: 1200px) {
      flex-basis: calc(50% - 16px);
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (min-width: 400px) {
        margin-bottom: 24px;
      }

      @media (min-width: 575px) {
        margin-bottom: 32px;
      }

      @media (min-width: 768px) {
        margin-bottom: 24px;
      }

      @media (min-width: 992px) {
        margin-bottom: 32px;
      }

      @media (min-width: 1600px) {
        margin-bottom: 48px;
      }
    }

    @media (max-width: 768px) {
      flex-basis: 100%;
    }

    &:nth-child(odd) {
      @media (min-width: 768px) {
        margin-right: 16px;
      }
      @media (min-width: 992px) {
        margin-right: 24px;
      }
      @media (min-width: 1200px) {
        margin-right: 32px;
      }
    }

    &-description,
    &-read-more {
      display: none;
    }

    &-img {
      padding-top: 530px / 944px * 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      margin-bottom: 24px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      display: flex;
      flex-wrap: wrap;

      &-tag-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;

        @media (min-width: 768px) and (max-width: 1200px) {
          flex-basis: 100%;
        }

        .tag {
          margin-bottom: 12px;
          margin-right: 12px;

          @media (min-width: 1280px) {
            margin-bottom: 17px;
            margin-right: 17px;
          }

          @media (min-width: 575px) and (max-width: 768px) {
            margin-bottom: 8px;
            margin-right: 8px;
          }
        }
      }
    }

    &-date {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #12233d;
      white-space: nowrap;
      margin-left: auto;
      flex-basis: 50%;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;

      time {
        font: inherit;
      }

      @media (min-width: 575px) and (max-width: 767.98px) {
        font-size: 12px;
      }

      @media (min-width: 768px) and (max-width: 1200px) {
        order: 1;
        margin-left: 0;
        margin-top: 16px;
        text-align: left;
      }
    }

    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: bold;
      color: #2d4352;
      width: 100%;
      margin-top: 14px;

      a {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      @media (max-width: 574.89px) {
        font-size: 18px;
        line-height: 21px;
      }

      @media (min-width: 575px) {
        font-size: 24px;
        line-height: 28px;
      }

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 21px;
      }

      @media (min-width: 1200px) {
        font-size: 24px;
        line-height: 28px;
      }

      @media (min-width: 575px) and (max-width: 768px) {
        margin-top: 16px;
      }

      @media (min-width: 1280px) {
        margin-top: 7px;
      }
    }
  }

  // first tile
  &-post {
    &:last-child {
      margin-right: 0 !important;
    }

    @media (min-width: 992px) {
      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(even) {
        @media (min-width: 768px) {
          margin-right: 16px;
        }
        @media (min-width: 992px) {
          margin-right: 24px;
        }
        @media (min-width: 1200px) {
          margin-right: 32px;
        }
      }

      &:first-child() {
        display: flex;
        flex-basis: 100%;
        margin-right: 0;

        margin-bottom: 32px;
        @media (min-width: 1600px) {
          margin-bottom: 48px;
        }

        .blog-page-post-img {
          margin-bottom: 0;
        }

        .blog-page-post-date {
          order: 0;
          margin-bottom: 12px;
          text-align: left;
          margin-left: 0;
        }

        .blog-page-post-info-tag-container {
          order: 1;
          flex-basis: 100%;
          align-items: flex-start;

          .tag {
            margin-bottom: 16px;
            margin-right: 12px;
          }
        }

        h2 {
          order: 2;
          margin: 0 0 16px;
          font-size: 21px;
          line-height: 28px;
        }

        .blog-page-post-description {
          order: 3;
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #2d4352;
          margin-bottom: 16px;
        }

        .blog-page-post-read-more {
          display: inline;
          order: 4;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #dd4e4e;
          text-decoration: none;
        }

        .blog-page-post-wrap-img {
          flex-basis: calc(100% / 12 * 8 - 32px);
        }

        .blog-page-post-info {
          align-content: flex-start;
          margin-left: 32px;
          flex-basis: calc(100% / 12 * 4);
          padding-top: 32px;
        }
      }

      @media (min-width: 1200px) {
        &:first-child() {
          .blog-page-post-info {
            padding-top: 29px;

            h2 {
              font-size: 24px;
              line-height: 34px;
              margin-bottom: 24px;
            }

            .blog-page-post-description {
              font-size: 14px;
              line-height: 22px;
            }

            .blog-page-post-read-more {
              font-size: 18px;
              line-height: 21px;
            }
          }

          .blog-page-post-date {
            margin-bottom: 24px;
          }

          .blog-page-post-info-tag-container .tag,
          .blog-page-post-date {
            margin-bottom: 24px;
            margin-right: 16px;
          }
        }
      }

      @media (min-width: 1440px) {
        &:first-child() {
          .blog-page-post-info {
            padding-top: 22px;

            h2 {
              font-size: 34px;
              line-height: 44px;
            }

            .blog-page-post-description {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }

      @media (min-width: 1600px) {
        &:first-child() {
          .blog-page-post-info {
            padding-top: 40px;

            h2 {
              margin-bottom: 32px;
            }
          }

          .blog-page-post-info-tag-container .tag,
          .blog-page-post-date {
            margin-bottom: 32px;
          }
        }
      }

      @media (min-width: 1920px) {
        &:first-child() {
          .blog-page-post-info {
            padding-top: 62px;
          }
        }
      }
    }
  }

  // last three tiles
  &-post:nth-last-child(-n + 3) {
    @media (min-width: 992px) {
      flex-basis: calc(33.33% - 21.33px);
      margin-right: 32px;
      margin-bottom: 0;

      .blog-page-post-info {
        .blog-page-post-info-tag-container {
          flex-basis: 100%;

          .tag {
            margin-bottom: 16px;
          }
        }

        h2 {
          margin-top: 0;
          margin-bottom: 16px;
        }

        .blog-page-post-date {
          order: 1;
          text-align: left;
          margin-left: 0;
          margin-top: 0;
        }
      }
    }

    @media (min-width: 1200px) {
      .blog-page-post-info {
        h2 {
          font-size: 20px;
          line-height: 23px;
          margin-bottom: 24px;
        }

        .blog-page-post-info-tag-container .tag {
          margin-bottom: 24px;
        }
      }
    }
  }

  .pagination {
    margin-bottom: 50px;
    @media (min-width: 575px) {
      margin-bottom: 66px;
    }

    @media (min-width: 992px) {
      margin-bottom: 67px;
    }

    @media (min-width: 1920px) {
      margin-bottom: 99px;
    }
  }
}

// Post page
.blog-post-page {
  * {
    font-family: 'Raleway', sans-serif;
  }

  &-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .post-tag {
      @extend .tags-text;
      padding: 5.5px 20px;
      margin-right: 25px;
      display: inline-block;
      font-size: 0.85em;
      border-radius: 2px;
      background-color: #d93a4223;
      color: #d42e2d;
      text-transform: uppercase;
      letter-spacing: 0.56px;
      @include breakpoint(sm-max) {
        margin-bottom: 10px;
      }
    }

    .date {
      color: #84827f;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.56px;
      @include breakpoint(sm-max) {
        margin-bottom: 20px;
        margin-top: 10px;
        display: block;
        width: 100%;
      }

      time:first-child {
        margin-right: 22px;

        @include breakpoint(md-max) {
          margin-left: 0;
        }
      }

      br {
        display: none;

        @include breakpoint(md-max) {
          display: block;
        }
      }
    }

    .socials {
      @include breakpoint(sm-max) {
        margin-bottom: 10px;
      }

      @include breakpoint(xs) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &-header {
    padding: 0 20px;

    @include breakpoint(lg) {
      padding: 0 60px;
    }

    @include breakpoint(sm-max) {
      padding: 0 13px;
    }

    a {
      display: inline-block;
      margin: 20px 0 20px;
      text-decoration: none;
      color: #000000;
      font-size: 14px;
      font-weight: 600;

      @include breakpoint(sm-max) {
        margin-left: 67px;
      }
    }

    &-hr {
      width: auto !important;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      height: 0;
      margin: 0 0 20px;

      @include breakpoint(sm-max) {
        margin-left: 67px;
      }
    }
  }

  &-content {
    p {
      @extend .p-normal;
      color: #12233d;
      margin-bottom: 30px;
    }

    h2,
    h3 {
      margin: 0 0 30px 0;
      font-weight: 600;
      text-align: left;
    }

    h2 {
      @extend .h2-title;
    }

    h4 {
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    figure {
      margin-bottom: 30px;

      img {
        max-width: 100%;
      }

      figcaption {
        @extend .auxiliary;
        color: #4c4d51;
        line-height: 1;
        margin-top: 5px;
        text-align: center;
      }
    }

    hr {
      margin-top: 0;
      margin-bottom: 15px;
      width: 167px;
      height: 2px;
      background-color: #d62624;
      border: none;
    }

    hr + p {
      font-family: "Raleway";
      font-size: 22px;
      font-style: italic;
      text-align: center !important;
    }

    ul,
    ol {
      margin: 0 0 30px 0;

      li {
        word-break: break-word;
        @extend .p-normal;
        padding: 0;
        margin-bottom: 4px;
        padding: 0 0 0 24px;
        line-height: 24px;

        p {
          margin: 0;
        }
      }
    }

    ol {
      list-style: decimal;
      padding-left: 39px;

      li {
        padding-left: 8px;

        &::before {
          content: none;
        }
      }
    }

    ul {
      padding-left: 24px;

      li {
        position: relative;
        list-style: none;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 15px;
          display: block;
          width: 5px;
          height: 5px;
          border: 2px solid #f2af3b;
          border-radius: 50%;
        }
      }
    }

    a {
      color: #12233d;
    }

    h1#{&} -title {
      @extend .h1-title;
      color: #000000;
      font-weight: 700;
      margin-bottom: 17px;
    }

    h2#{&} -subtitle {
      @extend .h2-subtitle;
      color: #4c4d51;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 41px;
      font-size: 22px;
    }

    &-description {
      margin-bottom: 25px;
    }

    main {
      & > pre,
      & > code {
        margin: 0 0 30px 0 !important;
      }

      & > i {
        font-size: 18px;
        color: #12233d;
        margin-bottom: 30px;
        line-height: 1.5;
      }

      & > b {
        font-size: 18px;
        color: #12233d;
        margin-bottom: 30px;
        line-height: 1.5;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

blockquote {
  margin-bottom: 30px;
  padding: 10px 10px 10px 85px;
  position: relative;
  p {
    line-height: 1.4 !important;
    color: #12233d;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
  }

  @include breakpoint(sm-max) {
    padding: 10px 10px 10px 49px;
  }

  &:before {
    content: "";
    display: block;
    height: 51px;
    width: 74px;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(/static/images/quotes.png);
    background-position: center;
    background-size: cover;

    @include breakpoint(sm-max) {
      height: 25.5px;
      width: 37px;
    }
  }

  p {
    border-left: 2px solid #343432;
    padding-left: 12px;
    margin-bottom: 12px;
  }

  div.person {
    margin-bottom: 0;

    span.info {
      span.name {
        margin-bottom: 2px;
      }

      span.name,
      span.title {
        color: #12233d;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

div.person {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    box-shadow: 0 0 1px 1px white inset;
  }

  span.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      display: block;
      line-height: 1;
    }

    span.name {
      color: #4c493e;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.64px;
      margin-bottom: 4px;
    }

    span.title {
      color: #84827f;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
}

.person-link {
  text-decoration: none;
}

div.suggestion {
  padding: 27px 35px;
  border-radius: 4px;
  background-color: #f2f3f5;

  h5 {
    font-size: 22px;
    font-weight: 700;
    color: #12233d;
    margin-bottom: 30px;
  }

  p {
    letter-spacing: 0.18px;
    font-weight: 400;
    line-height: 26px;
  }

  .suggester-wrapper {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  a.calendly-goal {
    @extend .link-text;
    display: inline-block;
    margin-left: auto;

    @include breakpoint(mobile) {
      margin: 20px auto 0;
    }

    button.btn.btn-schedule {
      background-image: none;
      background-color: #12233d;
      box-shadow: none;
    }
  }

  .person {
    img {
      border: 4px solid white;
    }
  }
}

div.person {
  margin-bottom: 0;
}

.useful-readings,
.most-suitable-for,
.helpful-tools {
  display: flex;
  padding: 27px 10px 27px 0;
  margin-bottom: 30px;
  background-color: #f3f3f3;

  &-icon-wrapper {
    display: flex;
    align-items: center;
    padding: 0 33px;

    @include breakpoint(sm-max) {
      align-items: flex-start;
      padding: 0 10px 0 10px;
    }

    img {
      max-width: 52px;

      @include breakpoint(sm-max) {
        width: 37px;
      }
    }
  }

  &-content {
    h4 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }

    & > ul:last-of-type {
      margin-bottom: 0 !important;

      p {
        line-height: 1;
      }
    }

    ul li::before {
      top: 11.5px;
    }
  }
}

.related-posts {
  padding: 40px 130px;

  @include breakpoint(md-max) {
    padding: 0;
  }

  @include breakpoint(md) {
    padding: 0;
  }

  hr {
    height: 1px;
    background-color: #e1e1e1;
    border: none;
  }

  .blog-page-posts {
    padding: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
  }

  &-header {
    display: flex;
    align-items: center;

    h3 {
      font-size: 24px;
      font-weight: 600;
      text-align: left;
    }

    a {
      display: inline-block;
      margin-left: auto;
      color: #12233d;
      font-size: 14px;
    }
  }
}

.socials {
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  & > div {
    margin-left: 14px;
  }

  svg {
    circle {
      fill: #ebebeb;
    }

    path {
      fill: #2e2e2e;
    }
  }
}

.blog-post-page-footer {
  display: flex;
  flex-direction: column;
}

.subscribe-panel {
  margin-top: 12px;

  @include breakpoint(md) {
    padding: 0 130px;
  }

  h4 {
    color: #df544d;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 14px 0 7px;
  }

  p {
    color: #84827f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.56px;
    text-align: center;
    margin-bottom: 16px;
  }

  &-input-group {
    display: flex;
    position: relative;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    input {
      border-radius: 2px;
      border: 1px solid #e1e1e1;
      background-color: #ebebeb;
      flex-grow: 1;
      border-radius: 35px 0 0 35px;
      margin-right: -40px;
      z-index: 0;

      color: #84827f;
      font-weight: 400;
      line-height: 1;
      padding: 10px 40px 10px 28px;
      font-size: 16px;

      @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        border-radius: 35px;
        padding: 10px 28px;
      }

      &.error {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        color: #d42e2d;
      }

      &.success {
        animation: success 5s ease-out;
        animation-iteration-count: 1;
      }
    }

    button.btn {
      z-index: 0;
      padding: 16px 45px;

      @include breakpoint(mobile) {
        margin: 10px 0 0 0;
        flex-grow: 1;
      }
    }
  }
}

button.btn {
  border-radius: 35px;
  padding: 16px 28px;
  display: inline-block;
  height: 45px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  outline: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #de3535 0%, #e3621d 100%);
  box-shadow: 0 5px 20px 0 rgba(203, 55, 55, 0.3);
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;

  &.sharp-corners {
    border-radius: 2px;
  }

  &.no-shadow {
    box-shadow: none;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.green-text-flash {
  animation: green-text-flash 4s linear;
}

@keyframes success {
  0% {
    border-color: none;
    box-shadow: none;
  }

  30% {
    border-color: #39f82d8c;
    box-shadow: 0 0px 2px 0px #39f82dab;
  }

  100% {
    border-color: none;
    box-shadow: none;
  }
}

@keyframes green-text-flash {
  0% {
    color: #84827f;
  }

  30% {
    color: #39f82d8c;
  }

  100% {
    color: #84827f;
  }
}

i {
  font-style: italic;
}

.text-center {
  text-align: center !important;
}

.ml-auto {
  margin-left: auto !important;
}

.text {
  &-color {
    &-red {
      color: #d42e2d !important;
    }

    &-blue {
      color: #6677b4 !important;
    }

    &-black {
      color: #000000 !important;
    }
  }

  &-undelined {
    text-decoration: underline !important;
  }

  &-decoration-none {
    text-decoration: none !important;
  }
}

span.tag {
  background: rgba(217, 58, 66, 0.2);
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  align-items: center;
  color: #d42e2d;
  display: inline-block;
  padding: 3px 17px;
  text-transform: uppercase;
}

.btn-link {
  background: transparent;
  border: 0;
}
