html, body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.root > div {
  width: 100%;
  height: 100%;
}
.root > div > div {
  width: 100%;
  height: 100%;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: .1s;
  &:hover {
    text-decoration: underline;
    color: #DE4F4F;
    opacity: .8;
  }
  &:active {
    color: #D62C2C;
  }
}
