html, body {
  width: 100%;
  height: 100%;
}
.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.root > div {
  width: 100%;
  height: 100%;
}
.root > div > div {
  width: 100%;
  height: 100%;
}
