@import "./helpers/responsive-mixin";

.content {
  flex-grow: 1;
  min-height: 100%;
  vertical-align: top;
  -webkit-overflow-scrolling: touch;
  max-width: calc(100% - 160px);
  
  @include for-tablet-max {
    max-width: 100%;
  }
}
.content-inner {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  @include for-tablet {
    margin-left: -1px;
  }
}
.content-navigation {
  overflow: hidden;
  background: #071e40;
  background: linear-gradient(145deg, #071e40 0%, #662938 80%);
}
.content-navigation-inner {
  position: relative;
  height: 460px;
}
.content-navigation-image {
  position: absolute;
  right: 50px;
  z-index: 200;

  @include for-desktop {
    display: none;
    visibility: hidden;
  }
}
.content-navigation-image-inner {
  position: relative;
  width: 600px;
  height: 340px;
  margin: 60px 0;

  .image-top,
  .image-bottom {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
  }
  .image-bottom {
    top: 15px;
    z-index: 80;
  }
}
.content-block {
  padding: 30px 25px;
  max-width: 860px;
  margin: 0 auto;
  @media (max-width: 600px) {
    padding: 30px 15px;
  }
  h1 {
    font-size: 26px;
    margin: 30px 0 18px;
    line-height: 34px;

    &:first-child {
      margin-top: 18px;
    }
  }
  h2 {
    font-size: 24px;
    margin: 28px 0 20px;
    line-height: 30px;
    text-align: center;
    &:first-child {
      margin-top: 18px;
    }
  }
  h3 {
    font-size: 20px;
    margin: 26px 0 18px;

    &:first-child {
      margin-top: 18px;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  ul,
  ol {
    margin: 26px 10px;
    @media screen and (max-width: 500px) {
      margin: 26px 5px;
    }
  }
  ul li,
  ol li {
    position: relative;
    font-size: 16px;
    color: #444;
    margin: 0 0 14px;
    padding: 0 0 2px 24px;
    line-height: 24px;
    background-size: 16px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      margin-top: -6px;
      display: block;
      width: 5px;
      height: 5px;
      border: 2px solid #f2af3b;
      border-radius: 50%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 16px;
  }
  ol > li > p,
  ul > li > p {
    margin: 7px 0 2px;
  }
  code {
    display: block;
    padding: 20px 25px;
    background-color: #f6f8fa;
  }
  b,
  strong {
    font-weight: 600;
  }
  table {
    margin: 0 auto 18px auto;
    td,
    th {
      padding: 7px 10px;
      border: 1px solid #12233d;
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
  section {
    margin-bottom: 50px;
    @media screen and (max-width: 500px) {
      margin-bottom: 40px;
    }
  }
  .letter {
    font-family: "Caveat", cursive;
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 1.3;
      text-indent: 1.5em;
    }
  }
  .text-center {
    text-align: center;
  }
  .text-italic {
    font-style: italic;
  }
  .text-bold {
    font-weight: 900;
  }
  .red-italic-title {
    margin: 25px 0 10px 0;
    font-size: 16px;
    color: #d62c2c;
    font-style: italic;
    span {
      font-size: 1.5em;
      margin-right: 0.5em;
    }
  }
  .portfolio-works {
    .portfolio__item {
      
    }
    .portfolio__item-figure {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      &:hover {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .round-image {
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
      0 1.5px 6px 0 rgba(0, 0, 0, 0.15);
    height: 125px;
  }
  .iphone-slider-wrap {
    max-width: 300px;
    margin: 0 auto 50px auto;
    position: relative;
    .iphone-slider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 87%;
    }
    .slick-slider {
      position: relative;
      overflow: visible;
    }
    .slick-arrow {
      transform: translateY(-50%);
      margin: 0;
      top: 50%;
      @media (max-width: 450px) {
        display: none !important;
      }
      &.slick-prev {
        right: 110%;
        left: unset;
      }
      &.slick-next {
        left: 110%;
        right: unset;
      }
    }
    .slick-dots {
      top: unset;
      bottom: 0;
      margin: 15px 10px;
      li {
        padding: 0;
        width: 10px;
        height: 10px;
        margin: 5px;
        background: #fff;
        &::before {
          display: none;
        }
        &.slick-active {
          background: #000;
        }
      }
    }
  }
  hr {
    margin: 30px auto;
    width: 167px;
    height: 2px;
    background-color: #d62624;
    border: none;
  }
  .float-right-img {
    float: right;
    max-width: 250px;
    margin: 0 0 10px 7%;
    @media (max-width: 750px) {
      margin-left: 20px;
    }
    @media (max-width: 550px) {
      float: none;
      margin: 30px auto;
    }
  }
}
.clearfix {
  @include clearfix;
}