.content {
  display: table-cell;
  height: 100%;
  vertical-align: top;
  -webkit-overflow-scrolling: touch;
}
.content-inner {
  height: 100%;
  overflow-y: scroll;
}
.content-navigation {
  overflow: hidden;
  background: #1e2343 url('/static/images/space-bg.webp') no-repeat center bottom;
  background-size: cover;
}
.content-navigation-inner {
  position: relative;
  height: 460px;
}
.content-navigation-image {
  position: absolute;
  right: 50px;
  z-index: 200;

  @include for-desktop {
    display: none;
    visibility: hidden;
  };
}
.content-navigation-image-inner {
  position: relative;
  width: 600px;
  height: 340px;
  margin: 60px 0;

  .image-top, .image-bottom {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
  }
  .image-bottom {
    top: 15px;
    z-index: 80;
  }
}
.content-block {
  padding: 40px 25px 25px;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    margin: 20px 0 28px;
  }
  h3 {
    font-size: 20px;
    margin: 20px 0 26px;
  }
  ul {
    margin: 26px 10px;
  }
  ul li {
    font-size: 16px;
    color: #666;
    margin: 0 0 16px;
    padding: 0 0 2px 30px;
    line-height: 1.5;
    background: url('/static/images/project/icon-achieve.svg') no-repeat left center;
    background-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 14px;
  }
}
