@import "../node_modules/react-slidedown/lib/slidedown.css";

.filter {
  height: 36px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;

  &__wrapper {
    @media (min-width: $desktop-xs) {
      display: flex;
    }
  }

  &__toggler {
    position: relative;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid rgba(18, 35, 61, 0.1);
    border-radius: 100px;
    padding: 0 calc(22px + 16px + 5px) 0 22px;

    font-size: 16px;
    line-height: 40px;
    color: #12233D;

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: url('/static/images/svg/filter-arrow.svg') center center no-repeat;
      right: 22px;
      top: 12px;
      transform: rotate(180deg);
      transition: transform .3s ease;
      transform-origin: 50% 50%;
    }

    &--expanded:after {
      transform: rotate(360deg);
    }

    &--selected {
      color: #D42E2D;
    }
  }

  &__slidedown {
    overflow: hidden;
    transition-duration: 0.3s;
  }

  &__list {
    // 3px for proper displaying of focused outline
    padding: 3px 3px 0;

    @media (min-width: $tablet-sm) {
      display: flex;
    }

    @media (min-width: $desktop-xs) {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
      max-width: calc(150px * 3 + 10px * 2);
      padding: 0;
      margin-right: auto;
    }

    @media (min-width: $desktop-sm) {
      max-width: calc(150px * 2 + 10px);
    }

    @media (min-width: $desktop-md) {
      max-width: calc(150px * 4 + 10px * 3);
    }

    @media (min-width: $desktop-lg) {
      max-width: calc(150px * 5 + 10px * 4);
    }

    @media (min-width: $desktop-xl) {
      max-width: calc(150px * 6 + 10px * 5);
    }

    @media (min-width: $desktop-xl) {
      max-width: calc(150px * 8 + 10px * 7);
    }
  }

  &__categories {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (min-width: $tablet-sm) {
      width: 310px;
    }

    @media (min-width: $desktop-xs) {
      width: auto;
      flex-wrap: nowrap;
      position: absolute;
      left: 0;
      transition: left .3s ease;

      .filter__item {
        flex: 150px 0 0;
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }

  &__arrows {
    width: calc(32px + 32px + 10px + 10px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  &__arrow {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #F2F3F5;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border: 11px solid transparent;
      transform: scaleY(0.6);
      top: 5px;
    }

    &.-left:before {
      border-right-color:#12233D;
      left: -2px;
    }

    &.-right:before {
      border-left-color:#12233D;
      right: -2px;
    }
  }

  &__controls {
    display: flex;
    width: 100%;
    list-style: none;

    @media (min-width: $tablet-sm) {
      width: 150px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin-left: auto;

      .filter__item {
        width: 100%;
      }
    }

    @media (min-width: $desktop-xs) {
      width: calc(150px * 2 + 15px);
      flex-flow: row nowrap;
      margin-left: 0;
      .filter__item {
        width: 150px;
      }
    }
  }

  &__item {
    width: calc(50% - 5px);
    margin-bottom: 15px;

    @media (min-width: $mobile-md) {
      width: calc(50% - 7.5px);
    }

    @media (min-width: $desktop-xs) {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 100%;
    height: 36px;
    padding: 0;
    border: none;
    background: #F2F3F5;
    border-radius: 20px;
    color: #12233D;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif, Arial, 'Helvetica Neue', Helvetica;

    &.-hidden {
      visibility: hidden;
    }

    &.-clear {
      background-color: transparent;
      text-transform: uppercase;
    }

    &.-show-all {
      background-color: transparent;
      color: #D42E2D;
      border: 1px solid #D42E2D;
    }

    &.-active {
      background: linear-gradient(to right, #e1602c 0%, #dc3a3a 100%);
      color: white;
    }
  }
}
