@import "../node_modules/react-slidedown/lib/slidedown.css";

.filter {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;

  &__wrapper {
    @media (min-width: $desktop-xs) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__toggler {
    position: relative;
    height: 40px;
    border: 1px solid rgba(18, 35, 61, 0.1);
    border-radius: 100px;
    padding: 0 calc(22px + 16px + 5px) 0 22px;

    font-size: 16px;
    line-height: 40px;
    color: #12233D;

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: url('/static/images/svg/filter-arrow.svg') center center no-repeat;
      right: 22px;
      top: 12px;
      transform: rotate(180deg);
      transition: transform .3s ease;
      transform-origin: 50% 50%;
    }

    &--expanded:after {
      transform: rotate(360deg);
    }

    &--selected {
      color: #D42E2D;
    }
  }

  &__slidedown {
    overflow: hidden;
    transition-duration: 0.3s;
  }

  &__list {
    margin: 20px;
    padding: 3px 3px 0;
    margin: 0;
    position: relative;

    @media (min-width: $tablet-sm) {
      display: flex;
    }

    @media (min-width: $desktop-xs) {
      position: relative;
      overflow: hidden;
      padding: 0 15px;
      margin: 0 -15px;
      width: calc(100% - 285px);
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 15px;
        height: 100%;
        z-index: 1;
        pointer-events: none;
      }
      &:before {
        left: 0;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
      }
      &:after {
        right: 0;
        background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
      }
    }
  }

  &__categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: -5px;
    padding-top: 15px;

    @media (min-width: $tablet-sm) {
      margin: -10px;
      padding-right: 20px;
    }

    @media (min-width: $desktop-xs) {
      width: auto;
      flex-wrap: nowrap;
      align-items: center;
      position: relative;
      left: 0;
      padding: 0;
      transition: left .2s ease;

      .filter__item {
        width: 170px;
      }
    }
  }

  &__arrows {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 10px;
  }

  &__arrow {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #F2F3F5;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border: 11px solid transparent;
      transform: scaleY(0.6);
      top: 5px;
    }

    &-left:before {
      border-right-color:#12233D;
      left: -2px;
    }

    &-right:before {
      border-left-color:#12233D;
      right: -2px;
    }

    &:focus {
      outline: none;
    }
  }

  &__controls {
    display: flex;
    padding-top: 10px;
    width: 100%;
    list-style: none;
    justify-content: flex-end;

    .filter__btn {
      width: 100px;
    }

    .filter__item {
      width: unset;
    }

    @media (min-width: $tablet-sm) {
      width: 100px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin-left: auto;
      padding-top: 15px;

      .filter__item {
        width: 100%;
        padding: 0;
      }
    }

    @media (min-width: $desktop-xs) {
      width: 200px;
      flex-flow: row nowrap;
      margin-left: 0;
      padding: 0;
      align-items: center;
      .filter__item {
        width: 150px;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }

  &__item {
    padding: 5px;
    width: 50%;

    @media (min-width: $tablet-sm) {
      padding: 10px;
    }

    @media (min-width: $desktop-xs) {
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__btn {
    width: 100%;
    height: 36px;
    padding: 0 7px;
    border: none;
    background: #F2F3F5;
    border-radius: 20px;
    color: #12233D;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif, Arial, 'Helvetica Neue', Helvetica;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.-hidden {
      visibility: hidden;
    }

    &.-clear {
      background-color: transparent;
      text-transform: uppercase;
    }

    &.-show-all {
      background-color: transparent;
      color: #D42E2D;
      border: 1px solid #D42E2D;
    }

    &.-active {
      background: linear-gradient(to right, #e1602c 0%, #dc3a3a 100%);
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}
