.filter {
  display: flex;
  margin: 0 auto 10px auto;
  flex-wrap: wrap;

  &__expander {
    display: none;
    width: 100%;
    padding: 10px 60px 10px 22px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.75' stroke='%2312233D' stroke-width='.5'/%3E%3Cpath d='M8.02 10.15c.06 0 .12-.02.17-.06l3.71-2.71a.24.24 0 0 0 .07-.07.19.19 0 0 0 .02-.18.22.22 0 0 0-.06-.07.28.28 0 0 0-.09-.06.33.33 0 0 0-.31.04L8 9.62 4.47 7.04a.3.3 0 0 0-.1-.04.34.34 0 0 0-.21 0 .28.28 0 0 0-.09.06.22.22 0 0 0-.06.07.19.19 0 0 0 .02.18l.07.07 3.71 2.71a.3.3 0 0 0 .1.05H8z' fill='%2312233D'/%3E%3C/svg%3E")
      calc(100% - 22px) center no-repeat;
    border: 1px solid rgba(18, 35, 61, 0.1);
    box-sizing: border-box;
    border-radius: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: #12233d;
    margin-bottom: 14px;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }

    &.expanded {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.75' stroke='%2312233D' stroke-width='.5'/%3E%3Cpath d='M7.98 6.98a.32.32 0 0 0-.17.06L4.1 9.74a.24.24 0 0 0-.07.08.19.19 0 0 0-.02.18l.06.07.09.06a.33.33 0 0 0 .31-.04L8 7.5l3.53 2.58a.3.3 0 0 0 .1.04.34.34 0 0 0 .21 0 .28.28 0 0 0 .09-.06.22.22 0 0 0 .05-.07.19.19 0 0 0-.01-.18.24.24 0 0 0-.07-.07L8.19 7.04a.3.3 0 0 0-.1-.05.34.34 0 0 0-.1 0z' fill='%2312233D'/%3E%3C/svg%3E")
        calc(100% - 22px) center no-repeat;
    }
  }

  .filter__btn {
    padding: 8px 15px;
    border: none;
    background: #f2f3f5;
    border-radius: 100px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #12233d;
    text-align: center;
    margin-bottom: 16px;
    min-width: 122px;

    @media (max-width: 769px) {
      min-width: 152px;
    }

    &:focus {
      outline: none;
    }

    &.-red {
      background: linear-gradient(270deg, #e3621d 0%, #de3535 100%);
      font-weight: 600;
      color: #ffffff;
    }

    &.-disabled {
      position: relative;
      animation: disabledBtb 0.05s linear;
      animation-iteration-count: 3;
    }

    &.-show-all {
      background: #fff;
      font-family: "Raleway";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #d42e2d;
      border: solid 2px transparent;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(to top, #de3535, #e3621d);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #fff inset;
      padding: 6px 15px;
      margin-left: auto;

      @media (max-width: 575px) {
        flex-basis: calc(50% - 8px);
        margin-left: 0;
        min-width: unset;
      }

      &.-active {
      }
    }

    @keyframes disabledBtb {
      from {
        left: -1px;
      }

      to {
        right: -1px;
      }
    }
  }

  .show-all-container {
    display: flex;
    align-items: flex-start;

    @media (min-width: 992px) {
      margin-left: auto;
    }

    @media (max-width: 575px) {
      padding-left: 0 !important;
    }

    @include breakpoint(sm-max) {
      overflow: hidden;
      height: 0;
    }

    &.expanded {
      overflow: auto;
      height: auto;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    @media (max-width: 575px) {
      padding-right: 0 !important;
    }

    @include breakpoint(sm-max) {
      overflow: hidden;
      height: 0;
    }

    &.expanded {
      overflow: auto;
      height: auto;
    }

    .filter__item {
      padding-right: 12px;

      @media (max-width: 575px) {
        flex-basis: calc(50% - 8px);
        padding-right: 0;

        button {
          width: 100%;
          min-width: unset;
        }
      }

      &:nth-child(odd) {
        @media (max-width: 575px) {
          margin-right: 16px;
        }
      }
    }
  }
}

.p {
  &l-0 {
    padding-left: 0;
  }

  &r-0 {
    padding-right: 0;
  }
}
