/* =========================
   Fonts
   =========================*/

body { font:normal 14px $font, Helvetica; color:#000; line-height: 1; -ms-overflow-style: scrollbar; }
body * { -webkit-font-smoothing: antialiased; text-shadow: 0 1px 0 rgba(0,0,0,0.01); }

h1, h2, h3, h4, h5 { color: #000; font-family: $light; }

.title-u, .title-main {
    text-transform: uppercase;
    font-family: $eBold;
}

.title-u {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #BFAFC6;

    @include tablet {
        font-size: 16px;
    }

    @include mobile {
        font-size: 14px;
    }
}

.title-main {
    color: #fff;
    font-family: $black;
    letter-spacing: 4px;

    @include mobile {
        letter-spacing: 3px;
    }
}

.title-s {
    font-size: 14px;
    line-height: 17px;
    font-family: $med;
    color: $col-s;
}

.title {
    font-size: 45px;
    color: #fff;
    font-family: $sBold;
}

.dash {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 1px;
    background: #BFAFC6;
    vertical-align: top;
    margin: 0 14px 0 5px;

    &:after {
        @extend .ps;
        width: 6px;
        height: 1px;
        left: auto;
        right: -9px;
        top: 0;
        background: #BFAFC6;
    }
}

a {
    color: #000;

    &:hover {
        text-decoration: none;
    }
}

.content ul {
    padding-bottom: 20px;

    li {
        position: relative;
        padding-left: 28px;
        line-height: 28px;
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @extend .ps;
            @include border-rad(50%);
            top: 11px;
            left: 8px;
            width: 6px;
            height: 6px;
            border: 2px solid #DE4F4F;
        }
    }
}


@font-face {
    font-family: "Raleway-Medium";
    src: url("/static/fonts/Raleway-Medium.eot");
    src: url("/static/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-Medium.woff") format("woff"),
         url("/static/fonts/Raleway-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("/static/fonts/Raleway-Bold.eot");
    src: url("/static/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-Bold.woff") format("woff"),
         url("/static/fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("/static/fonts/Raleway-SemiBold.eot");
    src: url("/static/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-SemiBold.woff") format("woff"),
         url("/static/fonts/Raleway-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("/static/fonts/Raleway-ExtraBold.eot");
    src: url("/static/fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-ExtraBold.woff") format("woff"),
         url("/static/fonts/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Black";
    src: url("/static/fonts/Raleway-Black.eot");
    src: url("/static/fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-Black.woff") format("woff"),
         url("/static/fonts/Raleway-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("/static/fonts/Raleway-Regular.eot");
    src: url("/static/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-Regular.woff") format("woff"),
         url("/static/fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("/static/fonts/Raleway-Light.eot");
    src: url("/static/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/Raleway-Light.woff") format("woff"),
         url("/static/fonts/Raleway-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("/static/fonts/_MyriadPro-Regular.eot");
    src: url("/static/fonts/_MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/_MyriadPro-Regular.woff") format("woff"),
         url("/static/fonts/_MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("/static/fonts/OpenSansRegular.eot");
    src: url("/static/fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/OpenSansRegular.woff") format("woff"),
         url("/static/fonts/OpenSansRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
