/* =========================
   Forms
   =========================*/

textarea {
    overflow-y: auto;
    resize: none;
}


/* ---------------
    Inputs
    -------------- */

.input-wrap {
    margin-bottom:12px;

    &.input-wrap-l {
        margin-bottom: 37px;
    }

    input, textarea {
        @extend .trans;
        width: 100%;
        color: #6d669f;
        font-size: 14px;
        background: none;
        border: none;

        &:focus {
            border-color: #fff;
            color: #fff;
        }

        @include ph {
            color: #6d669f;
        }
    }

    input {
        height: 53px;
        line-height: 53px;
        padding: 0 18px;
        border-bottom: 1px solid #6d669f;
    }

    textarea {
        padding: 10px 17px;
        height: 110px;
        border: 1px solid #6d669f;
    }
}

.input-cols {
    @include clearfix;

    .input-wrap {
        float: left;
        width: 48%;

        &:last-child {
            float: right;
        }
    }

    @include mobile {

        .input-wrap {
            width: 47%;
        }
    }
}

.input-wrap-2 {

    input, textarea {
        color: #d6dfe5;
        border-color: #d6dfe5;

        &:focus {
            border-color: #1b2f5a;
            color: #1b2f5a;
            border-color: #1b2f5a;
        }
        &.error {
          border-color: red;
          color: red;
        }
        @include ph {
            color: #d6dfe5;
        }
    }
}

@media (max-width: 1440px){

    .career-main.form {

        .input-wrap  {
            margin-bottom: 7px;

            &.input-wrap-l {
                margin-bottom: 23px;
            }

            input, textarea {
                font-size: 12px;
            }

            input {
                height: 39px;
                line-height: 39px;
                padding: 0 8px;

                &.error {
                  border-color: red;
                  color: red;
                }
            }

            textarea {
                padding: 5px 8px;
                height: 70px;

                &.error {
                  border-color: red;
                  color: red;
                }
            }
        }
    }
}

@include desktop {

    .contacts-block {

        .input-wrap-2 {
            margin-bottom: 10px;

            &.input-wrap-l {
                margin-bottom: 33px;
            }

            input, textarea {
                font-size: 13px;
            }

            input {
                height: 48px;
                line-height: 48px;
            }

        }
    }
}

@include tablet {

    .contacts-block {

        textarea {
            height: 95px;
        }
    }
}


@include mobile {

    .contacts-block {

        textarea {
            height: 70px;
        }
    }
}

/* ---------------
    Select
    -------------- */

.select-item {
    position: relative;

    .chosen-container {
        width: 100% !important;
    }

    .chosen-container-single {

        .chosen-single {
            @include border-rad(35px);
            height: 50px;
            border: 2px solid #fff;
            padding: 0 0 0 21px;
            box-shadow: none;
            background: none;

            @include mobile {
                padding-left: 15px;
            }

            &:hover span {

            }

            span {
                @extend .trans;
                line-height: 46px;
                height: 100%;
                color: #fff;
                letter-spacing: 0.8px;
                font-family: $bold;
                text-transform: uppercase;

                @include mobile {
                    font-size: 12px;
                    letter-spacing: 0;
                }
            }

            div {
                width: 27px;

                @include mobile {
                    width: 22px;
                }
            }

            b {
                @include trans(0.1s);
                position: absolute;
                top: 50%;
                margin-top: -4px;
                display: block;
                width: 10px;
                height: auto;
                border-top: 2px solid #fff;

                &:after {
                    content:"";
                    display: block;
                    position: absolute;
                    top: -4px;
                    right: 0;
                    left: 2px;
                    width: 7px;
                    height: 8px;
                    transform: rotate(45deg);
                    border-right: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        &.chosen-with-drop .chosen-single {
            background-color: #fff;

            span {
                color: #1b2f5a;
            }

            b, b:after {
                border-color: #1b2f5a;
            }
        }

        .chosen-drop {
            @include border-rad(21px);
            margin-top: -50px;
            border: 2px solid #fff;
            box-shadow: none;
            background: none;
            z-index: 999;
            padding-top: 32px;

            .chosen-search {
                display: none;
            }

            .chosen-results {
                position: relative;
                margin: 0;
                padding: 16px 0 0;

                &:after {
                    @extend .ps;
                    top: 15px;
                    height: 1px;
                    left: 15px;
                    right: 15px;
                    z-index: 100;
                    background-color: #e8e8e8;
                }

                &:before {
                    @extend .ps;
                    height: 16px;
                    left: 0;
                    right: 0;
                    top: 0;
                    background-color: #fff;
                    z-index: 1;
                }

                li {
                    @extend .trans;
                    position: relative;
                    color: #1b2f5a;
                    font-size: 14px;
                    padding:13px 16px;
                    background: #fff;
                    font-family: $sBold;

                    &:last-child {
                        @include border-rad-btm(19px);
                    }
                }

                li.highlighted {
                    background: #f5f6f8;
                }
            }
        }
    }
}


/* ----------------
    Perfect Scroll
    --------------- */

.scroll.ps-container > .ps-scrollbar-y-rail { width: 3px; background: #e8e5e2; }
.scroll.ps-container > .ps-scrollbar-x-rail { display: none !important; }
.scroll.ps-container > .ps-scrollbar-y-rail .ps-scrollbar-y { width: 3px; background:#000; }


/* ---------------
    Buttons
    -------------- */

.button {
  border-radius: 35px;
  padding: 16px 28px;
  display: inline-block;
  height: 45px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  border: none;
  outline: none;
  font-family: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
  box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.3);
  cursor: pointer;

  &.button-send {
    width: 100px;

    img {
      width: 26px;
      margin-top: -6px;
    }
  }
  &:hover {
    box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.4);
  }
  &.pending {
    background-image: linear-gradient(90deg, #aaa 0%, #ccc 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: none;
    }
  }
}

.btn {
    @include border-rad(35px);
    @extend .trans;
    padding: 0 20px;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-family: $bold;
    letter-spacing: 1px;
}

.btn-s-1 {
    background-image: linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.3);

    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;

    .btn-inner {
        @include border-rad(35px);
        z-index: 100 !important;
        background-image: linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    }

    &:hover {
        box-shadow: 0px 5px 20px 0px rgba(203, 55, 55, 0.4);
    }
}

.btn-g {
    @include border-rad(10px);
    background-color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-family: $bold;
}

.btn-ico {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 38px 0 57px;

    .ico {
        position: absolute;
        top: 19px;
        left: 22px;
    }

    &:hover {
        background: #666;
    }

    @include desktop {
        padding:0 25px 0 50px;
        height: 50px;
        line-height: 50px;

        .ico {
            top: 15px;
            left: 16px;
        }
    }

    @include mobile {
        height: 45px;
        line-height: 45px;
        padding: 0 25px;
        font-size: 11px;

        .ico {
            display: none;
        }
    }

    @include mobile-s {
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-size: 9px;
    }
}

.btn-wrap {
    display: table;
    width: 100%;
    text-align: center;
}

$bg-color: -webkit-linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
$action-color: linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);


.btn-a {
  @include border-rad(35px);
  -webkit-font-smoothing: antialiased;
  // background: -webkit-linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
  // background: linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  padding: 0;
  transition: all 0.1s ease-out;

  &:hover {
    //background-color: $action-color;
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

    .btn-bubble {
        display: block;
        position: relative;
        z-index: 2;
        text-decoration: none;
        color: #fff;

        &:hover {
          background: none;
        }

        // &:hover + .button--bubble__effect-container .circle {
        //   opacity: 0.9;
        // }

        // &:hover + .button--bubble__effect-container .button {
        //   opacity: 0.9;
        // }

        &:active + .btn-bubble-effect-container {
          transform: scale(0.95);
        }
    }

   .btn-bubble-container {
        @include border-rad(35px);
        position: relative;
        display: block;
        text-transform: uppercase;
    }
}

.btn-bubble-effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;

  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;

    transition: background 0.1s ease-out;

        &.top-left {
            top: 40%;
            left: 27%;
            background: rgb(222,53,53);
            background: rgb(222,53,53);
        }

        &.bottom-right {
            bottom: 40%;
            right: 27%;
            background: rgb(227,98,29);
            background: rgb(227,98,29);
        }
    }

    // .effect-button {
    //     position: absolute;
    //     width: 50%;
    //     height: 25%;
    //     top: 50%;
    //     left: 25%;
    //     z-index: 0;
    //     transform: translateY(-50%);
    //     background: -webkit-linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    //     background: linear-gradient( 0deg, rgb(222,53,53) 0%, rgb(227,98,29) 100%);
    //     transition: background 0.1s ease-out;
    // }
}

.goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}
