// Colors, Fonts
$med: "Raleway-Medium";
$bold: "Raleway-Bold";
$eBold: "Raleway-ExtraBold";
$sBold: "Raleway-SemiBold";
$black: "Raleway-Black";
$reg: "Raleway-Regular";
$font: "OpenSansRegular";
$light: "Raleway-Light";
$mp-reg: "MyriadPro-Regular";

$col-b: #2D4352;
$col-r: #DE4F4F;
$col-f: #1E0848;
$col-s: #a9bbea;
$col-bor: #EEF0F1;

$desktop-width: 1366px;
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-s: 374px;

// Mixins
@mixin desktop {
	@media (max-width: #{$desktop-width}) {
   		@content;
  	}
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: #{$mobile-width-s}) {
        @content;
    }
}

@mixin lt {
    @media (min-width: 1025px) and (max-width: 1366px) {
        @content;
    }
}

// Socket
@mixin socket {
    position: relative;
    width: 1138px;
    margin: auto;
}

// Web Kit Hack
@mixin wk {
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@content;
	}
}

/* IE10>= */
@mixin ie10 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

// Rotate
@mixin rot($deg) {
    transform: rotate($deg); -webkit-transform: rotate($deg); -moz-transform:rotate($deg); -o-transform:rotate($deg);
}

// Centered
@mixin centerQ($width, $height) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $width;
    height: $height;
    margin-top: -$height/2;
    margin-left: -$width/2;
}

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Background
@mixin sp($x, $y){
    background: url(/static/images/sprites.png) $x $y;
}

// Full
@mixin full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// Link Border
@mixin link-bor($col, $colh) {
    text-decoration: none;
    border-bottom: 1px solid $col;
    color: $col;

    &:hover {
        border-color: $colh;
    }
}

// Vertiacl Align Midle
@mixin mdl {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@mixin vert-middle {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Scale
@mixin scale($val){
    transform: scale($val);
    -ms-transform: scale($val);
    -webkit-transform: scale($val);
}

// Calc
@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

// Border Radius
@mixin border-rad ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-rad-top ($radius) {
	-webkit-border-radius: $radius $radius 0 0;
	-moz-border-radius: $radius $radius 0 0;
	-ms-border-radius: $radius $radius 0 0;
	border-radius: $radius $radius 0 0;
}

@mixin border-rad-btm ($radius) {
	-webkit-border-radius: 0 0 $radius $radius;
	-moz-border-radius: 0 0 $radius $radius;
	-ms-border-radius: 0 0 $radius $radius;
	border-radius: 0 0 $radius $radius;
}

@mixin border-rad-left ($radius) {
	-webkit-border-radius: $radius 0 0 $radius;
	-moz-border-radius: $radius 0 0 $radius;
	-ms-border-radius: $radius 0 0 $radius;
	border-radius:$radius 0 0 $radius;
}

@mixin border-rad-right ($radius) {
	-webkit-border-radius: 0 $radius $radius 0;
	-moz-border-radius: 0 $radius $radius 0;
	-ms-border-radius: 0 $radius $radius 0;
	border-radius:0 $radius $radius 0;
}

// :after :before
.ps {
	content:"";
	display: block;
	position: absolute;
	top: 0;
}

// Plaseholder
@mixin ph {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

// Border Opacity
@mixin border-btm-opa($rgba1, $rgba2, $rgba3, $opacity){
	border-bottom: 1px solid rgba($rgba1, $rgba2, $rgba3, $opacity);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

// Transition
@mixin transition($transition-property, $transition-time, $method){
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin trans($time) {
    transition: all $time ease-out;
    -webkit-transition: all $time ease-out;
    -ms-transition: all $time ease-out;
}

.trans {
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
}

// Delay
@mixin delay($time) {
    -webkit-transition-delay:$time;
    -ms-transition-delay:$time;
    transition-delay:$time;
}

@mixin a-delay($time){
    animation-delay: $time !important;
    -webkit-animation-delay: $time !important;
}

// Border Boxing
@mixin border-box {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

// Arrows
@mixin tr-top($bwr, $bwb, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width: 0 $bwr $bwb $bwl; border-color:  transparent transparent $col transparent;
}

@mixin tr-right($bwt, $bwb, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width:  $bwt 0 $bwb $bwl; border-color:   transparent transparent transparent $col;
}

@mixin tr-bottom($bwt, $bwr, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width: $bwt $bwr 0  $bwl; border-color: $col  transparent transparent transparent;
}

@mixin tr-left($bwt, $bwr, $bwb, $col) {
    width: 0; height: 0; border-style: solid; border-width: $bwt $bwr $bwb 0; border-color: transparent $col   transparent transparent;
}

@mixin st($size, $color, $deg) {
    position: absolute; display: block; width: $size; height: $size;  border-left-color: $color; pointer-events: none; border-right: 1px solid $color; border-top: 1px solid $color;
    transform: rotate($deg); -webkit-transform: rotate($deg); -moz-transform:rotate($deg); -o-transform:rotate($deg);
}

// Scale
@mixin scale($scale){
    transform: scale($scale);
    -ms-transform: scale($scale);
    -webkit-transform: scale($scale);
}

// Flexbox
@mixin flex($val) {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;

    justify-content: $val;
    -webkit-justify-content: $val;
}

// Visibility Hidden
.vis-hidden {
    -webkit-backface-visibility: hidden !important;
}

// Animation
@mixin animation($name, $duration, $func){
    animation: $name $duration $func;
    -ms-animation: $name $duration $func;
    -webkit-animation: $name $duration $func;
}

@mixin animation-d($name, $duration, $func, $delay){
    animation: $name $duration $func $delay;
    -ms-animation: $name $duration $func $delay;
    -webkit-animation: $name $duration $func $delay;
}

// Others
.no-select {
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
