.container {
  width: 100%;
  max-width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    &.reverse {
      @media screen and (max-width: 900px) {
	flex-direction: row;
	flex-wrap: wrap-reverse;
      }
    } 
    @media screen and (min-width: 901px) {
      flex-direction: row;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .col-2 {
      width: 100%;
      max-width: 100%;
      &:after {
	content: "";
	display: table;
	clear: both;
      }
      @media screen and (min-width: 901px) {
	width: 50%;
	max-width: 50%;
      }
    }

    .col-1 {
      width: 100%;
      max-width: 100%;
      &:after {
	content: "";
	display: table;
	clear: both;
      }
    }
    .col-4-1 {
      width: 250%;
      max-width: 25%;
      &:after {
	content: "";
	display: table;
	clear: both;
      }
    }
    .col-4-3 {
      @media screen and (min-width: 901px) {
	width: 75%;
	max-width: 75%;
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
      }
    }
  }
}

