.grid:after {
  content: "";
  display: table;
  clear: both;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
[class*='col-'] {
  float: left;

  @include for-tablet {
    width: 100%;
  }
}
