.content-navigation-carousel {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 600;
}
.content-navigation-carousel-inner {
  flex-grow: 1;
  padding: 30px 25px 40px;
  max-width: 820px;
  margin: 0 auto;
}
.content-navigation-carousel-link {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 0 0 0 45px;

  .content {
    min-height: auto;
    padding: 0;
    transition: transform .3s ease-in-out;
  }
  .name {
    font-size: 24px;
    opacity: .7;
    color: #fff;
    margin: 0 0 10px;
  }
  .description {
    font-size: 14px;
    line-height: 20px;
    color: #a9bbea;

    @include for-tablet {
      @include visible(false);
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    opacity: .7;
    transition: transform .3s ease-in-out;
  }
  &.current {
    margin: 50px 0;
    padding: 0;
  }
  &.prev:before {
    @include tr-top(8px, 8px, 8px, #fff);
  }
  &.next:before {
    @include tr-bottom(8px, 8px, 8px, #fff);
  }
  &:hover {
    &.prev {
      .content, &:before {
        transform: translateY(-10px);
      }
    }
    &.next {
      .content, &:before {
        transform: translateY(10px);
      }
    }
    &:before {
      transition-delay: .1s;
    }
  }
}
