@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Caveat');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1.2;
  font-family: 'Raleway', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #12233d;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;

  &:before, &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
