.p-r-30 {
  box-sizing: border-box;
  padding-right: 30px;
}

.border-box {
  box-sizing: border-box;
}


.self-logo-title {
  color: #27056c;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-family: 'Times New Roman, sans-serif';
}

.self-title {
  padding: 15px 0;
  span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #36166a;
  }
}

.self-subtitle {
  span {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #a4a3a3;
  }
}

.self-body {
  span {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #313131;
  }
}

.self-hr {
  display: none;
  margin: 90px 0 50px;

  border: 0;
  height: 3px;
  background: #310a44;
  @media screen and (min-width: 1101px) {
    display: block;
  }
  @media screen and (min-width: 1500px) {
    margin: 90px 0 80px;
  }

  
}

.self-quotes {
  display: flex;
  div {
    &:first-child {
      background: url(/static/images/project/quotes.svg) top no-repeat;
      min-width: 50px;
      min-height: 100px;
    }
    &:last-child {
      display: flex;
      padding-left: 10px;
      span {
	font-family: 'Times New Roman, sans-serif';
	display: block;
	margin-top: auto;
	font-style: italic;
      }
    }
  }
}

.self-digit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  span {
    line-height: 66px;
    font-weight: 100;
    font-family: 'Open Sans';
    &:first-child {
      font-size: 78px;
      color: #a4a3a3;
      vertical-align: top;
    }
    &:last-child {
      display: block;
      width: 30px;
      height: 76px;
      background: url(/static/images/project/vertical-line.svg) center no-repeat;
      padding: 0 20px;
    }
  }
}

.slash-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  span {
    &:first-child {
      display: block;
      width: 30px;
      height: 76px;
      background: url(/static/images/project/vertical-line.svg) center no-repeat;
    }
    &:last-child {
      font-size: 30px;
      line-height: 78px;
      font-weight: 400;
      font-family: 'Open Sans';
      color: #36166a;
    }
  }
}

.self-sse {
  display: none;
  @media screen and (min-width: 1101px) {
    display: block;
    color: #a4a3a3;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    font-family: 'Times New Roman, sans-serif';
    text-align: right;
    width: 100%;
  }
}

.self-intro {
  .self-intro-body-container {
    padding: 50px 50px 50px 20px;
    @media screen and (min-width: 1101px) {
      padding: 150px 50px 50px 20px;
    }
    @media screen and (min-width: 1500px) {
      padding: 150px 100px 50px 110px;
    }
    @media screen and (min-width: 1900px) {
      padding: 150px 100px 200px 110px;
    }

    .self-quotes {
      padding-top: 30px;
    }
    
    .self-intro-title-container {
      .self-body {
	padding: 40px 0 0 0;
      }
    }
  }
  .self-intro-image {
    background: url(/static/images/project/self-lider-logo.png) left no-repeat;
    @media screen and (max-width: 1100px) {
      height: 400px;
      background-size: contain;
    }
    @media screen and (min-width: 550px) {
      height: 450px;
    }
    @media screen and (min-width: 600px) {
      height: 500px;
    }
    @media screen and (min-width: 650px) {
      height: 600px;
    }
    @media screen and (min-width: 1101px) {
      background: url(/static/images/project/self-lider-logo.png) top left no-repeat;
      height: 550px;
    }
    @media screen and (min-width: 1101px) {
      background-size: contain;
    }
  }
}


.self-tutorial {
  @media screen and (min-width: 1101px) {
    padding-bottom: 100px;
  }
  
  .self-tutorial-body {
    padding: 50px 30px 30px 20px;
    @media screen and (min-width: 1500px) {
      padding: 50px 80px 30px 110px;
    }

  }
  .self-tutorial-image {
    &>div {
      background: url(/static/images/project/self-team.png) left no-repeat;
      background-size: cover;
      @media screen and (max-width: 1100px) {
	height: 400px;
	background-size: cover;
      }
      @media screen and (min-width: 600px) {
	height: 450px;
      }
      @media screen and (min-width: 650px) {
	height: 500px;
      }
      @media screen and (min-width: 1101px) {
	height: 350px;
      }
      @media screen and (min-width: 1101px) {
	height: 500px;
      }
    }
  }
}

.self-tech {
  .self-tech-content {
    padding: 50px 30px 50px 20px;
    @media screen and (min-width: 1101px) {
      padding: 0 80px 50px 120px;
    }
    @media screen and (min-width: 1500px) {
      padding: 0 120px 50px 180px;
    }
    @media screen and (min-width: 1700px) {
      padding: 0 150px 50px 200px;
    }
    @media screen and (min-width: 1900px) {
      padding: 0 180px 50px 220px;
    }
    @media screen and (min-width: 1900px) {
      padding: 0 210px 50px 250px;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .self-tech-content-left {
      width: 50%;
      @media screen and (min-width: 1101px) {
	width: 100%;
      }
    }
    .self-tech-content-right {
      width: 50%;
      @media screen and (min-width: 1101px) {
	width: 100%;
      }
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      span {
	margin: 7px 0;
	font-size: 20px;
	line-height: 50px;
	width: 140px;
	border: 2px solid #350f48;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	text-align: center;
	font-weight: 300;
	font-family: 'Open Sans';
	@media screen and (min-width: 1101px) {
	  margin-left: auto;
	}
      }
    }
  }
  .self-tech-image {
    background: url(/static/images/project/self-tech.png) right no-repeat;
    background-size: cover;
    @media screen and (max-width: 1100px) {
      height: 400px;
      background-size: cover;
    }
    @media screen and (min-width: 600px) {
      height: 450px;
    }
    @media screen and (min-width: 650px) {
      height: 500px;
    }
  }
}

.self-impressed {
  &>div {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 50px 30px 20px;
    @media screen and (min-width: 1500px) {
      padding: 40px 100px 30px 130px;
    }
    @media screen and (min-width: 1800px) {
      padding: 40px 180px 30px 200px;
    }
  }
}

.self-screen {
  &>div {
    background: url(/static/images/project/self-screen.png) center no-repeat;
    height: 350px;
    background-size: cover;
    @media screen and (min-width: 500px) {
      height: 400px;
    }
    @media screen and (min-width: 600px) {
      height: 450px;
    }
    @media screen and (min-width: 650px) {
      height: 500px;
    }
    @media screen and (min-width: 1500px) {
      height: 800px;
    }
    
  }
}

.self-achivements {
  padding: 50px 0;
  .self-achivements-content {
    padding: 20px;
    @media screen and (min-width: 1101px) {
      padding: 60px 20px 20px 20px;
    }
    @media screen and (min-width: 1500px) {
      padding: 60px 100px 50px 100px;
    }
    .title-container {
      padding-left: 30px;
    }
  }
  .content-container {
    &>div {
      display: flex;
      margin: 15px 0;
      span {
	&:first-child {
	  display: block;
	  min-width: 56px;
	  min-height: 21px;
	  background: url(/static/images/project/self-checkbox.png) left no-repeat;
	}
      }
    }
  }
  .self-achivements-image {
    &>div {
      background: url(/static/images/project/self-achivement.jpg) left no-repeat;
      height: 350px;
      background-size: cover;
      @media screen and (min-width: 500px) {
	height: 400px;
      }
      @media screen and (min-width: 600px) {
	height: 450px;
      }
      @media screen and (min-width: 1101px) {
	height: 350px;
      }
      @media screen and (min-width: 1500px) {
	height: 500px;
      }
    }
  }
}

.self-managed {
  @media screen and (min-width: 1101px) {
    padding: 50px 0;
  }
  .self-managed-content {
    padding: 50px 20px 25px 20px;
    @media screen and (min-width: 1500px) {
      padding: 50px 100px 50px 100px;
    }

    .self-managed-chapter {
      padding: 0 30px 15px 10px;
      .self-subtitle {
	padding: 15px 0;
      }
    }
  }
  .self-managed-image {
    background: url(/static/images/project/self-managed.png) right no-repeat;
    height: 350px;
    background-size: cover;
    @media screen and (min-width: 500px) {
      height: 400px;
    }
    @media screen and (min-width: 600px) {
      height: 450px;
    }
    @media screen and (min-width: 650px) {
      height: 500px;
    }
  }
}
.container {
  .row {
    &.self-development {
      flex-direction: column;
      .self-development-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 60px 50px 30px 40px;
	@media screen and (min-width: 1101px) {
	  padding: 60px 0 30px 0;
	}
	.self-development-header-title {
	  @media screen and (min-width: 1101px) {
	    width: 33%;
	    text-align: center;
	    padding-top: 40px;
	  }
	  .self-digit {
	    @media screen and (min-width: 1101px) {
	      justify-content: center;
	    }	    
	  }
	}
	.self-development-header-line {
	  width: 33.3%;
	  display: none;
	  @media screen and (min-width: 1101px) {
	    display: block;
	  }
	}
      }
      .self-development-images-container {
	padding: 0 20px;
	flex-direction: column;
	@media screen and (min-width: 1500px) {
	  flex-direction: row;
	}
	
	@media screen and (min-width: 1500px) {
	  padding: 0 50px;
	}

	div {
	  @media screen and (min-width: 1101px) {
	    padding: 0 5px;
	  }
	  @media screen and (min-width: 1500px) {
	    padding: 0 50px;
	  }
	  &.self-body {
	    padding: 25px 0;
	    @media screen and (min-width: 1800px) {
	      padding: 50px 30px;
	    }
	    @media screen and (min-width: 1900px) {
	      padding: 80px 50px;
	    }
	    @media screen and (min-width: 2100px) {
	      padding: 80px 80px;
	    }
	  }
	}
	.self-development-image {
	  height: 260px;
	  &.image-1 {
	    background: url(/static/images/project/self-dev-image-1.png) center no-repeat;
	  }
	  &.image-2 {
	    background: url(/static/images/project/self-dev-image-2.png) center no-repeat;
	  }

	  &.image-3 {
	    background: url(/static/images/project/self-dev-image-3.png) center no-repeat;
	  }
	}
      }
    }
  }
}

.container {
  .row {
    &.self-flow {
      flex-direction: column;
      .self-flow-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 60px 50px 0 40px;
	@media screen and (min-width: 1101px) {
	  padding: 60px 0 0 0;
	}
	.self-flow-header-line {
	  width: 33.3%;
	  display: none;
	  @media screen and (min-width: 1101px) {
	    display: block;
	  }
	}
	.self-flow-header-title {
	  @media screen and (min-width: 1101px) {
	    width: 33%;
	    text-align: center;
	    padding-top: 40px;
	  }
	  .self-digit {
	    @media screen and (min-width: 1101px) {
	      justify-content: center;
	    }	    
	  }
	}
      }
      .self-flow-body-web-container {
	@media screen and (min-width: 1300px) {
	  padding: 0 100px;
	}	    

	.self-flow-body-web {
	  display: none;
	  min-height: 550px;
	  background: url(/static/images/project/self-flow.png) center no-repeat;
	  background-size: contain;
	  @media screen and (min-width: 1101px) {
	    display: flex;
	    flex-direction: column;
	  }	    
	  @media screen and (min-width: 1300px) {
	    min-height: 600px; 
	  }	    
	  @media screen and (min-width: 1600px) {
	    min-height: 650px;
	  }
	  @media screen and (min-width: 1700px) {
	    min-height: 700px;
	  }
	  @media screen and (min-width: 1800px) {
	    min-height: 750px;
	  }
	  @media screen and (min-width: 2000px) {
	    min-height: 800px;
	  }
	  @media screen and (min-width: 2100px) {
	    min-height: 850px;
	  }
	  @media screen and (min-width: 2200px) {
	    min-height: 900px;
	  }
	  @media screen and (min-width: 2300px) {
	    min-height: 950px;
	  }
	  @media screen and (min-width: 2500px) {
	    min-height: 1000px;
	  }
	  @media screen and (min-width: 2700px) {
	    min-height: 1050px;
	  }
	  
	  .self-flow-web-1 {
	    display: flex;
	    padding-top: 40px;
	    div {
	      width: 20%;
	      text-align: center;
	      &.self-flow-web-middle {
		width: 15%;
	      }
	    }
	  }
	  .self-flow-web-2 {
	    margin-top: auto;
	    margin-bottom: auto;
	    @media screen and (min-width: 1300px) {
	      padding-bottom: 100px;
	    }  
	    &>div {
	      width: 18%;
	      margin-left: auto;
	      padding-right: 5%;
	      text-align: center;
	    }
	  }
	  .self-flow-web-3 {
	    margin-top: auto;
	    &>div {
	      width: 30%;
	      margin: 0 auto 0;
	      padding-top: 60px;
	      text-align: center;
	    }
	  }

	  .self-flow-web-4 {
	    margin-top: auto;
	    &>div {
	      width: 18%;
	      margin-left: auto;
	      padding-right: 3%;
	      text-align: center;
	    }
	  }
	  
	  @media screen and (min-width: 1101px) {
	    display: flex;
	  }
	}
      }      
      .self-flow-body-mobile {
	padding: 0 20px 30px 20px;
	flex-direction: column;
	@media screen and (min-width: 1101px) {
	  display: none;
	}
	.self-body {
	  padding: 20px 0;
	}
      }
    }
  }
}

.self-mockup {
  div {
    height: 300px;
    background: url(/static/images/project/self-free-mockup.png) left no-repeat;
    background-size: cover;
    @media screen and (min-width: 550px) {
      height: 400px;
    }
    @media screen and (min-width: 600px) {
      height: 450px;
    }
    @media screen and (min-width: 1500px) {
      height: 500px;
    }
    @media screen and (min-width: 1700px) {
      height: 550px;
    }
    @media screen and (min-width: 1900px) {
      height: 600px;
    }
    @media screen and (min-width: 2300px) {
      height: 650px;
    }
    @media screen and (min-width: 2700px) {
      height: 700px;
    }

  }
}

.self-footer {
  &>div {
    padding: 100px 0 50px 0;
    &>a {
      width: 100%;
      &>div {
	margin: 0 auto;
	width: 100%;
	height: 190px;
	background: url(/static/images/project/self-footer.png) center no-repeat;
	background-size: contain;
      }
    }
  }
}
